<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Inherits="CodeSmith.QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA Map" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.QuickStart" Path="..\..\Common" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="CodeSmith.QuickStart" %>

        #region Exists Command

<% if(IncludeSilverlightSupport) { %>
#if !SILVERLIGHT
<% } %>
        public static bool Exists(<%= CriteriaClassName %><%= Entity.GenericProperty %> criteria)
        {
            return <%= BusinessProjectName %>.<%= ChildBusinessClassName %>.Exists(criteria);
        }

<% if(IncludeSilverlightSupport) { %>
#else

        public static void Exists(<%= CriteriaClassName %><%= Entity.GenericProperty %> criteria, EventHandler<DataPortalResult<ExistsCommand>> handler)
        {
            <%= BusinessProjectName %>.<%= ChildBusinessClassName %>.Exists(criteria,handler);
        }

#endif
<% } %>
        #endregion

