<%-- 
Name: sample3.cst
Author: Tom DuPont
Description: This template demonstrates using properties in your template.
--%>

<%@ CodeTemplate Language="VB" TargetLanguage="Text" Description="This template demonstrates using properties in your template." %>
<%@ Property Name="Person" Type="System.String" Description="This will show up at the bottom of the property grid when the property is selected." %>

This is some static content (just like the static HTML in a ASP page).

<%= "Hello " + Me.Person + "!" %>

This is more static content.
