<%-- 
Name: sample2.cst
Author: Tom DuPont
Description: This template demonstrates using template script blocks.
--%>

<%@ CodeTemplate Language="VB" TargetLanguage="Text" Description="This template demonstrates using template script blocks." %>

This is some static content (just like the static HTML in a ASP page).

<%= SomeStringMethod() %>

<% SomeRenderMethod() %>

This is more static content.

<script runat="template">
Public Function SomeStringMethod() As String
	Return "Today's date: " + DateTime.Now.ToString("MM/dd/yyyy")
End Function

Public Sub SomeRenderMethod()
	Response.WriteLine("This is more dynamic content using a render method.")
	Response.WriteLine("Hello " + System.Environment.UserName + "!")
End Sub
</script>