<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" OutputType="None" Inherits="CodeSmith.QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA ReadOnlyList" %>

<%@ Register Name="ReadOnlyList" Template="Internal\ReadOnlyList.cst" %>
<%@ Register Name="ReadOnlyListDataAccess" Template="Internal\ReadOnlyList.DataAccess.cst" %>
<%@ Register Name="ReadOnlyListDataAccessParameterized" Template="Internal\ReadOnlyList.DataAccess.ParameterizedSQL.cst" %>
<%@ Register Name="ReadOnlyListDataAccessLinqToSQL" Template="Internal\ReadOnlyList.DataAccess.LinqToSQL.cst" %>
<%@ Register Name="ReadOnlyListDataAccessStoredProcedures" Template="Internal\ReadOnlyList.DataAccess.StoredProcedures.cst" %>
<%@ Register Name="ReadOnlyListGenerated" Template="Internal\ReadOnlyList.Generated.cst" %>

<%@ Register Name="SqlStoredProcedures" Template="..\DataAccessLayer\Internal\SQLStoredProcedures.cst" %>

<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="CodeSmith.QuickStart" %>
<%@ Import Namespace="SchemaExplorer" %>

<script runat="template">

public override void Render(System.IO.TextWriter writer)
{
    RegisterReferences();

    #region ReadOnlyList
    
    ReadOnlyList readOnlyList = this.Create<ReadOnlyList>();
    this.CopyPropertiesTo(readOnlyList);
    
    string parentFileName = System.IO.Path.Combine(Location, string.Format("Collections\\{0}.cs", readOnlyList.BusinessClassName));
    if (!System.IO.File.Exists(parentFileName))
    {
        readOnlyList.RenderToFile(parentFileName, false);
    }
    
    #region ReadOnlyList.Generated
    
    string fileName = System.IO.Path.Combine(Location, string.Format("Collections\\{0}.Generated.cs", readOnlyList.BusinessClassName));
    
    ReadOnlyListGenerated readOnlyListGenerated = this.Create<ReadOnlyListGenerated>();
    this.CopyPropertiesTo(readOnlyListGenerated);
    
    readOnlyListGenerated.RenderToFile(fileName, parentFileName, true);
    
    #endregion
    
    #region ReadOnlyList.DataAccess
    
    fileName = System.IO.Path.Combine(Location, string.Format("Collections\\{0}.DataAccess.cs", readOnlyList.BusinessClassName));
    if(DataAccessImplementation == DataAccessMethod.None)
    {
        ReadOnlyListDataAccess readOnlyListDataAccess = this.Create<ReadOnlyListDataAccess>();
        this.CopyPropertiesTo(readOnlyListDataAccess);
        
        readOnlyListDataAccess.RenderToFile(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.ParameterizedSQL)
    {
        ReadOnlyListDataAccessParameterized readOnlyListDataAccessParameterized = this.Create<ReadOnlyListDataAccessParameterized>();
        this.CopyPropertiesTo(readOnlyListDataAccessParameterized);
        
        readOnlyListDataAccessParameterized.RenderToFile(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.LinqToSQL)
    {
        ReadOnlyListDataAccessLinqToSQL readOnlyListDataAccessLinqToSQL = this.Create<ReadOnlyListDataAccessLinqToSQL>();
        this.CopyPropertiesTo(readOnlyListDataAccessLinqToSQL);
        
        readOnlyListDataAccessLinqToSQL.RenderToFile(fileName, parentFileName, true);
    }
	else if(DataAccessImplementation == DataAccessMethod.StoredProcedures)
    {
        ReadOnlyListDataAccessStoredProcedures readOnlyListDataAccessStoredProcedures = this.Create<ReadOnlyListDataAccessStoredProcedures>();
        this.CopyPropertiesTo(readOnlyListDataAccessStoredProcedures);

        readOnlyListDataAccessStoredProcedures.RenderToFile(fileName, parentFileName, true);

        //StoredProcedures
        fileName = System.IO.Path.Combine(Location, string.Format("Collections\\{0}.StoredProcedures.sql", readOnlyList.BusinessClassName));
        SqlStoredProcedures sqlStoredProcedures = this.Create<SqlStoredProcedures>();
        this.CopyPropertiesTo(sqlStoredProcedures);
        sqlStoredProcedures.DataProjectName = "Not needed for sql stored procedures.";
        
        sqlStoredProcedures.RenderToFile(fileName, parentFileName, true);
    }
    
    #endregion
    
    #endregion
}

public override bool OnTableChanging()
{
    if (string.IsNullOrEmpty(BusinessClassName))
    {
        BusinessClassName = string.Concat(Entity.ClassName, "InfoList");
        ChildBusinessClassName = string.Concat(Entity.ClassName, "Info");
    }

    if (string.IsNullOrEmpty(CriteriaClassName) || CriteriaClassName.Equals("Criteria", StringComparison.InvariantCultureIgnoreCase))
        CriteriaClassName = String.Concat(Entity.ClassName, "Criteria");

    return false;
}

</script>