<%--
Author:
    Milan Negovan
    milan@aspnetresources.com
    
Description:
    An implementation of an interface with the Microsoft AJAX Library
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="JavaScript" Description="An implementation of an interface with the Microsoft AJAX Library" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Property Name="Namespace" Type="System.String" Optional="False" Category="1. Namespace and interface name" %>
<%@ Property Name="InterfaceName" Type="System.String" Optional="False" Category="1. Namespace and interface name" %>
<%@ Property Name="Methods" Description="Interface methods" Optional="true" Type="CodeSmith.CustomProperties.StringCollection" Category="2. Methods" %>
Type.registerNamespace('<%= Namespace %>');

<%= Namespace %>.<%= InterfaceName %> = function() {
    throw Error.notImplemented();
}
    
<%= Namespace %>.<%= InterfaceName %>.prototype = {
	
<%  int count = Methods.Count;

    for (int i=0; i < count; i++) { %>
	<%= Methods[i] %>: function() {}<% if (i != count - 1) %>,<% %>
<% } %>
}

<%= Namespace %>.<%= InterfaceName %>.registerInterface ('<%= Namespace %>.<%= InterfaceName %>');
