<%--
Author:
    Milan Negovan
    milan@aspnetresources.com
    
Description:
    An implementation of an enumeration with the Microsoft AJAX Library
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="JavaScript" Description="An implementation of an enumeration with the Microsoft AJAX Library" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Property Name="Namespace" Type="System.String" Optional="False" Category="1. Namespace and enum name" %>
<%@ Property Name="EnumerationName" Type="System.String" Optional="False" Category="1. Namespace and enum name" %>
<%@ Property Name="Members" Type="CodeSmith.CustomProperties.StringCollection" Optional="false" Description="Enumeration constants" Category="2. Members" %>
<%@ Property Name="StartWith" Type="System.Int32" Default="1" Optional="False" Description="The initial value of the enumeration sequence" Category="3. Misc" %>
<%@ Property Name="UseFlags" Type="System.Boolean" Default="false" Optional="False" Description="Indicates whether enumeration members should be treated as boolean flags" Category="3. Misc" %>
Type.registerNamespace('<%= Namespace %>');

<%= Namespace %>.<%= EnumerationName %> = function() {
    throw Error.notImplemented();
}

<%= Namespace %>.<%= EnumerationName %>.prototype = {
<% if (UseFlags && !IsPowerOf2 (StartWith))
        throw new Exception ("The 'StartWith' parameter should be a power of 2 with flag members.");
        
   int count = Members.Count;
   for (int i=0; i < count; i++) { %>
    <%= Members[i] %> : <%= UseFlags ? (StartWith * Math.Pow(2, i)) : (StartWith + i) %><% if (i != count-1) %>,<% %>
<% } %>
}

<%= Namespace %>.<%= EnumerationName %>.registerEnum('<%= Namespace %>.<%= EnumerationName %>'<% if (UseFlags) %>, true<% %>);
<script runat="template">
public bool IsPowerOf2 (int value)
{
    return value != 0 && (value & (value - 1)) == 0;
}
</script>