<%@ Template Language="C#" TargetLanguage="XML" Description="Demonstrates using a PreserveRegions merge strategy in XML." %>
<?xml version="1.0"?>
<someXml>
  <!-- region Custom Region 1 -->
  <someCustomElement>
	This is a place holder for your custom code.
	It must exist so that CodeSmith knows where
	to put the custom code that will be parsed
	from the target source file.
	The region name is used to match up the regions
	and determine where each region of custom code
	should be inserted into the merge result.
  </someCustomElement>
  <!-- endregion -->
  
  <someGeneratedElement>
    This section and all other non-custom code
    regions will be overwritten during each
    template execution.
    Current Date: <%= DateTime.Now.ToLongTimeString() %>
  </someGeneratedElement>
  
  <!-- region Custom Region 2 -->
  <someCustomElement>
    The contents of this region will also be preserved
    during generation.
  </someCustomElement>
  <!-- endregion -->
</someXml>
