<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Assembly Name="Generator" Path="..\..\Common" %>
<%@ Property Name="Enumerator" Type="LinqToSqlShared.Generator.DbmlEnum.Enumerator" Optional="False" Category="Strings" Description="" %>
<%@ Property Name="Namespace" Type="System.String" Optional="False" Category="Strings" Description="" %>
using System;
using System.ComponentModel;

namespace <%= Namespace %>
{
	<%= Enum.GetName(typeof(LinqToSqlShared.Generator.DbmlEnum.AccessModifier), Enumerator.AccessModifier).ToLower() %> enum <%= Enumerator.Name %>
	{
<% for(int x=0; x < Enumerator.Values.Count; x++) { %>
<% 	if (!String.IsNullOrEmpty(Enumerator.Values[x].Summary)) { %>
		/// <summary>
        /// <%= Enumerator.Values[x].Summary %>
        /// </summary>
<% 	} %>
<% 	if (!String.IsNullOrEmpty(Enumerator.Values[x].Description)) { %>
		[Description("<%= Enumerator.Values[x].Description %>")]
<% 	} %>
		<%= Enumerator.Values[x].Name %> = <%= Enumerator.Values[x].IntegerValue %><% if (x != Enumerator.Values.Count - 1) { %>,<% } %>
<% } %>
	}
}
