<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Encoding="UTF-8" Inherits="" Debug="False" Description="Template description here." CompilerVersion="v3.5" %>
<%@ Assembly Name="QuickStartUtils"%>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="QuickStartUtils" %>
<%@ Property Name="VisualStudioVersion" Type="VisualStudioVersionEnum" Optional="False" Category="Solution" Description="" %>
<%@ Property Name="SolutionItems" Type="List<SolutionItem>" Optional="False" Category="Projects" Description="" %>
<%@ Property Name="Language" Type="QuickStartUtils.LanguageEnum" Default="CSharp" Optional="False" Category="1.Project" Description="Language the project will be in" %>
<%@ Property Name="ProjectType" Type="QuickStartUtils.ProjectTypeEnum" Default="" Optional="False" Category="1.Project" Description="" OnChanged="" Editor="" EditorBase="" Serializer="" %>

Microsoft Visual Studio Solution File, Format Version 10.00
# <%= VisualStudioVersionString %>
<% foreach(SolutionItem solutionItem in SolutionItems) {  %>
	<%if(solutionItem.Website) { %>
Project("{<%= solutionItem.LanguageGuidString %>}") = "<%= solutionItem.Name %>", "<%= solutionItem.Name %>\", "{<%= solutionItem.GuidString %>}"
	ProjectSection(WebsiteProperties) = preProject
		TargetFramework = "3.5"
		Debug.AspNetCompiler.VirtualPath = "/<%= solutionItem.Name %>"
		Debug.AspNetCompiler.PhysicalPath = "<%= solutionItem.Name %>\"
		Debug.AspNetCompiler.TargetPath = "PrecompiledWeb\<%= solutionItem.Name %>\"
		Debug.AspNetCompiler.Updateable = "true"
		Debug.AspNetCompiler.ForceOverwrite = "true"
		Debug.AspNetCompiler.FixedNames = "false"
		Debug.AspNetCompiler.Debug = "True"
		Release.AspNetCompiler.VirtualPath = "/<%= solutionItem.Name %>"
		Release.AspNetCompiler.PhysicalPath = "<%= solutionItem.Name %>\"
		Release.AspNetCompiler.TargetPath = "PrecompiledWeb\<%= solutionItem.Name %>\"
		Release.AspNetCompiler.Updateable = "true"
		Release.AspNetCompiler.ForceOverwrite = "true"
		Release.AspNetCompiler.FixedNames = "false"
		Release.AspNetCompiler.Debug = "False"
		VWDPort = "33693"
		DefaultWebSiteLanguage = <%= solutionItem.Language == QuickStartUtils.LanguageEnum.CSharp ? "Visual C#" : "Visual Basic" %>
	EndProjectSection
	<% } 
	else {%>
Project("{<%= solutionItem.LanguageGuidString %>}") = "<%= solutionItem.Name %>", "<%= solutionItem.Path %>", "{<%= solutionItem.GuidString %>}"
	<% } %>
EndProject
<% } %>
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
<% foreach(SolutionItem solutionItem in SolutionItems) { %>
		{<%= solutionItem.GuidString %>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%= solutionItem.GuidString %>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%= solutionItem.GuidString %>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%= solutionItem.GuidString %>}.Release|Any CPU.Build.0 = Release|Any CPU
<% } %>
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
EndGlobal

<script runat="template">
public enum VisualStudioVersionEnum
{
	VS08,
	VS05
}
protected string VisualStudioVersionString
{
	get
	{
		return (VisualStudioVersion == VisualStudioVersionEnum.VS08)
			? "Visual Studio 2008"
			: "Visual Studio 2005";
	}
}
public class SolutionItem
{
	
	public SolutionItem(string name, string path, QuickStartUtils.LanguageEnum language) : this(name,path,language,false)
	{
		
	}
	
	public SolutionItem(string name, string path, QuickStartUtils.LanguageEnum language, bool website)
	{
		Name = name;
		Path = path;
		Language = language;
		Website = website;
	}
	
	public bool Website { get; set; }
	public string Name { get; set; }
	public string Path { get; set; }
	
	private Guid _guid = Guid.NewGuid();
	public Guid Guid
	{
		get { return _guid; }
		set { _guid = value; }
	}
	public string GuidString
	{
		get { return _guid.ToString().ToUpper(); }
	}
	
	public QuickStartUtils.LanguageEnum Language { get; set; }
	public string LanguageGuidString
	{
		get
		{
			return (Language == QuickStartUtils.LanguageEnum.CSharp)
				? "FAE04EC0-301F-11D3-BF4B-00C04F79EFBC"
				: "F184B08F-C81C-45F6-A57F-5ABD9991F28F";
		}
	}
	
}
</script>