<%-- 
Name: sample1.cst
Author: Tom DuPont
Description: This template demonstrates using expression write and code constructs.
--%>

<%@ CodeTemplate Language="VB" TargetLanguage="Text" Description="This template demonstrates using expression write and code constructs." %>

This is some static content (just like the static HTML in a ASP page).

<%= "This is dynamic content using an expression write construct." %>

<% Response.WriteLine("This is more dynamic content using a code block construct.") %>

This is more static content.
