<%@ CodeTemplate Language="C#" TargetLanguage="XML" 
    Description="Generate Linq to Sql Class File" 
    Debug="true" OutputType="None" %>

<%@ Assembly Name="System.Design" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="Microsoft.Build.Engine" %>
<%@ Assembly Name="Microsoft.Build.Utilities" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Src="Internal\Common.cs" %>
<%@ Assembly Src="Internal\Schema.cs" %>
<%@ Assembly Src="Internal\Manager.cs" %>
<%@ Assembly Src="Internal\Project.cs" %>

<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="DbmlSchema" %>
<%@ Import Namespace="Manager" %>

<%@ Property Category="1.Database" Name="SourceDatabase" 
    Type="SchemaExplorer.DatabaseSchema"  Optional="False"
    Description="The source database for Linq to Sql." %>

<%@ Property Category="2.Mapping" Name="DbmlFile" 
    Type="System.String" Default="Database.dbml" Optional="False" 
    Description="The full path to the mapping file." 
    Editor="System.Windows.Forms.Design.FileNameEditor, System.Design, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" %>

<%@ Property Category="3.Manager" Name="ManagerDirectory" 
    Type="System.String" Default="" Optional="false" 
    Description="The folder to save the generated manager files." 
    Editor="System.Windows.Forms.Design.FolderNameEditor, System.Design, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" %>


<%@ Register Name="EntityManagerEditableClass" 
    Template="Internal\EntityManager.Editable.cst" 
    MergeProperties="False" %>

<%@ Register Name="DataManagerClass" 
    Template="Internal\DataManager.cst" 
    MergeProperties="True" ExcludeProperties="Database, DataManager" %>

<%@ Register Name="DataContextManagerClass" 
    Template="Internal\DataContext.Manager.cst" 
    MergeProperties="True" ExcludeProperties="Database, DataManager" %>

<%@ Register Name="EntityManagerGeneratedClass" 
    Template="Internal\EntityManager.Generated.cst" 
    MergeProperties="True" ExcludeProperties="Database, DataManager,EntityManager,Table" %>


<script runat="template">
    private ProjectUpdater _project = null;
    
    internal ProjectUpdater Project
    {
        get
        {
            if (_project == null)
                _project = new ProjectUpdater(ProjectFile);
            
            return _project;
        }
    }

    private string _projectFile;
    
    [Category("4.Project")]
    [Description("Select the Visual Studio project file to update.")]
    [FileDialog(FileDialogType.Open, Title="Select Project File", Filter="Project Files (*.csproj)|*.csproj|All Files (*.*)|*.*", DefaultExtension=".csproj")]
    [Editor(typeof(CodeSmith.CustomProperties.FileNameEditor), typeof(System.Drawing.Design.UITypeEditor))]
    [CodeSmith.Engine.Optional()]
    public string ProjectFile
    {
        get {return _projectFile;}
        set {_projectFile = value;}
    }
    
    public void Generate()
    {
        if (!Directory.Exists(this.ManagerDirectory))
            Directory.CreateDirectory(this.ManagerDirectory);

        //if (ImplementManagers && string.IsNullOrEmpty(this.ManagerNamespace))
        //    this.ManagerNamespace = this.ClassNamespace + ".Managers";

        if (SourceDatabase != null)
        {    
            this.Progress.MaximumValue = (SourceDatabase.Tables.Count + 2);
                
            this.Progress.Step = 1;
        }
        
        Database database = DbmlSchema.DbmlFile.Load(this.DbmlFile);
        if (database == null)
            throw new Exception("Error loading Dbml file.");

        DataManager databaseManager = ManagerGenerator.Create(SourceDatabase, database);
        
        CreateDataManagerClass(database, databaseManager);
        CreateDataContextManagerClass(database, databaseManager);
        CreateEntityManagerClasses(database, databaseManager);

        Project.SaveProject();
    }
    
    public void CreateEntityManagerClasses(Database database, DataManager dataManager)
    {
        EntityManagerGeneratedClass t = this.Create<EntityManagerGeneratedClass>();
        this.CopyPropertiesTo(t);
        t.DataManager = dataManager;
        t.Database = database;
        
        EntityManagerEditableClass p = this.Create<EntityManagerEditableClass>();
        this.CopyPropertiesTo(p);
        p.ClassNamespace = this.ManagerNamespace;
        
        foreach(EntityManager manager in dataManager.Managers)
        {
            Stopwatch watch = Stopwatch.StartNew();

            string className = manager.ManagerName;
            string fileName = className + ".Generated.cs";
            fileName = Path.Combine(ManagerDirectory, fileName);
            
            Table table = database.Tables[manager.TableName];
            
            Debug.WriteLine(string.Format("Creating Entity Manager Class '{0}' ...", className));
            t.EntityManager = manager;
            t.Table = table;
            t.RenderToFile(fileName, true);
            
            string parentFileName = className + ".cs";
            parentFileName = Path.Combine(ManagerDirectory, parentFileName);

            if (!File.Exists(parentFileName))
            {
                p.ClassName = className;
                Response.WriteLine(parentFileName);
                p.RenderToFile(parentFileName, false);
            }
            
            Project.AddCompileItem(parentFileName, fileName);

            Debug.WriteLine(string.Format("Created '{0}' in {1} ms.", 
                className,
                watch.Elapsed.TotalMilliseconds.ToString()));
            
            this.Progress.PerformStep();
        }
    }
    
    public void CreateDataManagerClass(Database database, DataManager dataManager)
    {
        string fileName = dataManager.DataManagerName + ".cs";
        fileName = Path.Combine(ManagerDirectory, fileName);
        
        DataManagerClass t = this.Create<DataManagerClass>();
        this.CopyPropertiesTo(t);
        t.DataManager = dataManager;
        t.Database = database;
        
        t.RenderToFile(fileName, true);
        
        Project.AddCompileItem(fileName);
        
        this.Progress.PerformStep();

    }
    
    public void CreateDataContextManagerClass(Database database, DataManager dataManager)
    {
        string fileName = database.Class + ".Manager.cs";
        string parentFile = Project.FindFile(database.Class + ".cs", "Compile");
        
        string dataFolder;
        
        if (string.IsNullOrEmpty(parentFile))
        {
            dataFolder = ManagerDirectory;
        }
        else
        {
            parentFile = Path.Combine(Project.ProjectDirectory, parentFile);
            dataFolder = Path.GetDirectoryName(parentFile);
        }
        
        fileName = Path.Combine(dataFolder, fileName);
        
        
        DataContextManagerClass t = this.Create<DataContextManagerClass>();
        this.CopyPropertiesTo(t);
        t.DataManager = dataManager;
        t.Database = database;
        
        t.RenderToFile(fileName, true);
        
        if (string.IsNullOrEmpty(parentFile))
            Project.AddCompileItem(fileName);
        else
            Project.AddCompileItem(parentFile, fileName);
        
        this.Progress.PerformStep();

    }
</script>
Generating Linq to Sql Entities ...
<% Generate(); %>