<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Encoding="UTF-8" Inherits="" Debug="True" Description="Template description here." CompilerVersion="v3.5" %>
<%@ Assembly Name="QuickStartUtils" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="QuickStartUtils" %>
<%@ Property Name="SolutionItems" Type="List<SolutionItem>" Optional="False" Category="Projects" Description="" %>
<%@ Property Name="Language" Type="LanguageEnum" 
    Default="CSharp" Optional="False" Category="1.Project" 
    Description="Language the project will be in." %>
<%@ Property Name="Framework" Type="FrameworkVersion" 
    Default="v40" Optional="False" Category="1.Project" 
    Description="The .net Framework version." %>
<%@ Property Name="Location" Type="System.String" 
    Default="" Optional="True" Category="1.Project" 
    Description="This is the path to the Solution location." %>

<% if (Framework == FrameworkVersion.v40) { %>
Microsoft Visual Studio Solution File, Format Version 11.00
# Visual Studio 2010
<% } else { %>
Microsoft Visual Studio Solution File, Format Version 10.00
# Visual Studio 2008
<% } %>
<% foreach(SolutionItem solutionItem in SolutionItems) { 
    string path = solutionItem.Path;
    if (!string.IsNullOrEmpty(Location))    
        path = CodeSmith.Engine.Utility.PathUtil.RelativePathTo(Location, path);
    
	if (solutionItem.Website) { %>
Project("{<%= solutionItem.LanguageGuidString %>}") = "<%= solutionItem.Name %>", "<%= solutionItem.Name %>\", "{<%= solutionItem.GuidString %>}"
	ProjectSection(WebsiteProperties) = preProject
		TargetFramework = <%= Framework == FrameworkVersion.v35 ? "3.5" : "4.0" %>
		<% foreach(SolutionItem item in solutionItem.ProjectReferences) { %>
		ProjectReferences = "<%=item.Guid.ToString("B")%>|<%=item.Name%>.dll;"
		<% } %>
		Debug.AspNetCompiler.VirtualPath = "/<%= solutionItem.Name %>"
		Debug.AspNetCompiler.PhysicalPath = "<%= solutionItem.Name %>\"
		Debug.AspNetCompiler.TargetPath = "PrecompiledWeb\<%= solutionItem.Name %>\"
		Debug.AspNetCompiler.Updateable = "true"
		Debug.AspNetCompiler.ForceOverwrite = "true"
		Debug.AspNetCompiler.FixedNames = "false"
		Debug.AspNetCompiler.Debug = "True"
		Release.AspNetCompiler.VirtualPath = "/<%= solutionItem.Name %>"
		Release.AspNetCompiler.PhysicalPath = "<%= solutionItem.Name %>\"
		Release.AspNetCompiler.TargetPath = "PrecompiledWeb\<%= solutionItem.Name %>\"
		Release.AspNetCompiler.Updateable = "true"
		Release.AspNetCompiler.ForceOverwrite = "true"
		Release.AspNetCompiler.FixedNames = "false"
		Release.AspNetCompiler.Debug = "False"
		VWDPort = "33693"
		DefaultWebSiteLanguage = <%= solutionItem.Language == LanguageEnum.CSharp ? "Visual C#" : "Visual Basic" %>
	EndProjectSection
	<% } else {%>
Project("{<%= solutionItem.LanguageGuidString %>}") = "<%= solutionItem.Name %>", "<%= path %>", "{<%= solutionItem.GuidString %>}"
	<% } %>
EndProject
<% } %>
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
<% foreach(SolutionItem solutionItem in SolutionItems) { %>
		{<%= solutionItem.GuidString %>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%= solutionItem.GuidString %>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%= solutionItem.GuidString %>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%= solutionItem.GuidString %>}.Release|Any CPU.Build.0 = Release|Any CPU
<% } %>
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
EndGlobal

