<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>PLINQO - Entity Framework Templates</title>
<style type="text/css">
.style1 {
	color: #FF0000;
}
</style>
</head>

<body>

Please visit <a href="http://docs.codesmithtools.com/display/PLINQOEF/Home">http://docs.codesmithtools.com/display/PLINQOEF/Home</a> for all documentation pertaining to PLINQO for Entity Framework.

</body>

</html>