<html>

<head>
<title>PLINQO for NHibernate</title>
<style type="text/css">
body { width: 600px; }
.red { color: #FF0000; }
.orange { color: #FF6600; }
</style>
</head>

<body>

<h1>PLINQO for NHibernate</h1>

<p><i>So easy, even a caveman can generate it.</i></p>

<p>PLINQO NH is a Replace and Enhance alternative to NHibernate.<br>
PLINQO NH is available in C#, and supports SQL Server, Oracle, DB2, MySQL, and more!</p>

<h2>What is PLINQO for NHibernate?</h2>

<p>PLINQO is a set of CodeSmith Templates that generate ORM (Object Relational Mapping) frameworks using consistent design patterns and best practices. PLINQO Frameworks also include an advanced set of features to both simplify and optimize the task of data access.</p>

<p>NHibernate is the open source community's ORM of choice. It is a port of Hibernate for Java that has since taken
on a life of it's own. While being very powerful and very customizable, it has been criticized for being difficult
to get started.</p>

<p>PLINQO for NHibernate brings the simplifications, optimizations, and convenience of PLINQO to NHibernate. The ultimate goal is to take the best of both worlds and put them together into a robust framework that is easy to use.</p>

<h2>Key Features</h2>

<p>PLINQO can generated your HBM files, entity classes, and all NHibernate configuration in seconds. It then allows you to safely regenerate that code at anytime, thus synchronizing your mappings with the database while still intelligently preserving custom changes.</p>

<p>PLINQO offers these features over standard NHibernate:</p>

<ul>
 <li>Data Layer Generation<ul>
  <li>Generate your HBM files from your database.</li>
  <li>Supports Tables, Views, and Stored Procedures.</li>
  <li>Supports associations and composite keys.</li>
  <li>Generate your Entities from your HBM files.</li>
 </ul></li>
 <li>Safe Regeneration<ul>
  <li>Safely regenerate your data layer against your database.</li>
  <li>Intelligently seeks out and merges data changes with code changes.</li>
  <li>Ability to filter what gets updated from the database.</li>
 </ul></li>
 <li>Intuitive File Structure<ul>
  <li>Each generated class is separated into editable and generated files.</li>
  <li>Complex types are generated into an organized folder structure.</li>
 </ul></li>
 <li>Query Logic<ul>
  <li>Generates chainable query extension methods that simplify query logic.</li>
  <li>Query extensions support advanced comparison and containment operators.</li>
 </ul></li>
</ul>

<h2>Getting Started Steps</h2>

<ol>
 <li>Add a CodeSmith Project to your CSharp Project<ol>
  <li>Open your project in Visual Studio.</li>
  <li>Right click on your project in Solution Explorer and add a "New Item"</li>
  <li>Under "Visual Studio C# Items", and add a "CodeSmith Project"</li>
 </ol></li>
 <li>Configurate your CSP for PLINQO NHibernate<ol> 
  <li>Right click on the CSP and "Manage Outputs"</li>
  <li>Add Output, select Hbms.cst, and fill in the 2 required properties</li>
  <li>Add Output, select Entities.cst, and fill in the 2 required properties</li>
  <li>Add Output, select Queries.cst, and fill in the 1 required property</li>
  <li>Right click on the CSP and "Generate Outputs"</li>
 </ol></li>
 <li>Add a connection string to your App or Web config<ol> 
  <li>Name the connection string "nhiberante" or the name of your database</li>
 </ol></li>
</ol>

<h2>Resources</h2>

<p><a href="http://code.google.com/p/codesmith/downloads/list?can=3&q=nhibernate">Download Latest</a><br>
<a href="http://docs.codesmithtools.com/display/NHibernate/Getting+Started">Getting Started</a><br>
<a href="http://community.codesmithtools.com/Template_Frameworks/f/67.aspx">Forums</a><br>
<a href="http://docs.codesmithtools.com/display/NHibernate/Home">Documentation</a><br>
<a href="http://docs.codesmithtools.com/display/NHibernate/Downloads">Additional Downloads and Samples</a><br>
<a href="http://code.google.com/p/codesmith/issues/list?can=2&q=Framework%3DNHibernate">Issue Tracker</a><br>
<a href="http://community.codesmithtools.com/Product_Updates/b/nhibernate_releases/default.aspx">Change Log</a></p>

<h2>Dependencies</h2>

<p>These templates are dependant on the following:</p>

<ul>
 <li>Development Applications<ul>
  <li>CodeSmith Generator Professional 5.x</li>
  <li>Microsoft Visual Studio 2010</li>
 </ul></li>
 <li>Runtime Assemblies<ul>
  <li>.NET 4.0</li>
  <li>NHibernate 3.2.0.GA</li>
 </ul></li>
</ul>

<h2>History</h2>

<ul>
 <li>Release 1.0.0 - RC1<ul>
  <li>Initial Release</li>
 </ul></li>
</ul>

<p style="font-size: .8em;"><span class="red">* Breaking Change</span><br>
<span class="orange">* Runtime Change</span>
</p>