<%-- 
CodeSmith DBDocumenter Templates
Author:  Jason Alexander (jason@ngallery.org), Eric J. Smith
Website: http://www.ngallery.org/dbdocumenter/
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="HTML" Src="DBDocumenterTemplate.cs" Inherits="DBDocumenterTemplate" Description="Generates a set of HTML-based database documentation." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="Database that the documentation should be based on." %>
<%@ Property Name="ServerName" Type="System.String" Category="Output" Description="The name of the actual database server that is being documented." %>
<%@ Property Name="DocumentationTitle" Type="System.String" Default="Database Documentation" Category="Output" Description="Defines what the title of the HTML page that will be generated will be." %>
<%@ Register Name="HeaderTemplate" Template="header.cst" %>
<%@ Register Name="FooterTemplate" Template="footer.cst" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%
HeaderTemplate headerTemplate = this.Create<HeaderTemplate>();
headerTemplate.SelectedTabIndex = 0;
this.OutputTemplate(headerTemplate);
%>
<img src="images/arrow.gif" border="0"/>&nbsp;&nbsp;<span class="header">System Information</span>
<hr width="100%" size="1" />
<% this.OutputSystemInformation(SourceDatabase.ConnectionString, 1); %>
<% this.OutputTemplate(this.Create<FooterTemplate>()); %>
