<%-- 
CodeSmith DBDocumenter Templates
Author:  Jason Alexander (jason@ngallery.org), Eric J. Smith
Website: http://www.ngallery.org/dbdocumenter/
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="HTML" Src="DBDocumenterTemplate.cs" Inherits="DBDocumenterTemplate" Description="Generates a set of HTML-based database documentation." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="Database that the documentation should be based on." %>
<%@ Property Name="ServerName" Type="System.String" Category="Output" Description="The name of the actual database server that is being documented." %>
<%@ Property Name="DocumentationTitle" Type="System.String" Default="Database Documentation" Category="Output" Description="Defines what the title of the HTML page that will be generated will be." %>
<%@ Register Name="ViewSummaryTemplate" Template="view_summary.cst" %>
<%@ Register Name="ViewDetailTemplate" Template="view_details.cst" %>
<%@ Register Name="ViewTextTemplate" Template="view_text.cst" %>
<%@ Register Name="HeaderTemplate" Template="header.cst" %>
<%@ Register Name="FooterTemplate" Template="footer.cst" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<script runat="template">
// Override the render method so that we can output seperate files for each view.
public override void Render(System.IO.TextWriter writer)
{
	this.Progress.MaximumValue = (SourceDatabase.Views.Count * 2) + 2;
	this.Progress.Step = 1;
	
	// render the summary list of views file.
	Trace.WriteLine("Building views summary list (view_summary.html)...");
	ViewSummaryTemplate viewSummaryTemplate = this.Create<ViewSummaryTemplate>();
	this.CopyPropertiesTo(viewSummaryTemplate);
	viewSummaryTemplate.RenderToFile(this.OutputDirectory + "view_summary.html", true);
	this.Progress.PerformStep();
	
	ViewSchemaCollection views = new ViewSchemaCollection(SourceDatabase.Views);
	views.Sort(new PropertyComparer("Name"));
	
	for (int i = 0; i < views.Count; i++)
	{
		// render the views source code file.
		Trace.WriteLine("Building view source (view_" + i + ".html) for " + views[i].Name + "...");
		ViewTextTemplate viewTextTemplate = this.Create<ViewTextTemplate>();
		this.CopyPropertiesTo(viewTextTemplate);
		viewTextTemplate.SetProperty("SourceView", views[i]);
		viewTextTemplate.SetProperty("ViewIndex", i);
		viewTextTemplate.RenderToFile(this.OutputDirectory + "view_" + i + ".html", true);
		this.Progress.PerformStep();
		
		// render the views details file.
		Trace.WriteLine("Building view details (view_details_" + i + ".html) for " + views[i].Name + "...");
		ViewDetailTemplate viewDetailTemplate = this.Create<ViewDetailTemplate>();
		this.CopyPropertiesTo(viewDetailTemplate);
		viewDetailTemplate.SetProperty("SourceView", views[i]);
		viewDetailTemplate.SetProperty("ViewIndex", i);
		viewDetailTemplate.RenderToFile(this.OutputDirectory + "view_details_" + i + ".html", true);
		this.Progress.PerformStep();
	}
	
	base.Render(writer);
	this.Progress.PerformStep();
}
</script>
<%
HeaderTemplate headerTemplate = this.Create<HeaderTemplate>();
headerTemplate.SelectedTabIndex = 3;
this.OutputTemplate(headerTemplate);
%>
<img src="images/arrow.gif" border="0"/>&nbsp;&nbsp;<span class="header">Views (<%= SourceDatabase.Views.Count %> Total)</span><br/>
<hr width="100%" size="1" />
<iframe src="view_summary.html" name="viewsummary" frameborder="0" height="145" width="100%"></iframe>
<br/>
<img src="images/arrow.gif" border="0">&nbsp;&nbsp;<span class="header">View Details</span><br>
<hr width="100%" size="1" />
<iframe src="view_details_0.html" name="viewdetails" frameborder="0" height="300" width="100%"></iframe>
<% this.OutputTemplate(this.Create<FooterTemplate>()); %>