<%@ CodeTemplate Language="VB" TargetLanguage="VB" Inherits="CodeTemplate" CompilerVersion="v3.5" %>

<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.Samples" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.Samples.SchemaCollections" %>
<%@ Import Namespace="SchemaExplorer" %>

Tables in the collection: <%= Collection.ToString() %>

Items:
<% For Each item As TableConfiguration In Collection %>
	<%= item.ToString() %><%= If(Not item.SourceView Is Nothing, " (" + item.SourceView.ToString() + ")", "") %>
<% Next %>

<script runat="template">

Private _collection As New TableConfigurationCollection

<Description("Collection of table / view pair")> _
Public Property Collection() As TableConfigurationCollection
	Get
		If _collection Is Nothing Then
			_collection = New TableConfigurationCollection()
		End If
		Return _collection
	End Get
	Set
		_collection = value
	End Set
End Property

</script>