<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" OutputType="None" Inherits="CodeSmith.QuickStart.DataAccessCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA 3.7.X DataAccessLayer" %>

<%@ Register Name="ObjectFactory" Template="Internal\ObjectFactory.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ObjectFactoryDataAccess" Template="Internal\ObjectFactory.DataAccess.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ObjectFactoryDataAccessParameterized" Template="Internal\ObjectFactory.DataAccess.ParameterizedSQL.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ObjectFactoryDataAccessStoredProcedures" Template="Internal\ObjectFactory.DataAccess.StoredProcedures.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ObjectFactoryList" Template="Internal\ObjectFactoryList.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ObjectFactoryListDataAccess" Template="Internal\ObjectFactoryList.DataAccess.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ObjectFactoryListDataAccessParameterized" Template="Internal\ObjectFactoryList.DataAccess.ParameterizedSQL.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ObjectFactoryListDataAccessStoredProcedures" Template="Internal\ObjectFactoryList.DataAccess.StoredProcedures.cst" MergeProperties="False" ExcludeProperties="" %>

<%@ Register Name="ADOHelperTemplate" Template="Internal\ADOHelper.cst" %>

<%@ Register Name="SqlStoredProcedures" Template="Internal\SQLStoredProcedures.cst" %>

<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.QuickStart" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<% Generate(); %>

<script runat="template">

public override void Generate()
{
    RegisterReferences();

    #region Entities

    foreach(Entity entity in new EntityManager(DynamicRoot).Entities)
    {
        RenderObjectFactoryTemplates(entity, false, false);
    }

    foreach(Entity entity in new EntityManager(EditableChild).Entities)
    {
        RenderObjectFactoryTemplates(entity, false, true);
    }
    
    foreach(Entity entity in new EntityManager(EditableRoot).Entities)
    {
        RenderObjectFactoryTemplates(entity, false, false);
    }
    
    foreach(Entity entity in new EntityManager(ReadOnlyChild).Entities)
    {
        RenderObjectFactoryTemplates(entity, true, true);
    }
    
    foreach(Entity entity in new EntityManager(ReadOnlyRoot).Entities)
    {
        RenderObjectFactoryTemplates(entity, true, false);
    }
    
    foreach(Entity entity in new EntityManager(SwitchableObject).Entities)
    {
        RenderObjectFactoryTemplates(entity, false, false);
    }

    #endregion

    #region Lists

    foreach(Entity entity in new EntityManager(DynamicListBase).Entities)
    {
        RenderObjectFactoryListTemplates(entity, false, false);
    }

    foreach(Entity entity in new EntityManager(DynamicRootList).Entities)
    {
        RenderObjectFactoryListTemplates(entity, false, false);
    }

    foreach(Entity entity in new EntityManager(EditableRootList).Entities)
    {
        RenderObjectFactoryListTemplates(entity, false, false);
    }
    
    foreach(Entity entity in new EntityManager(EditableChildList).Entities)
    {
        RenderObjectFactoryListTemplates(entity, false, true);
    }
    
    foreach(Entity entity in new EntityManager(ReadOnlyList).Entities)
    {
        RenderObjectFactoryListTemplates(entity, true, false);
    }
    
    foreach(Entity entity in new EntityManager(ReadOnlyChildList).Entities)
    {
        RenderObjectFactoryListTemplates(entity, true, true);
    }

    #endregion
}

public void RenderObjectFactoryTemplates(Entity entity, bool IsReadOnly, bool IsChild)
{
    PreserveRegionsMergeStrategy strategy = new PreserveRegionsMergeStrategy();
    strategy.RegionNameRegex = "^[ \\t]*[ \\s]*\"?(?i:Preserved Code)\"?";
    
    #region ObjectFactory
    
    ObjectFactory objectFactory = this.Create<ObjectFactory>();
    this.CopyPropertiesTo(objectFactory);
    objectFactory.SourceTable = entity.Table;
    
    if(IsReadOnly)
        objectFactory.BusinessClassName = entity.ClassName + "InfoFactory";
    else
        objectFactory.BusinessClassName = entity.ClassName + "Factory";
    
    objectFactory.IsReadOnlyBusinessObject = IsReadOnly;
    objectFactory.IsChildBusinessObject = IsChild;

    string parentFileName = System.IO.Path.Combine(this.Location, string.Format("Entities\\{0}.cs", objectFactory.BusinessClassName));
    if (!System.IO.File.Exists(parentFileName))
    {
        objectFactory.RenderToFile(parentFileName, false);
    }

    var fileName = System.IO.Path.Combine(Location, string.Format("Entities\\{0}.DataAccess.cs", objectFactory.BusinessClassName));
    if(DataAccessImplementation == DataAccessMethod.ObjectFactoryNone)
    {
        ObjectFactoryDataAccess objectFactoryDataAccess = this.Create<ObjectFactoryDataAccess>();
        this.CopyPropertiesTo(objectFactoryDataAccess);
        objectFactoryDataAccess.SourceTable = entity.Table;
        objectFactoryDataAccess.IsReadOnlyBusinessObject = IsReadOnly;
        objectFactoryDataAccess.IsChildBusinessObject = IsChild;
    
        objectFactoryDataAccess.RenderToFile(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.ObjectFactoryParameterizedSQL)
    {
        ObjectFactoryDataAccessParameterized objectFactoryDataAccessParameterized = this.Create<ObjectFactoryDataAccessParameterized>();
        this.CopyPropertiesTo(objectFactoryDataAccessParameterized);
        objectFactoryDataAccessParameterized.SourceTable = entity.Table;
        objectFactoryDataAccessParameterized.IsReadOnlyBusinessObject = IsReadOnly;
        objectFactoryDataAccessParameterized.IsChildBusinessObject = IsChild;
    
        objectFactoryDataAccessParameterized.RenderToFile(fileName, parentFileName, true);
        
        ADOHelperTemplate ADOHelper = this.Create<ADOHelperTemplate>();
        this.CopyPropertiesTo(ADOHelper);
        ADOHelper.SourceTable = entity.Table;
        ADOHelper.RenderToFile(System.IO.Path.Combine(this.Location, "Utility\\ADOHelper.cs"), strategy);
    }
    else if(DataAccessImplementation == DataAccessMethod.ObjectFactoryStoredProcedures)
    {
        //ObjectFactoryDataAccessStoredProcedures
        ObjectFactoryDataAccessStoredProcedures objectFactoryDataAccessStoredProcedures = this.Create<ObjectFactoryDataAccessStoredProcedures>();
        this.CopyPropertiesTo(objectFactoryDataAccessStoredProcedures);
        objectFactoryDataAccessStoredProcedures.SourceTable = entity.Table;
        objectFactoryDataAccessStoredProcedures.IsReadOnlyBusinessObject = IsReadOnly;
        objectFactoryDataAccessStoredProcedures.IsChildBusinessObject = IsChild;
    
        objectFactoryDataAccessStoredProcedures.RenderToFile(fileName, parentFileName, true);
        
        //SqlStoredProcedures
        SqlStoredProcedures sqlStoredProcedures = this.Create<SqlStoredProcedures>();
        this.CopyPropertiesTo(sqlStoredProcedures);
        sqlStoredProcedures.SourceTable = entity.Table;
        
        fileName = System.IO.Path.Combine(Location, string.Format("Entities\\{0}.StoredProcedures.sql", objectFactory.BusinessClassName));
        sqlStoredProcedures.RenderToFile(fileName, parentFileName, true);
        
        //ADOHelperTemplate
        ADOHelperTemplate ADOHelper = this.Create<ADOHelperTemplate>();
        this.CopyPropertiesTo(ADOHelper);
        ADOHelper.SourceTable = entity.Table;
        ADOHelper.RenderToFile(System.IO.Path.Combine(this.Location, "Utility\\ADOHelper.cs"), strategy);
    }

    #endregion
}

public void RenderObjectFactoryListTemplates(Entity entity, bool IsReadOnly, bool IsChild)
{
    PreserveRegionsMergeStrategy strategy = new PreserveRegionsMergeStrategy();
    strategy.RegionNameRegex = "^[ \\t]*[ \\s]*\"?(?i:Preserved Code)\"?";
    
    #region ObjectFactory
    
    ObjectFactoryList objectFactory = this.Create<ObjectFactoryList>();
    this.CopyPropertiesTo(objectFactory);
    objectFactory.SourceTable = entity.Table;

    if(IsReadOnly)
        objectFactory.BusinessClassName = entity.ClassName + "InfoListFactory";
    else
        objectFactory.BusinessClassName = entity.ClassName + "ListFactory";

    objectFactory.IsReadOnlyBusinessObject = IsReadOnly;
    objectFactory.IsChildBusinessObject = IsChild;
    
    string parentFileName = System.IO.Path.Combine(this.Location, string.Format("Collections\\{0}.cs", objectFactory.BusinessClassName));
    if (!System.IO.File.Exists(parentFileName))
    {
        objectFactory.RenderToFile(parentFileName, false);
    }

    var fileName = System.IO.Path.Combine(Location, string.Format("Collections\\{0}.DataAccess.cs", objectFactory.BusinessClassName));
    if(DataAccessImplementation == DataAccessMethod.ObjectFactoryNone)
    {
        ObjectFactoryListDataAccess objectFactoryDataAccess = this.Create<ObjectFactoryListDataAccess>();
        this.CopyPropertiesTo(objectFactoryDataAccess);
        objectFactoryDataAccess.SourceTable = entity.Table;
        objectFactoryDataAccess.IsReadOnlyBusinessObject = IsReadOnly;
        objectFactoryDataAccess.IsChildBusinessObject = IsChild;
    
        objectFactoryDataAccess.RenderToFile(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.ObjectFactoryParameterizedSQL)
    {
        ObjectFactoryListDataAccessParameterized objectFactoryDataAccessParameterized = this.Create<ObjectFactoryListDataAccessParameterized>();
        this.CopyPropertiesTo(objectFactoryDataAccessParameterized);
        objectFactoryDataAccessParameterized.SourceTable = entity.Table;
        objectFactoryDataAccessParameterized.IsReadOnlyBusinessObject = IsReadOnly;
        objectFactoryDataAccessParameterized.IsChildBusinessObject = IsChild;
    
        objectFactoryDataAccessParameterized.RenderToFile(fileName, parentFileName, true);
        
        ADOHelperTemplate ADOHelper = this.Create<ADOHelperTemplate>();
        this.CopyPropertiesTo(ADOHelper);
        ADOHelper.SourceTable = entity.Table;
        
        ADOHelper.RenderToFile(System.IO.Path.Combine(this.Location, "Utility\\ADOHelper.cs"), strategy);
    }
    else if(DataAccessImplementation == DataAccessMethod.ObjectFactoryStoredProcedures)
    {
        //ObjectFactoryDataAccessStoredProcedures
        ObjectFactoryListDataAccessStoredProcedures objectFactoryDataAccessStoredProcedures = this.Create<ObjectFactoryListDataAccessStoredProcedures>();
        this.CopyPropertiesTo(objectFactoryDataAccessStoredProcedures);
        objectFactoryDataAccessStoredProcedures.SourceTable = entity.Table;
        objectFactoryDataAccessStoredProcedures.IsReadOnlyBusinessObject = IsReadOnly;
        objectFactoryDataAccessStoredProcedures.IsChildBusinessObject = IsChild;
    
        objectFactoryDataAccessStoredProcedures.RenderToFile(fileName, parentFileName, true);
        
        //SqlStoredProcedures
        SqlStoredProcedures sqlStoredProcedures = this.Create<SqlStoredProcedures>();
        this.CopyPropertiesTo(sqlStoredProcedures);
        sqlStoredProcedures.SourceTable = entity.Table;
        
        fileName = System.IO.Path.Combine(Location, string.Format("Collections\\{0}.StoredProcedures.sql", objectFactory.BusinessClassName));
        sqlStoredProcedures.RenderToFile(fileName, parentFileName, true);
        
        //ADOHelperTemplate
        ADOHelperTemplate ADOHelper = this.Create<ADOHelperTemplate>();
        this.CopyPropertiesTo(ADOHelper);
        ADOHelper.SourceTable = entity.Table;
        ADOHelper.RenderToFile(System.IO.Path.Combine(this.Location, "Utility\\ADOHelper.cs"), strategy);
    }

    #endregion
}
</script>