<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TrackerConnectionString" connectionString="Data Source=.;Initial Catalog=Tracker;Integrated Security=True;Application Name=Tracker;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
