<%@ 
	CodeTemplate Language="C#" 
	TargetLanguage="Text"
	Src="CslaSqlTemplateBase.cs"
	Inherits="CslaSqlTemplateBase" 
	Debug="False" 
	Description="Generates stored procs for CSLA objects." 
%>

<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.Csla" %>


<%
	/* 
		Please Note:
			The SELECT procs were written to support lazy loading of child objects.
			This is NOT the default CSLA pattern.
	*/
%>

<%= this.GetProcDeclaration(SqlStatementType.Select) %>

<%= this.GetProcDeclaration(SqlStatementType.SelectBy) %>

<%= this.GetProcDeclaration(SqlStatementType.Insert) %>

<%= this.GetProcDeclaration(SqlStatementType.Update) %>

<%= this.GetProcDeclaration(SqlStatementType.Delete) %>