<%-- 
Name: Hbm.cst
Author: Tom DuPont
Description: Generates a HBM Map for NHibernate.
--%>
<%@ CodeTemplate Language="C#" Inherits="NHibernateHelper" TargetLanguage="XML" Debug="False" Description="Generates a HBM Map for NHibernate." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Optional="False" Category="1a. Source Table" Description="The source table to generate from." %>
<%@ Property Name="ExcludedTables" Type="SchemaExplorer.TableSchemaCollection" Optional="True" Category="1b. Database Options" Description="A collection of tables to be excluded during generation." %>
<%@ Property Name="AssemblyName" Type="System.String" Default="NHibernate.Generated" Optional="False" Category="2a. Assembly" Description="The name of the Assembly that will contain the business objects." %>
<%@ Property Name="BusinessNamespace" Type="System.String" Default="NHibernate.Generated.BusinessObjects" Optional="False" Category="2b. Namespaces" Description="The desired Namespace for the Business Objects." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="NHibernateHelper" Path="..\..\Common\NHibernateHelper" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="NHibernateHelper" %>
<% EntityManager entityManager = new EntityManager(SourceTable, ExcludedTables); %>
<?xml version="1.0" encoding="utf-8" ?>
<hibernate-mapping xmlns="urn:nhibernate-mapping-2.2" namespace="<%= BusinessNamespace %>" assembly="<%= AssemblyName %>">
	<class name="<%= BusinessNamespace %>.<%= GetClassName(SourceTable) %>, <%= AssemblyName %>" table="<%= entityManager.TableFullSafeSqlName %>" lazy="true">
		<% // Primary Key %>
		<% if(entityManager.PrimaryKey.IsCompositeKey) { %>
		<composite-id>
			<% foreach(EntityMember em in entityManager.PrimaryKey.KeyColumns) { %>
			<key-property name="<%= em.PropertyName %>" column="[<%= em.ColumnName %>]" /> 
			<% } %>
		</composite-id>
		<% } else { %>
		<id name="Id" column="[<%= entityManager.PrimaryKey.KeyColumn.ColumnName %>]">
		 	<%= entityManager.PrimaryKey.Generator %>
		</id>
		<% } %>
		<% // Version %>
		<% if(entityManager.HasRowVersionMember) { %>
		<version name="<%= entityManager.RowVersionMember.PropertyName %>" column="[<%= entityManager.RowVersionMember.ColumnName %>]" />
		<% } %>
		<% // Properties %>
		<% foreach(EntityMember em in entityManager.MembersNoKeyNoVersion) { %>
		<property name="<%= em.PropertyName %>" column="[<%= em.ColumnName %>]" />
		<% } %>
		<% // Many-To-One %>
		<% foreach(EntityAssociation association in entityManager.ManyToOne) { %>
		<many-to-one name="<%= association.PropertyName %>" column="[<%= association.ColumnName %>]" class="<%= association.ClassName %>" <% if(association.HasCascade) { %>cascade="<%= association.Cascade %>" <% } %>/>
		<% } %>
		<% // One-To-Many %>
		<% foreach(EntityAssociation association in entityManager.OneToMany) { %>
		<bag name="<%= association.PropertyName %>" lazy="true" cascade="<%= association.Cascade %>" inverse="true" >
			<key column="[<%= association.ColumnName %>]"></key>
			<one-to-many class="<%= association.ClassName %>"></one-to-many>
		</bag>
		<% } %>
		<% // Many-To-Many %>
		<% foreach(EntityAssociation association in entityManager.ManyToMany) { %>
		<bag name="<%= association.PropertyName %>" table="<%= association.TableFullSafeSqlName %>" lazy="true" cascade="all" inverse="false" >
			<key column="[<%= association.ColumnName %>]"></key>
			<many-to-many column="[<%= association.ToManyTableKeyName %>]" class="<%= association.ClassName %>" />
    	</bag>
		<% } %>
	</class>
</hibernate-mapping>