<%-- 
Name: Hbm.cst
Author: Tom DuPont
Description: Generates a HBM Map for NHibernate.
--%>
<%@ CodeTemplate Language="C#" Inherits="NHibernateHelper" TargetLanguage="XML" Debug="False" Description="Generates a HBM Map for NHibernate." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Optional="False" Category="1a. Source Table" Description="The source table to generate from." %>
<%@ Property Name="ExcludedTables" Type="SchemaExplorer.TableSchemaCollection" Optional="True" Category="1b. Database Options" Description="A collection of tables to be excluded during generation." %>
<%@ Property Name="AssemblyName" Type="System.String" Default="NHibernate.Generated" Optional="False" Category="2a. Assembly" Description="The name of the Assembly that will contain the business objects." %>
<%@ Property Name="BusinessNamespace" Type="System.String" Default="NHibernate.Generated.BusinessObjects" Optional="False" Category="2b. Namespaces" Description="The desired Namespace for the Business Objects." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="NHibernateHelper" Path="..\..\Common" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="NHibernateHelper" %>
<% AssociationManager associationManager = new AssociationManager(SourceTable, ExcludedTables); %>
<?xml version="1.0" encoding="utf-8" ?>
<hibernate-mapping xmlns="urn:nhibernate-mapping-2.2" namespace="<%= BusinessNamespace %>" assembly="<%= AssemblyName %>">
	<class name="<%= BusinessNamespace %>.<%= GetClassName(SourceTable) %>, <%= AssemblyName %>" table="<%= SourceTable.Name %>" lazy="true">
		<% // Primary Key %>
		<% if(SourceTable.HasPrimaryKey) { %>
		<% if(IsMutliColumnPrimaryKey(SourceTable.PrimaryKey)) { %>
		<composite-id>
			<% foreach(MemberColumnSchema mcs in SourceTable.PrimaryKey.MemberColumns) { %>
			<key-property name="<%= GetPropertyName(mcs) %>" column="<%= mcs.Name %>" /> 
			<% } %>
		</composite-id>
		<% } else { %>
		<id name="Id" column="<%= GetPrimaryKeyColumn(SourceTable.PrimaryKey).Name %>">
		 	<% if(SourceTable.PrimaryKey.MemberColumns[0].ExtendedProperties.Contains("CS_IsIdentity") && ((bool)SourceTable.PrimaryKey.MemberColumns[0].ExtendedProperties["CS_IsIdentity"].Value) == true) { %>
			<generator class="native" />
			<% } else { %>
			<generator class="assigned" />
			<% } %>
		</id>
		<% } %>
		<% } %>
		<% // Properties %>
		<% foreach(ColumnSchema column in SourceTable.NonKeyColumns) { %>
		<property name="<%= GetPropertyName(column) %>" column="<%= column.Name %>" />
		<% } %>
		<% // Many-To-One %>
		<% foreach(Association association in associationManager.ManyToOne) { %>
		<many-to-one name="<%= association.PropertyName %>" column="<%= association.ColumnName %>" class="<%= association.ClassName %>" />
		<% } %>
		<% // One-To-Many %>
		<% foreach(Association association in associationManager.OneToMany) { %>
		<bag name="<%= association.PropertyName %>" lazy="true" cascade="<%= association.Cascade %>"  inverse="true" >
			<key column="<%= association.ColumnName %>"></key>
			<one-to-many class="<%= association.ClassName %>"></one-to-many>
		</bag>
		<% } %>
		<% // Many-To-Many %>
		<% foreach(Association association in associationManager.ManyToMany) { %>
		<bag name="<%= association.PropertyName %>" table="<%= association.TableName %>" lazy="true" cascade="all" inverse="true" >
			<key column="<%= association.ColumnName %>"></key>
			<many-to-many column="<%= association.ToManyTableKeyName %>" class="<%= association.ClassName %>" />
    	</bag>
		<% } %>
	</class>
</hibernate-mapping>