<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" Inherits="QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA Map" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.VisualBasicExtensions" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
        Dim cancel As Boolean = False
        OnChildUpdating(cancel)
        If (cancel) Then
            Return
        End If

        If connection.State <> ConnectionState.Open Then connection.Open()
        Using command As New SqlCommand("<%= GetUpdateStoredProcedureName() %>", connection)
            command.CommandType = CommandType.StoredProcedure
            <%= entity.MembersNoRowVersion.BuildCommandParameters(False, False, True, True, True) %>
<% If (entity.HasRowVersionMember) Then %>
            command.Parameters.AddWithValue("<%= ParameterPrefix  %><%= entity.RowVersionMember.ColumnName %>", _timestamp)
<% End If %>

            'result: The number of rows changed, inserted, or deleted. -1 for select statements; 0 if no rows were affected, or the statement failed. 
            Dim result As Integer = command.ExecuteNonQuery()
            If (result = 0) Then
                throw new DBConcurrencyException("The entity is out of date on the client. Please update the entity and try again. This could also be thrown if the sql statement failed to execute.")
            End If

<% If (Entity.HasRowVersionMember) Then %>
            _timestamp = ADOHelper.GetBytes(reader, "<%= Entity.RowVersionMember.ColumnName %>")
<% End If %>
<% For Each member As Member In Entity.PrimaryKey.KeyMembers
    If(member.IsIdentity) Then
        If(UseMemberVariables) Then %>
                <%= member.PrivateMemberVariableName %> = DirectCast(command.Parameters("<%= member.BuildParameterVariableName() %>").Value, <%= member.SystemType %>)
<%      Else %>
                LoadProperty(<%= member.PrivateMemberVariableName %>Property, DirectCast(command.Parameters("<%= member.BuildParameterVariableName() %>").Value, <%= member.SystemType %>))
<%      End If
    End If
Next %>
<% For Each member As Member In Entity.PrimaryKey.KeyMembers
    If Not (member.IsIdentity) Then
        If(UseMemberVariables) Then %>
            _original<%= member.PropertyName %> = Me.<%= member.PropertyName %>
<%      Else %>
            LoadProperty(_original<%= member.PropertyName %>Property, Me.<%= member.PropertyName %>)
<%      End If
    End If
Next %>
        End Using

        OnChildUpdated()
