<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" Inherits="QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA Map" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.VisualBasicExtensions" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
    #Region "Properties"

<% If(Entity.HasRowVersionMember) Then %>
    ''' <summary>
    ''' Used for optimistic concurrency.
    ''' </summary>
    <NotUndoable()> _
    Private _timestamp As <%= Entity.RowVersionMember.SystemType %>
    
<% End If %>
<%  For Each member As Member in Entity.MembersNoRowVersion
If UseMemberVariables Then %>

    Private Shared ReadOnly <%= member.PrivateMemberVariableName %>Property As PropertyInfo(Of <%= member.SystemType %>) = RegisterProperty(Of <%= member.SystemType %>)(Function(p As <%= BusinessClassName %>) p.<%= member.PropertyName %>)
    Private <%= member.PrivateMemberVariableName %> As <%= member.SystemType %> = <%= member.PrivateMemberVariableName %>Property.DefaultValue<%= member.BuildDataObjectField() %>
<% If(member.HasDescription) Then %>
    ''' <summary>
    ''' <%= member.Description %>
    ''' </summary>
<% End If %>
    Public Property <%= member.PropertyName %>() As <%= member.SystemType %>
        Get 
            Return GetProperty(<%= member.PrivateMemberVariableName %>Property, <%= member.PrivateMemberVariableName %>) 
        End Get
        <% If member.IsReadOnly Then %>Friend <% End If %>Set (value As <%= member.SystemType %>)
            SetProperty(<%= member.PrivateMemberVariableName %>Property, <%= member.PrivateMemberVariableName %>, value)
        End Set
<% else %>
    
    Private Shared ReadOnly <%= member.PrivateMemberVariableName %>Property As PropertyInfo(Of <%= member.SystemType %>) = RegisterProperty(Of <%= member.SystemType %>)(Function(p As <%= BusinessClassName %>) p.<%= member.PropertyName %>)<%= member.BuildDataObjectField() %>
<% If(member.HasDescription) Then %>
    ''' <summary>
    ''' <%= member.Description %>
    ''' </summary>
<% End If %>
    Public Property <%= member.PropertyName %>() As <%= member.SystemType %>
        Get 
            Return GetProperty(<%= member.PrivateMemberVariableName %>Property)
        End Get
        <% If member.IsReadOnly Then %>Friend <% End If %>Set (ByVal value As <%= member.SystemType %>)
            SetProperty(<%= member.PrivateMemberVariableName %>Property, value)
        End Set
<% End If %>
    End Property
    
<% Next %>
<%-- One-To-Zero-Or-One --%>
<% For Each association As Association in Entity.AssociatedOneToZeroOrOne 
If UseMemberVariables then %>
    'OneToZeroOrOne
    Private Shared ReadOnly <%= association.PrivateMemberVariableName %>Property As PropertyInfo(Of <%= association.ClassName %>) = RegisterProperty(Of <%= association.ClassName %>)(Function(p As <%= BusinessClassName %>) p.<%= association.PropertyName %>, Csla.RelationshipTypes.Child)
    Private <%= association.PrivateMemberVariableName %> As <%= association.ClassName %> = <%= association.PrivateMemberVariableName %>Property.DefaultValue
<% If(association.HasDescription) Then %>
    ''' <summary>
    ''' <%= association.Description %>
    ''' </summary>
<% End If %>
    Public ReadOnly Property <%= association.PropertyName %>() As <%= association.ClassName %>
        Get
<% If UseLazyLoading Then %>
            If Not (FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property))
                Dim criteria As New <%= BusinessProjectName %>.<%= association.ClassName %>Criteria()
                <%= association.BuildObjectInitializer(true) %>
                
                If (Me.IsNew Or Not <%= BusinessProjectName %>.<%= association.ClassName %>.Exists(criteria)) Then
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= association.ClassName %>.New<%= association.ClassName %>())
                Else
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= association.ClassName %>.<%= association.SearchCriteria.MethodName%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>))
                End If
            End If
            
<% End If %> 
            Return GetProperty(<%= association.PrivateMemberVariableName %>Property, <%= association.PrivateMemberVariableName %>) 
        End Get
    End Property

<% else %>
    'OneToZeroOrOne
    Private Shared ReadOnly <%= association.PrivateMemberVariableName %>Property As PropertyInfo(Of <%= association.ClassName %>) = RegisterProperty(Of <%= association.ClassName %>)(Function(p As <%= BusinessClassName %>) p.<%= association.PropertyName %>, Csla.RelationshipTypes.Child)
<% If(association.HasDescription) Then %>
    ''' <summary>
    ''' <%= association.Description %>
    ''' </summary>
<% End If %>
    Public ReadOnly Property <%= association.PropertyName %>() As <%= association.ClassName %>
        Get
<% If UseLazyLoading Then %>
            If Not (FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property))
                Dim criteria As New <%= BusinessProjectName %>.<%= association.ClassName %>Criteria()
                <%= association.BuildObjectInitializer(true) %>
                
                If (Me.IsNew Or Not <%= BusinessProjectName %>.<%= association.ClassName %>.Exists(criteria)) Then
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= association.ClassName %>.New<%= association.ClassName %>())
                Else
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= association.ClassName %>.<%= association.SearchCriteria.MethodName%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>))
                End If
            End If
            
<% End If %>  
               Return GetProperty(<%= association.PrivateMemberVariableName %>Property) 
        End Get
    End Property

<% End If
Next %>
<%-- Many-To-One --%>
<% For Each association  As Association in Entity.AssociatedManyToOne 
If UseMemberVariables Then %>
    'ManyToOne
    Private Shared ReadOnly <%= association.PrivateMemberVariableName %>Property As PropertyInfo(Of <%= association.ClassName %>) = RegisterProperty(Of <%= association.ClassName %>)(Function(p As <%= BusinessClassName %>) p.<%= association.PropertyName %>, Csla.RelationshipTypes.Child)
    Private <%= association.PrivateMemberVariableName %> As <%= association.ClassName %> = <%= association.PrivateMemberVariableName %>Property.DefaultValue
<% If(association.HasDescription) Then %>
    ''' <summary>
    ''' <%= association.Description %>
    ''' </summary>
<% End If %>
    Public ReadOnly Property <%= association.PropertyName %>() As <%= association.ClassName %>
        Get
<% If UseLazyLoading Then  %>
            If Not(FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property))
                Dim criteria As New <%= BusinessProjectName %>.<%= association.ClassName %>Criteria()
                <%= association.BuildObjectInitializer(true) %>
                
                If (Me.IsNew Or Not <%= BusinessProjectName %>.<%= association.ClassName %>.Exists(criteria)) Then
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= association.ClassName %>.New<%= association.ClassName %>())
                Else
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= association.ClassName %>.<%= association.SearchCriteria.MethodName%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>))
                End If
            End If
            
<% End If %> 
            Return GetProperty(<%= association.PrivateMemberVariableName %>Property, <%= association.PrivateMemberVariableName %>) 
        End Get
    End Property
    
<%  else  %>
    'ManyToOne
    Private Shared ReadOnly <%= association.PrivateMemberVariableName %>Property As PropertyInfo(Of <%= association.ClassName %>) = RegisterProperty(Of <%= association.ClassName %>)(Function(p As <%= BusinessClassName %>) p.<%= association.PropertyName %>, Csla.RelationshipTypes.Child)
    Public ReadOnly Property <%= association.PropertyName %>() As <%= association.ClassName %>
        Get
<% If UseLazyLoading Then %>
            If Not(FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property))
                Dim criteria As New <%= BusinessProjectName %>.<%= association.ClassName %>Criteria()
                <%= association.BuildObjectInitializer(true) %>
                
                If (Me.IsNew Or Not <%= BusinessProjectName %>.<%= association.ClassName %>.Exists(criteria)) Then
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= association.ClassName %>.New<%= association.ClassName %>())
                Else
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= association.ClassName %>.<%= association.SearchCriteria.MethodName%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>))
                End If
            End If
            
<% End If %>  
            Return GetProperty(<%= association.PrivateMemberVariableName %>Property) 
        End Get
    End Property
    
<% End If
Next  %>
<%-- One-To-Many & Many-To-Many --%>
<% For Each association As Association in Entity.AssociatedOneToMany %>
    'OneToMany
    Private Shared ReadOnly <%= association.PrivateMemberVariableName %>Property As PropertyInfo(Of <%= association.ClassName %>List) = RegisterProperty(Of <%= association.ClassName %>List)(Function(p As <%= BusinessClassName %>) p.<%= association.PropertyName %>, Csla.RelationshipTypes.Child)
<% If(association.HasDescription) Then %>
    ''' <summary>
    ''' <%= association.Description %>
    ''' </summary>
<% End If %>
Public ReadOnly Property <%= association.PropertyName %>() As <%= association.ClassName %>List 
        Get
<% If(UseLazyLoading) Then %>
            If Not (FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property)) Then
                Dim criteria As New <%= BusinessProjectName %>.<%= association.ClassName %>Criteria()
                <%= association.BuildObjectInitializer(true) %>
                
                If (Me.IsNew Or Not <%= BusinessProjectName %>.<%= association.ClassName %>List.Exists(criteria)) Then
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= association.ClassName %>List.NewList())
                Else
                    LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= association.ClassName %>List.<%= association.SearchCriteria.MethodName%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>))
                End If
            End If
            
<% End If%>
            Return GetProperty(<%= association.PrivateMemberVariableName %>Property) 
        End Get
    End Property
    
<% Next %>
    #End Region
