<%-- 
Name: Default.aspx
Author: Blake Niemyjski
Description: The following template will generate an ASP.Net page.
--%>
<%@ CodeTemplate Language="VB" TargetLanguage="Text" OutputType="None" Inherits="CodeSmith.QuickStart.InterfaceCodeTemplate" CompilerVersion="v3.5" Encoding="UTF-8" Description="The following template will generate a sample ASP.Net page." %>

<%@ Register Name="SourceViewTemplate" Template="Internal\Default.aspx.cst" %>
<%@ Register Name="CodeBehindTemplate" Template="Internal\Default.aspx.vb.cst" %>

<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="CodeSmith.QuickStart" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="SchemaExplorer" %>

<% Generate() %>

<script runat="template">

Public Overrides Sub Generate()
    
    RegisterReferences()

    Dim parentFileName As String = System.IO.Path.Combine(Me.Location, "Default.aspx")

    Dim sourceView As SourceViewTemplate = Me.Create(Of SourceViewTemplate)()
    Me.CopyPropertiesTo(sourceView)

    If Not System.IO.File.Exists(parentFileName) Then
        sourceView.RenderToFile(parentFileName, False)
    End If

    'CodeBehindTemplate
    Dim fileName As String = System.IO.Path.Combine(Location, "Default.aspx.vb")

    Dim codeBehind As CodeBehindTemplate = Me.Create(Of CodeBehindTemplate)()
    Me.CopyPropertiesTo(codeBehind)

    If Not System.IO.File.Exists(fileName) Then
        codeBehind.RenderToFile(fileName, parentFileName, False)
    End If

End Sub

</script>