<%--
	Author: Chris Lasater
		
	
	Description: Runs project Build for DataLayer
		
	Remarks:
		
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" OutputType="None" Src="../Utility/ProjectHelper.cs" Inherits="Utility.ProjectHelper" Description="Scripts DatabaseObjects" Debug="True" %>


<%@ Register Name="AssemblyInfoTemplate" Template="AssemblyInfo.cst" %>
<%@ Register Name="FormsUIErrorProviderTemplate" Template="FormsUIErrorProvider.cst" %>
<%@ Register Name="FormsUIComponentProjectTemplate" Template="FormsUIComponent.cst" %>


<% BuildProject(); %>

<script runat="template">
public void BuildProject()
{
	try
	{
		this.Response.WriteLine("Begin CodeSmith Build of DL...");
		
		PreserveRegionsMergeStrategy strategy = new PreserveRegionsMergeStrategy("^[ \t]*(?i:Programmer)", "C#");
		// instantiate the sub-template
		AssemblyInfoTemplate asm = this.Create<AssemblyInfoTemplate>();	
		asm.RegisterOutput(this.OutputFile);
		BuildSubTemplate(this, asm,strategy,string.Format("FormsUIComponent{0}AssemblyInfo.cs",Path.DirectorySeparatorChar), OutPutDirectory);
		
		// instantiate the sub-template
		FormsUIErrorProviderTemplate err = this.Create<FormsUIErrorProviderTemplate>();	
		err.RegisterOutput(this.OutputFile);
		BuildSubTemplate(this, err,strategy,string.Format("FormsUIComponent{0}FormsUIErrorProvider.cs",Path.DirectorySeparatorChar), OutPutDirectory);
			
		
		FormsUIComponentProjectTemplate cmp = this.Create<FormsUIComponentProjectTemplate>();
		cmp.FormsUIComponentProjectGuid = this.ProjectGuid;
		cmp.RegisterOutput(this.OutputFile);
		BuildSubTemplate(this, cmp, null, string.Format("FormsUIComponent{0}FormsUIComponent.csproj",Path.DirectorySeparatorChar), OutPutDirectory);
			
	}
	catch(Exception ex)
	{
		this.Response.WriteLine(string.Format("Exception Message: {0}",ex.Message));
		this.Response.WriteLine(string.Format("Exception Body: {0}",ex.ToString()));
		
	}
	finally
	{
		
	}
}



</script>