<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" OutputType="None" Inherits="Generator.CSLA.EntityCodeTemplate" %>
<%@ Register Name="CommandObject" Template="Internal\CommandObject.cst" %>
<%@ Register Name="CommandObjectDataAccess" Template="Internal\CommandObject.DataAccess.cst" %>
<%@ Register Name="CommandObjectGenerated" Template="Internal\CommandObject.Generated.cst" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="Generator.CSLA" Path="..\..\Common" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>

<script runat="template">

Public Overloads Overrides Sub Render(writer As System.IO.TextWriter)

    RegisterReferences()

Dim parentFileName As String = System.IO.Path.Combine(Me.Location, String.Format("Command\{0}.vb", BusinessClassName))
Dim fileName As String = System.IO.Path.Combine(Location, String.Format("Command\{0}.Generated.vb", BusinessClassName))
RenderToFileHelper(Of CommandObject)(parentFileName, False)
RenderToFileHelper(Of CommandObjectGenerated)(fileName, parentFileName, True)

fileName = System.IO.Path.Combine(Location, String.Format("Command\{0}.DataAccess.vb", BusinessClassName))
RenderToFileHelper(Of CommandObjectDataAccess)(fileName, parentFileName, True)

End Sub

</script>