<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Inherits="QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA Map" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.CSharpExtensions" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
        #region Properties
<% if(Entity.HasRowVersionMember) { %>

        /// <summary>
        /// Used for optimistic concurrency.
        /// </summary>
        [NotUndoable]
        private <%= Entity.RowVersionMember.SystemType %> _timestamp = new <%= Entity.RowVersionMember.SystemTypeWithSize %>;
<% } %>

<%  foreach(Member member in Entity.MembersNoRowVersion){ if (UseMemberVariables){ %>
        private static readonly PropertyInfo< <%= member.SystemType %> > <%= member.PrivateMemberVariableName %>Property = RegisterProperty< <%= member.SystemType %> >(p => p.<%= member.PropertyName %>);
        private <%= member.SystemType %> <%= member.PrivateMemberVariableName %> = <%= member.PrivateMemberVariableName %>Property.DefaultValue;<%= member.BuildDataObjectField() %>
<% if(member.HasDescription) { %>
        /// <summary>
        /// <%= member.Description %>
        /// </summary>
<% } %>
        public <%= member.SystemType %> <%= member.PropertyName %>
        {
            get { return GetProperty(<%= member.PrivateMemberVariableName %>Property, <%= member.PrivateMemberVariableName %>); }
            <% if(member.IsReadOnly) { %>internal <% } %>set { SetProperty(<%= member.PrivateMemberVariableName %>Property, ref <%= member.PrivateMemberVariableName %>, value); }
        }

<% } else { %>
        private static readonly PropertyInfo< <%= member.SystemType %> > <%= member.PrivateMemberVariableName %>Property = RegisterProperty< <%= member.SystemType %> >(p => p.<%= member.PropertyName %>);<%= member.BuildDataObjectField() %>
<% if(member.HasDescription) { %>
        /// <summary>
        /// <%= member.Description %>
        /// </summary>
<% } %>
        public <%= member.SystemType %> <%= member.PropertyName %>
        {
            get { return GetProperty(<%= member.PrivateMemberVariableName %>Property); }
            <% if(member.IsReadOnly) { %>internal <% } %>set{ SetProperty(<%= member.PrivateMemberVariableName %>Property, value); }
        }

<% } } %>
<%-- One-To-Zero-Or-One --%>
<% foreach(Association association in Entity.AssociatedOneToZeroOrOne) { 
    string associationClassName = association.ClassName;
    if(!BusinessObjectExists(association) && IsReadOnlyBusinessObject( association, "Info")) {
        associationClassName = association.ClassName + "Info";
    } %>
        //AssociatedOneToZeroOrOne
        private static readonly PropertyInfo< <%= associationClassName %> > <%= association.PrivateMemberVariableName %>Property = RegisterProperty< <%= associationClassName %> >(p => p.<%= association.PropertyName %>, Csla.RelationshipTypes.Child);
<% if(association.HasDescription) { %>
        /// <summary>
        /// <%= association.Description %>
        /// </summary>
<% } %>
        public <%= associationClassName %> <%= association.PropertyName %>
        {
            get
            {
<% if(UseLazyLoading) { %>
                if(!FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property))
                {
<% if(!BusinessObjectExists(association) && IsReadOnlyBusinessObject( association, "Info")) { %>
                    if(<%= BusinessProjectName %>.<%= associationClassName %>.Exists(new <%= BusinessProjectName %>.<%= association.ClassName %>Criteria {<%= association.BuildObjectInitializer(true) %>}))
                        LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= associationClassName %>.<%= association.SearchCriteria.MethodName%><% if(IsChildBusinessObject(association, "Info")) { %>Child<% }%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>));
<% } else { %>
                    if(IsNew || !<%= BusinessProjectName %>.<%= associationClassName %>.Exists(new <%= BusinessProjectName %>.<%= association.ClassName %>Criteria {<%= association.BuildObjectInitializer(true) %>}))
                        LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= associationClassName %>.New<%= associationClassName %>());
                    else
                        LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= associationClassName %>.<%= association.SearchCriteria.MethodName%><% if(IsChildBusinessObject(association)) { %>Child<% }%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>));
<% } %>
                }
<% } %>
                   return GetProperty(<%= association.PrivateMemberVariableName %>Property); 
            }
        }

<% } %>
<%-- Many-To-One --%>
<% foreach(Association association in Entity.AssociatedManyToOne) {
    string associationClassName = association.ClassName;
    if(!BusinessObjectExists(association) && IsReadOnlyBusinessObject(association, "Info")) {
        associationClassName = association.ClassName + "Info";
    } %>
        //AssociatedManyToOne
        private static readonly PropertyInfo< <%= associationClassName %> > <%= association.PrivateMemberVariableName %>Property = RegisterProperty< <%= associationClassName %> >(p => p.<%= association.PropertyName %>, Csla.RelationshipTypes.Child);
<% if(association.HasDescription) { %>
        /// <summary>
        /// <%= association.Description %>
        /// </summary>
<% } %>
        public <%= associationClassName %> <%= association.PropertyName %>
        {
            get
            {
<% if(UseLazyLoading) { %>
                if(!FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property))
                {
<% if(!BusinessObjectExists(association) && IsReadOnlyBusinessObject(association, "Info")) { %>
                    if(<%= BusinessProjectName %>.<%= associationClassName %>.Exists(new <%= BusinessProjectName %>.<%= association.ClassName %>Criteria {<%= association.BuildObjectInitializer(true) %>}))
                        LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= associationClassName %>.<%= association.SearchCriteria.MethodName%><% if(IsChildBusinessObject(association, "Info")) { %>Child<% }%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>));
<% } else { %>
					if(IsNew || !<%= BusinessProjectName %>.<%= associationClassName %>.Exists(new <%= BusinessProjectName %>.<%= association.ClassName %>Criteria {<%= association.BuildObjectInitializer(true) %>}))
                        LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= associationClassName %>.New<%= associationClassName %>());
                    else
                        LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= associationClassName %>.<%= association.SearchCriteria.MethodName%><% if(IsChildBusinessObject(association)) { %>Child<% }%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>));
<% } %>
                }

<% } %>
                return GetProperty(<%= association.PrivateMemberVariableName %>Property); 
            }
        }

<% } %>

<%-- One-To-Many & Many-To-Many --%>
<% foreach(Association association in Entity.AssociatedOneToMany) { 
    string associationClassName = association.ClassName;
    if(!BusinessObjectExists(association, "List") && IsReadOnlyBusinessObject(association, "InfoList")) {
        associationClassName = association.ClassName + "Info";
    }
    %>

        //AssociatedOneToMany
        private static readonly PropertyInfo< <%= associationClassName %>List > <%= association.PrivateMemberVariableName %>Property = RegisterProperty<<%= associationClassName %>List>(p => p.<%= association.PropertyName %>, Csla.RelationshipTypes.Child);
<% if(association.HasDescription) { %>
        /// <summary>
        /// <%= association.Description %>
        /// </summary>
<% } %>
        public <%= associationClassName %>List <%= association.PropertyName %>
        {
            get
            {
<% if(UseLazyLoading) { %>
                if(!FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property))
                {
<% if(!BusinessObjectExists(association, "List") && IsReadOnlyBusinessObject(association, "InfoList")) { %>
                    if(<%= BusinessProjectName %>.<%= associationClassName %>List.Exists(new <%= BusinessProjectName %>.<%= association.ClassName %>Criteria {<%= association.BuildObjectInitializer(true) %>}))
                        LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= associationClassName %>List.<%= association.SearchCriteria.MethodName%><% if(IsChildBusinessObject(association, "InfoList")) { %>Child<% }%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>));
<% } else { %>
                    if(IsNew || !<%= BusinessProjectName %>.<%= associationClassName %>List.Exists(new <%= BusinessProjectName %>.<%= association.ClassName %>Criteria {<%= association.BuildObjectInitializer(true) %>}))
                        LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= associationClassName %>List.NewList());
                    else
                        LoadProperty(<%= association.PrivateMemberVariableName %>Property, <%= BusinessProjectName %>.<%= associationClassName %>List.<%= association.SearchCriteria.MethodName%><% if(IsChildBusinessObject(association, "List")) { %>Child<% }%>(<%= association.SearchCriteria.Members.BuildPropertyVariableArguments() %>));
<% } %>
                }

<% } %>
                return GetProperty(<%= association.PrivateMemberVariableName %>Property);
            }
        }

<% } %>
        #endregion