<%@ CodeTemplate Language="VB" TargetLanguage="VB" Debug="True" 
    Description="Linq to Sql Entity Class." %>
	
<%@ Assembly Name="Generator" Path="..\..\Common"%>
<%@ Import Namespace="LinqToSqlShared.Generator" %>

<%@ Property Category="2.Class" Name="ClassNamespace" 
    Type="System.String" Default="Project.Core.Data" Optional="False" 
    Description="The namespace to use for the generated class files."%>

<%@ Property Category="2.Class" Name="ClassName" 
    Type="System.String" Default="LinqEntityBase" Optional="False" 
    Description="The names of the class."%>
	
<%@ Property Category="2.Class" Name="IncludeDataContract"
 	Type="System.Boolean" Default="False" Optional="False"
 	Description="Include WCF DataContract attributes." %>

<%@ Property Category="2.Class" Name="Framework"
	Type="FrameworkEnum" Default="v35_SP1" Optional="False"
    Description="Include Serialization attributes and what kind." %>

Imports System
Imports System.ComponentModel
<% If IncludeDataContract Then %>
Imports System.Runtime.Serialization
<%End If%>

Namespace <%= ClassNamespace %>
    ''' <summary>
    ''' A base class for Linq entities that implements notification events.
    ''' </summary>
	<%If IncludeDataContract Then %>
    <Serializable> _
	<DataContract(<%If Framework = FrameworkEnum.v35_SP1 Then %> IsReference:=True <%End If%>)> _
	<%End If%>
    Public Partial MustInherit Class <%= ClassName %> 
       Implements INotifyPropertyChanging
       Implements INotifyPropertyChanged
        ''' <summary>
        ''' Initializes a new instance of the <see cref="<%= ClassName %>"/> class.
        ''' </summary>
        Protected Sub New()
        End Sub

        #Region "Notification Events"

        ''' <summary>
        ''' Implements a PropertyChanged event.
        ''' </summary>
        Public Event PropertyChanged As PropertyChangedEventHandler Implements INotifyPropertyChanged.PropertyChanged

        ''' <summary>
        ''' Raise the PropertyChanged event for a specific property.
        ''' </summary>
        ''' <param name="propertyName">Name of the property that has changed.</param>
        <EditorBrowsable(EditorBrowsableState.Advanced)> _
        Protected Sub OnPropertyChanged(ByVal propertyName As String)
            RaiseEvent    PropertyChanged(Me, New PropertyChangedEventArgs(propertyName))
        End Sub


        ''' <summary>
        ''' Implements a PropertyChanging event.
        ''' </summary>
        Public Event PropertyChanging As PropertyChangingEventHandler Implements INotifyPropertyChanging.PropertyChanging

        ''' <summary>
        ''' Raise the PropertyChanging event for a specific property.
        ''' </summary>
        ''' <param name="propertyName">Name of the property that is changing.</param>
        <EditorBrowsable(EditorBrowsableState.Advanced)> _
        Protected Sub OnPropertyChanging(ByVal propertyName As String)
            RaiseEvent PropertyChanging(Me, New PropertyChangingEventArgs(propertyName))
        End Sub
        #End Region
    End Class
End Namespace