<%-- 
CodeSmith DBDocumenter Templates
Author:  Jason Alexander (jalexander@telligent.com), Eric J. Smith
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="HTML" Description="Generates a set of HTML-based database documentation." %>
<%@ Property Name="SourceCommand" Type="SchemaExplorer.CommandSchema" Category="Context" Description="Stored Procedure that the documentation should be based on." %>
<%@ Property Name="CommandIndex" Type="System.Int32" Category="Context" Description="The index of the command in the overall collection." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="ActiproSoftware.CodeHighlighter.Net20" %>
<%@ Assembly Name="ActiproSoftware.Shared.Net20" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="ActiproSoftware.CodeHighlighter" %>
<%@ Import Namespace="ActiproSoftware.SyntaxEditor.Addons.Dynamic" %>
<script runat="template">
public string HighlightSQL(string sql)
{
	CodeHighlighterEngine e = new CodeHighlighterEngine();
	e.LineNumberMarginVisible = true;
	return e.GenerateHtmlInline("CommandText", sql, DynamicSyntaxLanguage.LoadFromXml(this.CodeTemplateInfo.DirectoryName + "\\ActiproSoftware.SQL.xml", 0));
}
</script>
<html>
<head>
	<title><%= SourceCommand.Name %></title>
	<link href="dbdocs.css" type="text/css" rel="stylesheet" />	
</head>
<body>
<center>
<table border="0" width="90%">
<tr>
	<td class="sprocheaderbar" width="100%">
		<img src="images/stored_proc_icon.gif" border="0">&nbsp;&nbsp;<%= SourceCommand.FullName %>&nbsp;&nbsp;<i>(Created <%= SourceCommand.DateCreated %>)</i>
	</td>
	<td class="sprocheaderbar" align="center" nowrap="1">
		&nbsp;[ <a href="sproc_details_<%= CommandIndex %>.html">Details</a> | <a href="sproc_<%= CommandIndex %>.html">Source</a> ]&nbsp;
	</td>
</tr>
<tr>
	<td colspan="2">
		<pre>
<%= this.HighlightSQL(SourceCommand.CommandText) %>
		</pre>
	</td>
</tr>
</table>
</center>
</body>
</html>