<%-- 
CodeSmith DBDocumenter Templates
Author:  Jason Alexander (jalexander@telligent.com), Eric J. Smith
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="HTML" Src="DBDocumenterTemplate.cs" Inherits="DBDocumenterTemplate" Description="Template description here." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="Database that the documentation should be based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<html>
<head>
	<title>Stored Procedure Summary List</title>
	<link href="dbdocs.css" type="text/css" rel="stylesheet" />
</head>
<body>
<%
int currentColumn = 1;
CommandSchemaCollection commands = new CommandSchemaCollection(SourceDatabase.Commands);
commands.Sort(new PropertyComparer("FullName"));
int cellWidth = 100 / NUM_OF_COLUMNS;
%>
<center>
	<table width="100%">
<% for (int i = 0; i < commands.Count; i++) { %>
	<% if (currentColumn == 1) { %>
	<tr>
		<td>&nbsp;</td>
	<% } %>
		<td valign="top" valign="center" width="<%= cellWidth %>%">
			<img src="images/stored_proc_icon.gif" border="0">&nbsp;<a href="sproc_details_<%= i %>.html" target="sprocdetails"><%= commands[i].Name %></a>
		</td>
	<% if (currentColumn == NUM_OF_COLUMNS) {
		currentColumn = 1; %>
	</tr>
	<%
	} else {
		currentColumn++;
	}
} %>
	</table>
</center>
</body>
</html>