<%-- 
CodeSmith DBDocumenter Templates
Author:  Jason Alexander (jalexander@telligent.com), Eric J. Smith
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="HTML" Src="DBDocumenterTemplate.cs" Inherits="DBDocumenterTemplate" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the documentation should be based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<html>
<head>
	<title>Table Details</title>
	<link href="dbdocs.css" type="text/css" rel="stylesheet" />	
</head>
<body>
<center>
<table width="780" cellspacing="0" cellpadding="0">
<tr>
	<td class="tableheaderbar">
	      <img src="images/tables_icon.gif" border="0">&nbsp;&nbsp;<%= SourceTable.Name %>&nbsp;&nbsp;<i>(Created <%= SourceTable.DateCreated %>)</i>
	</td>
</tr>
<% if (SourceTable.Description.Length > 0) { %>	
<tr>
	<td class="descriptionBlock">
		<%= SourceTable.Description %>
	</td>
</tr>
<% } %>
<tr>
	<td>
		<table width="780">
		<tr>
			<td class="columnheaderbar" width="40">&nbsp;Key</td>
			<td class="columnheaderbar" width="40">&nbsp;ID</td>
			<td class="columnheaderbar" width="340">&nbsp;Name</td>
			<td class="columnheaderbar" width="100" nowrap="nowrap">&nbsp;Data Type</td>
			<td class="columnheaderbar" width="70" nowrap="nowrap">&nbsp;Size (P,S)</td>
			<td class="columnheaderbar" width="40">&nbsp;Nulls</td>
			<td class="columnheaderbar" width="150">&nbsp;Default</td>
		</tr>
		<% for (int i = 0; i < SourceTable.Columns.Count; i++) { %>
		<tr>
			<% if (SourceTable.Columns[i].IsPrimaryKeyMember) { %>
			<td align="center"><img src="images/check_icon.gif" border="0"></td>
			<% } else { %>
			<td align="center"><img src="images/unchecked_icon.gif" border="0"/></td>
			<% } %>
			<% if (SourceTable.Columns[i].ExtendedProperties["CS_IsIdentity"].Value.ToString().ToLower() == "true") { %>
			<td align="center"><img src="images/check_icon.gif" border="0"></td>
			<% } else { %>
			<td align="center"><img src="images/unchecked_icon.gif" border="0"/></td>
			<% } %>
			<td nowrap="nowrap"><span class="bodyText"><%= SourceTable.Columns[i].Name %></span></td>
			<td nowrap="nowrap"><span class="bodyText"><%= SourceTable.Columns[i].NativeType %></span></td>
			<td nowrap="nowrap"><span class="bodyText"><%= this.GetColumnSize(SourceTable.Columns[i]) %></span></td>
			<% if (SourceTable.Columns[i].AllowDBNull) { %>
			<td align="center"><img src="images/check_icon.gif" border="0"></td>
			<% } else { %>
			<td align="center"><img src="images/unchecked_icon.gif" border="0"/></td>
			<% } %>
			<% if (SourceTable.Columns[i].ExtendedProperties["CS_Default"].Value.ToString().Length > 0) { %>
			<td nowrap="nowrap"><span class="bodyText"><%= SourceTable.Columns[i].ExtendedProperties["CS_Default"].Value %></span></td>
			<% } else { %>
			<td>&nbsp;</td>
			<% } %>
		</tr>
			<% if (SourceTable.Columns[i].Description.Length > 0) { %>
		<tr>
			<td colspan="2">&nbsp;</td>
			<td class="descriptionBlock" colspan="5"><%= SourceTable.Columns[i].Description %></td>
		</tr>
			<% } %>
		<% } %>
		</table>
	</td>
</tr>
</table>
</center>
</body>
</html>