<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" OutputType="None" Inherits="QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA 3.8.X NameValueList" %>

<%@ Register Name="NameValueList" Template="Internal\NameValueList.cst" %>
<%@ Register Name="NameValueListDataAccess" Template="Internal\NameValueList.DataAccess.cst" %>
<%@ Register Name="NameValueListGenerated" Template="Internal\NameValueList.Generated.cst" %>

<%@ Register Name="SqlStoredProcedures" Template="..\DataAccessLayer\Internal\SQLStoredProcedures.cst" %>

<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
<%@ Import Namespace="SchemaExplorer" %>

<script runat="template">

Public Overloads Overrides Sub Render(writer As System.IO.TextWriter)

    RegisterReferences()

    Dim strategy As New PreserveRegionsMergeStrategy()
    strategy.Language = "VB"
    strategy.RegionNameRegex = "^[ \t]*[ \s]*""?(?i:Preserved)""?"

    'NameValueList
    Dim nameValueList As NameValueList = Me.Create(Of NameValueList)()
    Me.CopyPropertiesTo(nameValueList)
    nameValueList.BusinessClassName = String.Format("{0}List", nameValueList.BusinessClassName)

    Dim parentFileName As String = System.IO.Path.Combine(Me.Location, String.Format("Collections\{0}.vb", nameValueList.BusinessClassName))
    nameValueList.RenderToFile(parentFileName, strategy)

    'NameValueList.Generated
    Dim fileName As String = System.IO.Path.Combine(Location, String.Format("Collections\{0}.Generated.vb", nameValueList.BusinessClassName))

    Dim nameValueListGenerated As NameValueListGenerated = Me.Create(Of NameValueListGenerated)()
    Me.CopyPropertiesTo(nameValueListGenerated)
    nameValueListGenerated.BusinessClassName = String.Format("{0}List", nameValueListGenerated.BusinessClassName)

    nameValueListGenerated.RenderToFile(fileName, parentFileName, True)

    'NameValueList.DataAccess
    fileName = System.IO.Path.Combine(Location, String.Format("Collections\{0}.DataAccess.vb", nameValueList.BusinessClassName))

    Dim nameValueListDataAccess As NameValueListDataAccess = Me.Create(Of NameValueListDataAccess)()
    Me.CopyPropertiesTo(nameValueListDataAccess)
    nameValueListDataAccess.BusinessClassName = String.Format("{0}List", nameValueListDataAccess.BusinessClassName)

    nameValueListDataAccess.RenderToFile(fileName, parentFileName, True)
End Sub

</script>