<%-- Author: Tom DuPont --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" CompilerVersion="v3.5"
    Description="Generates an editable EntityBase class for PLINQO for NHibernate." %>

<%@ Property Category="1. Entities" Name="EntityBaseClass" Type="System.String" 
    Optional="False" Default="EntityBase" 
    Description="The default base class for PLINQO entities." %>
<%@ Property Category="2. DataContext" Name="BaseNamespace" Type="System.String" 
    Optional="False" Default="" 
    Description="Namespace of all generated base files." %>
using System;
using System.Collections.Generic;
using System.Text;
using NHibernate;

namespace <%= BaseNamespace %>
{
    public abstract partial class <%= EntityBaseClass %>
    {
        // Place your custom code here.
    }
}