<%-- Author: Tom DuPont --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" CompilerVersion="v3.5"
    Src="NHibernateHelper.cs" Inherits="NHibernateHelper"
    Description="Generates an editable Business Entity for PLINQO for NHibernate." %>

<%@ Property Category="1. Source" Name="SourceCommand" Type="CodeSmith.SchemaHelper.NHibernate.NHibernateCommandEntity"
    Optional="False"
    Description="The source entity to generate from." %>
<%@ Property Category="2. Namespaces" Name="BaseNamespace" Type="System.String"
    Optional="False"
    Description="Namespace of all generated base files." %>
    
<%@ Assembly Name="System.Xml.Linq" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="../../Common/SchemaHelper" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.NHibernate" Path="../../Common/SchemaHelper" %>

<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="CodeSmith.SchemaHelper.NHibernate" %>
using System;
using System.Collections.Generic;
using System.Text;
using NHibernate;
using <%= BaseNamespace %>;

namespace <%= SourceCommand.Namespace %>
{
	public partial class <%= SourceCommand.GetModelName() %>
    {
        // Place your custom code here.
	}
}