<%-- Author: Blake Niemyjski & Tom DuPont --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" CompilerVersion="v3.5" Encoding="UTF-8"
    Description="EF Query Extension Class." %>

<%@ Property Category="1. Source" Name="Entity" Type="CodeSmith.SchemaHelper.IEntity"
    Optional="False"
    Description="The source database to generate from." %>
<%@ Property Category="2. Class" Name="BaseNamespace" Type="System.String"
    Optional="True" Default="" 
    Description="The namespace of all generated base files." %>
<%@ Property Category="3. Query" Name="QueryNamespace" Type="System.String"
    Optional="True" Default="" 
    Description="The namespace for the interfaces.  Leave blank to not generate them." %>

<%@ Assembly Name="CodeSmith.SchemaHelper" Path="../../Common/SchemaHelper" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
using System;
<% if (!String.IsNullOrEmpty(QueryNamespace)) { %>
using <%= BaseNamespace %>;
<% } %>

namespace <%= String.IsNullOrEmpty(QueryNamespace)? BaseNamespace : QueryNamespace %>
{
    public static partial class <%= Entity.Name %>Extensions
    {
        // Place custom query extensions here.

        #region Query

        // A private class for lazy loading static compiled queries.
        private static partial class Query
        {
            // Place custom compiled queries here. 
        } 

        #endregion
    }
}