<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" Inherits="QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA Map" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.VisualBasicExtensions" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
        Dim cancel As Boolean = False
        OnChildCreating(cancel)
        If (cancel) Then
            Return
        End If

<% For Each member As Member in Entity.PrimaryKey.KeyMembers
If (member.SystemType = "System.Guid") Then
    If (UseMemberVariables) Then %>
        <%=member.PrivateMemberVariableName %> = Guid.NewGuid()
<% Else %>
        LoadProperty(<%= member.PrivateMemberVariableName %>Property, Guid.NewGuid())
<% End If
End If
Next
For Each association As Association in Entity.AssociatedForeignKeys
    For Each member As AssociationMember in association
If (member.AssociatedColumn.SystemType = "System.String" And Not member.AssociatedColumn.IsIdentity And member.AssociatedColumn.IsForeignKey) Then
    If (UseMemberVariables) Then %>
        <%= member.AssociatedColumn.PropertyName %> = "BN"
<% Else %>
        LoadProperty(<%= member.AssociatedColumn.PrivateMemberVariableName %>Property, "BN")
<% End If
End If
Next
Next
%>
        ValidationRules.CheckRules()

        OnChildCreated()
