<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" Inherits="Generator.CSLA.EntityCodeTemplate" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.VisualBasicExtensions" Path="..\..\Common" %>
<%@ Assembly Name="Generator.CSLA" Path="..\..\Common" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>

            Dim cancel As Boolean = False
            OnUpdating(cancel)
            If (cancel) Then
                Return
            End If
    
<% If(Entity.CanUpdate) Then %>  
            RaiseListChangedEvents = False
    
    <% If(IsChildBusinessObject(String.Empty)) Then %>
            ' Create a new connection.
            Using connection As New SqlConnection(ADOHelper.ConnectionString)
                connection.Open()
                Child_Update(connection)
            End Using
    <% Else %>
            For index As Integer = 0 To DeletedList.Count - 1
            DeletedList(index) = DeletedList(index).Save()
        Next
    
        DeletedList.Clear()
    
        For index As Integer = 0 To Items.Count - 1
            Items(index) = Items(index).Save()
        Next
    
    <% End If %>
    
            RaiseListChangedEvents = True
    
            OnUpdated()
<% Else %>
            Throw New NotSupportedException("This business object cannot be updated.")
<% End If %>
