<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PetshopConnectionString" connectionString="Data Source=TDUPONT-LT;Initial Catalog=Petshop;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>