<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Demonstrates using the Xml serializer." %>
<%@ Property Name="MyPurchaseOrder" Type="CodeSmith.SampleCustomProperties.PurchaseOrder" Category="Options" Description="Sample Xml serialized purchase order property." %>
<%@ Assembly Name="SampleCustomProperties" %>
// This class gen erated by CodeSmith on <%= DateTime.Now.ToLongDateString() %>
PurchaseOrder:
	Address:
		Name: <%= MyPurchaseOrder.ShipTo.Name %>
		Line1: <%= MyPurchaseOrder.ShipTo.Line1 %>
		City: <%= MyPurchaseOrder.ShipTo.City %>
		State: <%= MyPurchaseOrder.ShipTo.State %>
		Zip: <%= MyPurchaseOrder.ShipTo.Zip %>
	OrderDate: <%= MyPurchaseOrder.OrderDate %>
	Items:
		<% for (int i = 0; i < MyPurchaseOrder.OrderedItems.Length; i++) { %>
		<%= i %>:
			ItemName: <%= MyPurchaseOrder.OrderedItems[i].ItemName %>
			Description: <%= MyPurchaseOrder.OrderedItems[i].Description %>
			UnitPrice: <%= MyPurchaseOrder.OrderedItems[i].UnitPrice %>
			Quantity: <%= MyPurchaseOrder.OrderedItems[i].Quantity %>
			LineTotal: <%= MyPurchaseOrder.OrderedItems[i].LineTotal %>
		<% } %>
	SubTotal: <%= MyPurchaseOrder.SubTotal %>
	ShipCost: <%= MyPurchaseOrder.ShipCost %>
	TotalCost: <%= MyPurchaseOrder.TotalCost %>
