<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="ClassNamespace" Type="System.String" Default="" Optional="false" Description="Namspace of the generated class"%> 
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%%@ Application Codebehind="Global.asax.cs" Inherits="<%=ClassNamespace%>.Global" Language="C#" %>