<%-- 
Name: Json.cst
Author: Eric J. Smith
Description: Generate C# classes from a JSON file.
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="True" CompilerVersion="v3.5" Description="Generate C# classes from a JSON file." %>
<%@ Property Category="General" Name="JsonFile"
    Type="System.String" Default="sample.json" Optional="False"
    Description="The full path to the JSON file."
    Editor="System.Windows.Forms.Design.FileNameEditor, System.Design" %>
<%@ Property Category="General" Name="RootClassName"
    Type="System.String" Default="Root" Optional="False"
    Description="The name of the root class." %>
<%@ Property Category="General" Name="TargetNamespace"
    Type="System.String" Default="JsonClasses" Optional="False"
    Description="The name of the root class." %>
<%@ Assembly Name="Newtonsoft.Json.Net35" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Newtonsoft.Json" %>
<%@ Import Namespace="Newtonsoft.Json.Linq" %>
using System;
using System.Collections.Generic;
using System.Runtime.Serialization;
<%
if (!File.Exists(Path.Combine(this.CodeTemplateInfo.DirectoryName, JsonFile)))
    throw new ApplicationException("Json file not found.");

JObject root = JObject.Parse(File.ReadAllText(Path.Combine(this.CodeTemplateInfo.DirectoryName, JsonFile)));
%>

namespace <%= TargetNamespace %>
{
    [DataContract]
    public class <%= RootClassName %>
    {
<% RenderProperties(root); %>
    }
<%
Dictionary<string, JObject> objects = GetObjects(root);
foreach (string name in objects.Keys) {
%>
    
    [DataContract]
    public class <%= name %>
    {
<% RenderProperties(objects[name]); %>
    }
<% } %>
}
<script runat="template">
private void RenderProperties(JObject j)
{
    if (j == null)
        return;

    bool isFirst = true;

    foreach (JProperty p in j.Properties())
    {
        if (!isFirst)
            Response.WriteLine("        ");
        else
            isFirst = false;

        Response.WriteLine("        [DataMember(Name=\"" + p.Name + "\")]");
        Response.WriteLine("        public " + GetType(p.Value) + " " + StringUtil.ToPascalCase(p.Name) + " { get; set; }");
    }
}

private string GetType(JToken token)
{
    switch (token.Type)
    {
        case JTokenType.Array:
            if (token.HasValues)
                return "List<" + GetType(token.First) + ">";
            return "List<object>";
        case JTokenType.Boolean:
            return "bool";
        case JTokenType.Date:
            return "DateTime";
        case JTokenType.Float:
            return "float";
        case JTokenType.Integer:
            return "int";
        case JTokenType.Object:
            if (token.Parent == null)
                return "object";
            if (token.Parent.Type == JTokenType.Property)
                return StringUtil.ToPascalCase(StringUtil.ToSingular(((JProperty)token.Parent).Name));
            if (token.Parent.Type == JTokenType.Array && token.Parent.Parent != null && token.Parent.Parent.Type == JTokenType.Property)
                return StringUtil.ToPascalCase(StringUtil.ToSingular(((JProperty)token.Parent.Parent).Name));
            return "object";
        case JTokenType.String:
            DateTime date;
            return DateTime.TryParse(token.Value<string>(), out date) ? "DateTime" : "string";
    }

    return "object";
}

private static string[] _intrinsicTypes = new[] { "object", "bool", "DateTime", "float", "int", "string" };
private bool IsIntrinsicType(string type)
{
    return _intrinsicTypes.Any(t => t.Equals(type));
}

private Dictionary<string, JObject> GetObjects(JObject j)
{
    var objects = new Dictionary<string, JObject>();
    GetObjects(j, objects);
    return objects;
}

private void GetObjects(JObject j, Dictionary<string, JObject> objects)
{
    if (j == null)
        return;

    if (objects == null)
        objects = new Dictionary<string, JObject>();

    foreach (JProperty p in j.Properties())
    {
        switch (p.Value.Type)
        {
            case JTokenType.Array:
                if (!p.Value.HasValues)
                    continue;
                if (!objects.ContainsKey(StringUtil.ToPascalCase(StringUtil.ToSingular(p.Name))) && !IsIntrinsicType(GetType(p.Value.First)))
                    objects.Add(StringUtil.ToPascalCase(StringUtil.ToSingular(p.Name)), p.Value.First as JObject);
                GetObjects(p.Value.First as JObject, objects);
                break;
            case JTokenType.Object:
                if (!objects.ContainsKey(StringUtil.ToPascalCase(StringUtil.ToSingular(p.Name))))
                    objects.Add(StringUtil.ToPascalCase(StringUtil.ToSingular(p.Name)), p.Value as JObject);
                GetObjects(p.Value as JObject, objects);
                break;
        }
    }
}
</script>