<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>CodeSmith CSLA Templates</title>
<style type="text/css">
.style1 {
	color: #FF0000;
}
</style>
</head>

<body>

<h1>Table of Contents</h1>
<ul>
	<li><a href="#Overview">Overview</a></li>
	<li><a href="#Features">Features</a></li>
	<li><a href="#QuickStart">Quick Start</a></li>
	<li><a href="#DoItYourself">Do It Yourself</a></li>
	<li><a href="#QuickStart.cst">QuickStart.cst Template</a></li>
	<li><a href="#Entities.cst">Entities.cst Template</a></li>
	<li><a href="#DataAccess.cst_Template">DataAccess.cst Template</a></li>
	<li><a href="#KnownIssues">Known Issues</a></li>
	<li><a href="#Roadmap">Roadmap</a></li>
	<li><a href="#Download">Download</a></li>
</ul>
<h2><a title="Overview" name="Overview"></a>Overview</h2>
<p>CSLA Overview</p>
<h2><a title="Features" name="Features">Features</a></h2>
<p>The templates have the following features.</p>
<ul>
	<li>All templates can be customized to meet your needs.</li>
</ul>
<h2><a title="QuickStart" name="QuickStart">Quick Start</a></h2>
<p>The following steps will create a quick data driven site.</p>
<ol>
    <li>Open the QuickStart.cst file found in the directory with this file.</li>
    <li>Select your Datasource.</li>
    <li>Generate the template.</li>
    <li>After Visual Studio Opens, set [DataSource].UI as the startup project.</li>
    <li>Run the project.(F5)</li>
    <li>This produces a functional website.</li>
    <li>The included csp in the data project can be used to regenerate databse informatin when
        future changes are made.</li>
    <li>The quickstart has various properties that can be manipulalted in order to 
        produce differing base projects, including Language and ProjectType.</li>
</ol>

<h2><a title="DoItYourself" name="DoItYourself">Do It Yourself</a></h2>
<p>Use the following steps to get started using the CSLA templates.</p>
<ol>
	<li>Create a new Class Library project in Visual Studio 2008.</li>
	<li>Add a new CodeSmith project file to the Visual Studio project.<br />
	</li>
	<li>Add another Output to the project file for the
	<a href="#Entities.cst">Entities.cst</a> template.<br />
	</li>
	<li>Set the <i>Sample.csp -&gt; Output Options -&gt; Add Outputs</i> to Project to 
	unchecked.&nbsp; The templates update the project for you.</li>
	<li>Finally, Generate the Outputs. (Figure 5)<br />
	</li>
</ol>
<h2><a title="QuickStart.cst" name="QuickStart.cst">QuickStart.cst Template</a></h2>
<p>The QuickStart.cst temlplate is used to create a basic project using Linq to Sql. 
&nbsp; The template will create a visual studio solution with up to three included projects: 
&nbsp; A Data Project, an Interface Project, and a Test Project.
</p>
<p>Properties on the QuickStart.cst template:</p>
<table cellpadding="4">
	<tr>
		<th>Property</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>SourceDatabase</td>
		<td>The Database that will be accessed by the website.</td>
	</tr>
	<tr>
		<td>Language</td>
		<td>The language that thee project will be generated in.</td>
	</tr>
	<tr>
		<td>LaunchVisualStudio</td>
		<td>Should visual studio launch when the project finishes generating.</td>
	</tr>
	<tr>
		<td>Location</td>
		<td>The root directory of the generated solution.</td>
	</tr>
	<tr>
		<td>SolutionName</td>
		<td>The name of the Visual Studio Solution.</td>		
	</tr>
	<tr>
		<td>DataProjectName</td>
		<td>The name of the data project directory and project.</td>
	</tr>
	<tr>
		<td>InterfaceProjectName</td>
		<td>The name of the interface project directory and project.</td>
	</tr>
	</table>	

<h2><a title="Entities.cst" name="Entities.cst">Entities.cst Template</a></h2>
<p>The entities template generates the CSLA entity classes needed by the CSLA 
    framework.</p>
<p>The template will generate 3 files for every Type in the source Database file.&nbsp; One 
file will be the generated partial class that can not be changed as it is overwritten 
when the template is re-ran.&nbsp; It will have the following file name... &lt;entity&gt;.Generated.cs</p>
<p>The second file is a partial class that can be modified as it will not be re-generated.&nbsp; 
You can implement the partial methods in this file.&nbsp; Some partial method stubs 
are created by default. This file will be named... &lt;entity&gt;.cs</p>
    <p>The third file is a partial clas that cannot be modified. It stores the Data 
        Access Code. This file will be named &lt;entity&gt;.DataAccess.cs</p>
<p>If you set the project file property on the template, the generated files will 
be added to the project.&nbsp; The file that can not be modified will be hidden 
under the file that can be changed.</p>
<p>Properties on the Entities.cst template:</p>
<table cellpadding="4">
	<tr>
		<th>Property</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>OutputDirectory</td>
		<td>The folder to save the generated files.</td>
	</tr>
</table>

<h2><a title="KnownIssues" name="KnownIssues"></a>Known Issues</h2>
<ul>
	<li>The templates are a work in progress</li>
</ul>
<h2><a title="Roadmap" name="Roadmap"></a>Roadmap</h2>
<ul>
	<li>Add L2S (Linq to SQL support), NHibernate</li>
	<li>Unit test generation</li>
	<li>OnPropertyChanged Events</li>
	<li>Support for Object Factory</li>
	<li>Visual Basic support</li>
    <li>Concurrency Support</li>
</ul>
<h2><a name="Download"></a>Download</h2>
<p>Download the latest release from Google Code.</p>
<ul>
	<li><a href="http://code.google.com/p/codesmith/downloads/list">http://code.google.com/p/codesmith/downloads/list</a></li>
</ul>
<h2>History</h2>
<ul>
	<li>Release 1.0
		<ul>
			<li>Inital commit</li>
		</ul>
	</li>
</ul>

<p>&nbsp;</p>

<p class="style1">*Breaking change</p>
</body>
</html>
