<%@ CodeTemplate Src="CSLAExpress\CSLAExpress20.vb" Inherits="CSLAExpress20" Debug="False" Language="VB" TargetLanguage="VB" Description="Generates CSLA Business Objects." %>
<%@ Assembly Name="SchemaExplorer" %>

<%= Generate("EditableChildCollection") %>

<script runat="template">

<%-- *** Business Object - Child*** --%>
<!-- #include file="Properties\Collections\EditableChildCollection.vb" -->

<%-- *** File Generation *** --%>
<!-- #include file="Properties\FileGeneration\FileGeneration.vb" -->

<%-- *** General Options - Business Object *** --%>
<!-- #include file="Properties\GeneralOptionsObject\GeneralOptionsObject.vb" -->

</script>