<%-- 
Name: MDIForms Template
Author: Chris Lasater
Description: Allows generation of MDI Forms for Domain Objects
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="../Utility/ProjectHelper.cs" Inherits="Utility.ProjectHelper" Description="Single Record Interface Template" %>


<%@ XmlProperty Name="ProcedureMap" Schema="../ProceduresToMap.xsd" Default="../ProceduresToMap.xml" Category="Context" Description="The procedure map XML file." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import NameSpace="System.IO" %>
<%@ Import NameSpace="System.Text.RegularExpressions" %>
<%@ Import NameSpace="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Import NameSpace="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import NameSpace="CodeSmith.CustomProperties" %>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProductVersion>8.0.50727</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid>{<%= UserInterfaceProjectGuid.ToString().ToUpper() %>}</ProjectGuid>
    <OutputType>WinExe</OutputType>
    <AppDesignerFolder>Properties</AppDesignerFolder>
    <RootNamespace><%= CompanyNameSpace %>.<%= ProjectNameSpace %>.MDIForms.UI</RootNamespace>
    <AssemblyName><%= CompanyNameSpace %>.<%= ProjectNameSpace %>.MDIForms.UI</AssemblyName>
    <SccProjectName>
    </SccProjectName>
    <SccLocalPath>
    </SccLocalPath>
    <SccAuxPath>
    </SccAuxPath>
    <SccProvider>
    </SccProvider>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>false</Optimize>
    <OutputPath>bin\Debug\</OutputPath>
    <DefineConstants>DEBUG;TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>pdbonly</DebugType>
    <Optimize>true</Optimize>
    <OutputPath>bin\Release\</OutputPath>
    <DefineConstants>TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.configuration" />
    <Reference Include="System.Data" />
    <Reference Include="System.Deployment" />
    <Reference Include="System.Drawing" />
    <Reference Include="System.Windows.Forms" />
    <Reference Include="System.Xml" />
  </ItemGroup>
  <ItemGroup>
    <Compile Include="AboutForm.cs">
      <SubType>Form</SubType>
    </Compile>
    <Compile Include="AboutForm.Designer.cs">
      <DependentUpon>AboutForm.cs</DependentUpon>
    </Compile>
    <Compile Include="ApplicationEntry.cs" />   
	<% for(int i = 0;i < ProcedureMap.RecordSets.Count; i++) { %> 
	<% if(!string.IsNullOrEmpty(ProcedureMap.RecordSets[i].UpdateStoredProcedure.Command.Name)) { %> 
	<Compile Include="<%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>AddForm.cs">
      <SubType>Form</SubType>
    </Compile>
    <Compile Include="<%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>AddForm.Designer.cs">
      <DependentUpon><%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>AddForm.cs</DependentUpon>
    </Compile>
	<EmbeddedResource Include="<%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>AddForm.resx">
      <SubType>Designer</SubType>
      <DependentUpon><%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>AddForm.cs</DependentUpon>
    </EmbeddedResource>
    <Compile Include="<%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>EditForm.cs">
      <SubType>Form</SubType>
    </Compile>
    <Compile Include="<%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>EditForm.designer.cs">
      <DependentUpon><%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>EditForm.cs</DependentUpon>
    </Compile>
	 <EmbeddedResource Include="<%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>EditForm.resx">
      <DependentUpon><%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>EditForm.cs</DependentUpon>
      <SubType>Designer</SubType>
    </EmbeddedResource>
	<% } %>
    <Compile Include="<%= GetPluralName(ProcedureMap.RecordSets[i].Name) %>Form.cs">
      <SubType>Form</SubType>
    </Compile>
    <Compile Include="<%= GetPluralName(ProcedureMap.RecordSets[i].Name) %>Form.Designer.cs">
      <DependentUpon><%= GetPluralName(ProcedureMap.RecordSets[i].Name) %>Form.cs</DependentUpon>
    </Compile>  
	<EmbeddedResource Include="<%= GetPluralName(ProcedureMap.RecordSets[i].Name) %>Form.resx">
      <SubType>Designer</SubType>
      <DependentUpon><%= GetPluralName(ProcedureMap.RecordSets[i].Name) %>Form.cs</DependentUpon>
    </EmbeddedResource>
	<% } %>
	<Compile Include="MainMDI.cs">
      <SubType>Form</SubType>
    </Compile>
    <Compile Include="MainMDI.designer.cs">
      <DependentUpon>MainMDI.cs</DependentUpon>
    </Compile>
	<Compile Include="Properties\AssemblyInfo.cs" />
    <EmbeddedResource Include="AboutForm.resx">
      <DependentUpon>AboutForm.cs</DependentUpon>
      <SubType>Designer</SubType>
    </EmbeddedResource>
    <EmbeddedResource Include="MainMDI.resx">
      <DependentUpon>MainMDI.cs</DependentUpon>
      <SubType>Designer</SubType>
    </EmbeddedResource>    
    <None Include="App.config" />
  </ItemGroup>
  <ItemGroup>
    <ProjectReference Include="..\BusinessLayer\<%= CompanyNameSpace %>.<%= ProjectNameSpace %>.BusinessLayer.csproj">
      <Project>{CC315735-F7D6-490E-9733-1D20F11A9D07}</Project>
      <Name><%= CompanyNameSpace %>.<%= ProjectNameSpace %>.BusinessLayer</Name>
    </ProjectReference>
    <ProjectReference Include="..\DataLayer\<%= CompanyNameSpace %>.<%= ProjectNameSpace %>.DataLayer.csproj">
      <Project>{377B7B27-D4EA-4176-8F51-5F566B378575}</Project>
      <Name><%= CompanyNameSpace %>.<%= ProjectNameSpace %>.DataLayer</Name>
    </ProjectReference>
    <ProjectReference Include="..\FormsUIComponent\FormsUIComponent.csproj">
      <Project>{5D5925AD-6A1C-4BEA-BF89-E450A27EF48B}</Project>
      <Name>FormsUIComponent</Name>
    </ProjectReference>
  </ItemGroup>
  <Import Project="$(MSBuildBinPath)\Microsoft.CSharp.targets" />
  <!-- To modify your build process, add your task inside one of the targets below and uncomment it. 
       Other similar extension points exist, see Microsoft.Common.targets.
  <Target Name="BeforeBuild">
  </Target>
  <Target Name="AfterBuild">
  </Target>
  -->
</Project>