<%-- 
Name: Database Table Properties
Author: Paul Welter
Description: Create a list of properties from database table
--%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" Debug="False" Inherits="VBSqlCodeTemplate" Description="Create a list of properties from database table." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>

<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>

<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>

<% For Each column As ColumnSchema In SourceTable.Columns %>
Private _<%= StringUtil.ToCamelCase(column.Name) %> As <%= GetVBVariableType(column) %>

Public Property <%= StringUtil.ToPascalCase(column.Name) %>() As <%= GetVBVariableType(column) %>
    Get
        Return _<%= StringUtil.ToCamelCase(column.Name) %>
    End Get
    Set(ByVal value As <%= GetVBVariableType(column) %>)
        _<%= StringUtil.ToCamelCase(column.Name) %> = value
    End Set
End Property

<% Next %>