<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates a single MinToEmpty Type Converter" Debug="True" %>
<%@ Property Name="Namespace" Type="String" Default="Domain.Utility" Optional="False" Category="Context" Description="The namespace for the utility class" %>
<%@ Property Name="DomainNamespace" Type="String" Default="Business" Optional="False" Category="1. Setup" Description="The namespace to be added to the root namespace for the business objects" %>
<script runat="template"><!--#include file="..\..\Global.cs"--></script><%= GetDefaultCommentHeader() %>
using System;
using System.Collections.Generic;
using System.Text;

namespace <%= Namespace %>.<%= DomainNamespace %>.Framework
{
    /// <summary>
    /// Over-ride type converter to return null if column is minValue
    /// Only alters regular implementation if output is string and
    /// the input is the MinValue
    /// </summary>
    class MinToEmptyTypeConverter : System.ComponentModel.TypeConverter
    {
        public override object ConvertTo(System.ComponentModel.ITypeDescriptorContext context, System.Globalization.CultureInfo culture, object value, Type destinationType)
        {
            return base.ConvertTo(context, culture, GetValue(destinationType, value), destinationType);
        }

        /// <summary>
        /// Get Formatted value for specified type
        /// </summary>
        /// <param name="type"></param>
        /// <param name="value"></param>
        /// <returns></returns>
        protected static object GetValue(System.Type targetType, object value)
        {
            object returnValue = value;

            if (targetType == typeof(System.String))
            {
                if (value != null)
                {
                    System.Type type = value.GetType();

                    System.Reflection.FieldInfo minValue = type.GetField("MinValue");

                    if (minValue != null)
                    {
                        if (minValue.GetValue(null).ToString().Equals(value.ToString()))
                        {
                                returnValue = String.Empty;
                        }
                    }                    
                }
            }

            return returnValue;

        }

    }
}
