<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" OutputType="None" Inherits="Generator.CSLA.EntityCodeTemplate" %>
<%@ Register Name="DynamicRoot" Template="Internal\DynamicRoot.cst" %>
<%@ Register Name="DynamicRootDataAccess" Template="Internal\DynamicRoot.DataAccess.cst" %>
<%@ Register Name="DynamicRootDataAccessParameterized" Template="Internal\DynamicRoot.DataAccess.ParameterizedSQL.cst" %>
<%@ Register Name="DynamicRootDataAccessLinqToSQL" Template="Internal\DynamicRoot.DataAccess.LinqToSQL.cst" %>
<%@ Register Name="DynamicRootDataAccessStoredProcedures" Template="Internal\DynamicRoot.DataAccess.StoredProcedures.cst" %>
<%@ Register Name="DynamicRootGenerated" Template="Internal\DynamicRoot.Generated.cst" %>
<%@ Register Name="SqlStoredProcedures" Template="..\DataAccessLayer\Internal\SQLStoredProcedures.cst" %>

<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="Generator.CSLA" Path="..\..\Common" %>

<script runat="template">

public override void Render(System.IO.TextWriter writer)
{
    RegisterReferences();

    string parentFileName = System.IO.Path.Combine(this.Location, String.Format("Entities\\{0}.cs", BusinessClassName));
    string fileName = System.IO.Path.Combine(Location, String.Format("Entities\\{0}.Generated.cs", BusinessClassName));
    RenderToFileHelper<DynamicRoot>(parentFileName);
    RenderToFileHelper<DynamicRootGenerated>(fileName, parentFileName, true);
 
    fileName = System.IO.Path.Combine(Location, String.Format("Entities\\{0}.DataAccess.cs", BusinessClassName));
    if(DataAccessImplementation == DataAccessMethod.None)
    {
        RenderToFileHelper<DynamicRootDataAccess>(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.ParameterizedSQL)
    {
        RenderToFileHelper<DynamicRootDataAccessParameterized>(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.LinqToSQL)
    {
        RenderToFileHelper<DynamicRootDataAccessLinqToSQL>(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.StoredProcedures)
    {
        RenderToFileHelper<DynamicRootDataAccessStoredProcedures>(fileName, parentFileName, true);
        
        fileName = System.IO.Path.Combine(Location, String.Format("Entities\\{0}.StoredProcedures.sql", BusinessClassName));
        RenderProceduresToFileHelper<SqlStoredProcedures>(fileName, parentFileName, true);
    }
}

</script>