<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" OutputType="None" Inherits="Generator.CSLA.EntityCodeTemplate" %>
<%@ Register Name="EditableChildList" Template="Internal\EditableChildList.cst" %>
<%@ Register Name="EditableChildListDataAccess" Template="Internal\EditableChildList.DataAccess.cst" %>
<%@ Register Name="EditableChildListDataAccessParameterized" Template="Internal\EditableChildList.DataAccess.ParameterizedSQL.cst" %>
<%@ Register Name="EditableChildListDataAccessLinqToSQL" Template="Internal\EditableChildList.DataAccess.LinqToSQL.cst" %>
<%@ Register Name="EditableChildListDataAccessStoredProcedures" Template="Internal\EditableChildList.DataAccess.StoredProcedures.cst" %>
<%@ Register Name="EditableChildListGenerated" Template="Internal\EditableChildList.Generated.cst" %>
<%@ Register Name="SqlStoredProcedures" Template="..\DataAccessLayer\Internal\SQLStoredProcedures.cst" %>

<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="Generator.CSLA" Path="..\..\Common" %>

<script runat="template">

public override void Render(System.IO.TextWriter writer)
{
    RegisterReferences();

    string parentFileName = System.IO.Path.Combine(this.Location, String.Format("Collections\\{0}.cs", BusinessClassName));
    string fileName = System.IO.Path.Combine(Location, String.Format("Collections\\{0}.Generated.cs", BusinessClassName));
    RenderToFileHelper<EditableChildList>(parentFileName, false);
    RenderToFileHelper<EditableChildListGenerated>(fileName, parentFileName, true);
 
    fileName = System.IO.Path.Combine(Location, String.Format("Collections\\{0}.DataAccess.cs", BusinessClassName));
    if(DataAccessImplementation == DataAccessMethod.None)
    {
        RenderToFileHelper<EditableChildListDataAccess>(fileName, parentFileName, false);
    }
    else if(DataAccessImplementation == DataAccessMethod.StoredProcedures  || Entity.IsCommand())
    {
        RenderToFileHelper<EditableChildListDataAccessStoredProcedures>(fileName, parentFileName, true);

        if(Entity.IsCommand())
            return;

        fileName = System.IO.Path.Combine(Location, String.Format("Collections\\{0}.StoredProcedures.sql", BusinessClassName));
        RenderProceduresToFileHelper<SqlStoredProcedures>(fileName, parentFileName, true, false, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.ParameterizedSQL)
    {
        RenderToFileHelper<EditableChildListDataAccessParameterized>(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.LinqToSQL)
    {
        RenderToFileHelper<EditableChildListDataAccessLinqToSQL>(fileName, parentFileName, true);
    }
}

public override bool OnEntityChanging()
{
    if (string.IsNullOrEmpty(BusinessClassName))
    {
        BusinessClassName = string.Concat(Entity.Name, "List");
        ChildBusinessClassName = Entity.Name;
    }

    if (string.IsNullOrEmpty(CriteriaClassName) || CriteriaClassName.Equals("Criteria", StringComparison.InvariantCultureIgnoreCase))
        CriteriaClassName = String.Concat(Entity.Name, "Criteria");

    return false;
}

</script>