<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" OutputType="None" Inherits="Generator.CSLA.EntityCodeTemplate" %>
<%@ Register Name="EditableRoot" Template="Internal\EditableRoot.cst" %>
<%@ Register Name="EditableRootDataAccess" Template="Internal\EditableRoot.DataAccess.cst" %>
<%@ Register Name="EditableRootDataAccessParameterized" Template="Internal\EditableRoot.DataAccess.ParameterizedSQL.cst" %>
<%@ Register Name="EditableRootDataAccessLinqToSQL" Template="Internal\EditableRoot.DataAccess.LinqToSQL.cst" %>
<%@ Register Name="EditableRootDataAccessStoredProcedures" Template="Internal\EditableRoot.DataAccess.StoredProcedures.cst" %>
<%@ Register Name="EditableRootGenerated" Template="Internal\EditableRoot.Generated.cst" %>
<%@ Register Name="SqlStoredProcedures" Template="..\DataAccessLayer\Internal\SQLStoredProcedures.cst" %>

<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="Generator.CSLA" Path="..\..\Common" %>

<script runat="template">

public override void Render(System.IO.TextWriter writer)
{
    RegisterReferences();

    string parentFileName = System.IO.Path.Combine(this.Location, String.Format("Entities\\{0}.cs", BusinessClassName));
    string fileName = System.IO.Path.Combine(Location, String.Format("Entities\\{0}.Generated.cs", BusinessClassName));
    RenderToFileHelper<EditableRoot>(parentFileName, false);
    RenderToFileHelper<EditableRootGenerated>(fileName, parentFileName, true);
 
    fileName = System.IO.Path.Combine(Location, String.Format("Entities\\{0}.DataAccess.cs", BusinessClassName));
    if(DataAccessImplementation == DataAccessMethod.None)
    {
        RenderToFileHelper<EditableRootDataAccess>(fileName, parentFileName, false);
    }
    else if(DataAccessImplementation == DataAccessMethod.StoredProcedures  || Entity.IsCommand())
    {
        RenderToFileHelper<EditableRootDataAccessStoredProcedures>(fileName, parentFileName, true);

        if(Entity.IsCommand())
            return;

        fileName = System.IO.Path.Combine(Location, String.Format("Entities\\{0}.StoredProcedures.sql", BusinessClassName));
        RenderProceduresToFileHelper<SqlStoredProcedures>(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.ParameterizedSQL)
    {
        RenderToFileHelper<EditableRootDataAccessParameterized>(fileName, parentFileName, true);
    }
    else if(DataAccessImplementation == DataAccessMethod.LinqToSQL)
    {
        RenderToFileHelper<EditableRootDataAccessLinqToSQL>(fileName, parentFileName, true);
    }
}

</script>