<%@ CodeTemplate Language="VB" TargetLanguage="VB" OutputType="None" Inherits="QuickStart.EntitiesCodeTemplate" Debug="False" CompilerVersion="v3.5" Description="CSLA 3.8.X SwitchableObject" %>

<%@ Register Name="SwitchableObject" Template="Internal\SwitchableObject.cst" MergeProperties="True" ExcludeProperties="SourceTable, BusinessClassName" %>
<%@ Register Name="SwitchableObjectDataAccess" Template="Internal\SwitchableObject.DataAccess.cst" MergeProperties="True" ExcludeProperties="SourceTable, BusinessClassName" %>
<%@ Register Name="SwitchableObjectDataAccessParameterized" Template="Internal\SwitchableObject.DataAccess.ParameterizedSQL.cst" MergeProperties="True" ExcludeProperties="SourceTable, BusinessClassName" %>
<%@ Register Name="SwitchableObjectDataAccessStoredProcedures" Template="Internal\SwitchableObject.DataAccess.StoredProcedures.cst" MergeProperties="True" ExcludeProperties="SourceTable, BusinessClassName" %>
<%@ Register Name="SwitchableObjectGenerated" Template="Internal\SwitchableObject.Generated.cst" MergeProperties="True" ExcludeProperties="SourceTable, BusinessClassName" %>

<%@ Register Name="SqlStoredProcedures" Template="..\DataAccessLayer\Internal\SQLStoredProcedures.cst" %>

<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
<%@ Import Namespace="SchemaExplorer" %>

<% Generate() %>

<script runat="template">

Public Overrides Sub Generate()
    
    RegisterReferences()

    For Each entity As Entity In Entities
        
        'SwitchableObject
        Dim switchableObject As SwitchableObject = Me.Create(Of SwitchableObject)()
        Me.CopyPropertiesTo(switchableObject)
        switchableObject.SourceTable = entity.Table

        Dim parentFileName As String = System.IO.Path.Combine(Me.Location, String.Format("Entities\{0}.vb", switchableObject.BusinessClassName))
        If Not System.IO.File.Exists(parentFileName) Then
            switchableObject.RenderToFile(parentFileName, False)
        End If

        'SwitchableObject.Generated
        Dim fileName As String = System.IO.Path.Combine(Location, String.Format("Entities\{0}.Generated.vb", switchableObject.BusinessClassName))

        Dim switchableObjectGenerated As SwitchableObjectGenerated = Me.Create(Of SwitchableObjectGenerated)()
        Me.CopyPropertiesTo(switchableObjectGenerated)
        switchableObjectGenerated.SourceTable = entity.Table

        switchableObjectGenerated.RenderToFile(fileName, parentFileName, True)

        'SwitchableObject.DataAccess
        fileName = System.IO.Path.Combine(Location, String.Format("Entities\{0}.DataAccess.vb", switchableObject.BusinessClassName))
        If DataAccessImplementation = DataAccessMethod.None Then
            Dim switchableObjectDataAccess As SwitchableObjectDataAccess = Me.Create(Of SwitchableObjectDataAccess)()
            Me.CopyPropertiesTo(switchableObjectDataAccess)
            switchableObjectDataAccess.SourceTable = entity.Table
    
            switchableObjectDataAccess.RenderToFile(fileName, parentFileName, True)
        ElseIf DataAccessImplementation = DataAccessMethod.ParameterizedSQL Then
            Dim switchableObjectDataAccessParameterized As SwitchableObjectDataAccessParameterized = Me.Create(Of SwitchableObjectDataAccessParameterized)()
            Me.CopyPropertiesTo(switchableObjectDataAccessParameterized)
            switchableObjectDataAccessParameterized.SourceTable = entity.Table
    
            switchableObjectDataAccessParameterized.RenderToFile(fileName, parentFileName, True)
        ElseIf DataAccessImplementation = DataAccessMethod.StoredProcedures Then
            Dim switchableObjectDataAccessStoredProcedures As SwitchableObjectDataAccessStoredProcedures = Me.Create(Of SwitchableObjectDataAccessStoredProcedures)()
            Me.CopyPropertiesTo(switchableObjectDataAccessStoredProcedures)
            switchableObjectDataAccessStoredProcedures.SourceTable = entity.Table
            
            switchableObjectDataAccessStoredProcedures.RenderToFile(fileName, parentFileName, True)
            
            'StoredProcedures
            fileName = System.IO.Path.Combine(Location, String.Format("Entities\{0}.StoredProcedures.sql", switchableObject.BusinessClassName))
            Dim sqlStoredProcedures As SqlStoredProcedures = Me.Create(Of SqlStoredProcedures)()
            Me.CopyPropertiesTo(sqlStoredProcedures)
            sqlStoredProcedures.SourceTable = entity.Table
            sqlStoredProcedures.DataProjectName = "Not needed for sql stored procedures."
            
            sqlStoredProcedures.RenderToFile(fileName, parentFileName, True)
        End If
    Next
End Sub
</script>