<%-- 
Name: ASP.Net Samples
Author: Blake Niemyjski
Description: The following template will generate a default ASP.Net code behind.
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="The following template will generate a default ASP.Net code behind." %>

<%-- Optional Properties --%>
<%@ Property Name="GenerateWebControls" Type="System.Boolean" Default="True" Optional="False" Category="Optional" Description="If this is set to true a asp.net control will be generated." %>

using System;

namespace WebApplication
{
    public partial class _Default : System.Web.UI.Page
    {
        protected void Page_Load(object sender, EventArgs e)
        {
	}
	
		<% if(GenerateWebControls) { %>
	protected void btnHelloWorld_Click(object sender, EventArgs e)
        {
            txtHelloWorld.Text = "Hello World";
        }
		<% } %>
    }
}
