<%@ CodeTemplate Language="VB" TargetLanguage="VB" OutputType="None" Debug="False" Inherits="QuickStart.EntityMasterCodeTemplate" CompilerVersion="v3.5" Description="CSLA 3.6.1 Entities" %>

<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Collections.Generic" %>

<%-- <%@ Register Name="CommandObjectTemplate" Template="CommandObject.cst" %>
<%@ Register Name="CriteriaTemplate" Template="Criteria.cst" %>
<%@ Register Name="DynamicRootTemplate" Template="DynamicRoot.cst" %>
<%@ Register Name="DynamicRootListTemplate" Template="DynamicRootList.cst" %>
<%@ Register Name="EditableChildTemplate" Template="EditableChild.cst" %>
<%@ Register Name="EditableChildListTemplate" Template="EditableChildList.cst" %> --%>
<%@ Register Name="EditableRootTemplate" Template="EditableRoot.cst" %>
<%@ Register Name="EditableRootListTemplate" Template="EditableRootList.cst" %>
<%-- <%@ Register Name="NameValueListTemplate" Template="NameValueList.cst" %>
<%@ Register Name="ReadOnlyChildTemplate" Template="ReadOnlyChild.cst" %>
<%@ Register Name="ReadOnlyChildListTemplate" Template="ReadOnlyChildList.cst" %>
<%@ Register Name="ReadOnlyListTemplate" Template="ReadOnlyList.cst" %>
<%@ Register Name="ReadOnlyRootTemplate" Template="ReadOnlyRoot.cst" %>
<%@ Register Name="SwitchableObjectTemplate" Template="SwitchableObject.cst" %> --%>

<% Generate() %>

	<%-- 'CommandObjectTemplate
	If Me.CommandObject <> Nothing AndAlso Me.CommandObject.Count > 0 Then
		Dim commandObjectTemplate As CommandObjectTemplate = Me.Create(Of CommandObjectTemplate)()
		Me.CopyPropertiesTo(commandObjectTemplate)
		commandObjectTemplate.SourceTables = Me.CommandObject
		commandObjectTemplate.Generate()
	End If

	'CriteriaTemplate
	If Me.Criteria <> Nothing AndAlso Me.Criteria.Count > 0 Then
		Dim criteriaTemplate As CriteriaTemplate = Me.Create(Of CriteriaTemplate)()
		Me.CopyPropertiesTo(criteriaTemplate)
		criteriaTemplate.SourceTables = Me.Criteria
		criteriaTemplate.Generate()
	End If

	'DynamicRootTemplate
	If Me.DynamicRoot <> Nothing AndAlso Me.DynamicRoot.Count > 0 Then
		Dim dynamicRootTemplate As DynamicRootTemplate = Me.Create(Of DynamicRootTemplate)()
		Me.CopyPropertiesTo(dynamicRootTemplate)
		dynamicRootTemplate.SourceTables = Me.DynamicRoot
		dynamicRootTemplate.Generate()
	End If

	'DynamicRootListTemplate
	If Me.DynamicRootList <> Nothing AndAlso Me.DynamicRootList.Count > 0 Then
		Dim dynamicRootListTemplate As DynamicRootListTemplate = Me.Create(Of DynamicRootListTemplate)()
		Me.CopyPropertiesTo(dynamicRootListTemplate)
		dynamicRootListTemplate.SourceTables = Me.DynamicRootList
		dynamicRootListTemplate.Generate()
	End If

	'EditableChildTemplate
	If Me.EditableChild <> Nothing AndAlso Me.EditableChild.Count > 0 Then
		Dim editableChildTemplate As EditableChildTemplate = Me.Create(Of EditableChildTemplate)()
		Me.CopyPropertiesTo(editableChildTemplate)
		editableChildTemplate.SourceTables = Me.EditableChild
		editableChildTemplate.Generate()
	End If

	'EditableChildListTemplate
	If Me.EditableChildList <> Nothing AndAlso Me.EditableChildList.Count > 0 Then
		Dim editableChildListTemplate As EditableChildListTemplate = Me.Create(Of EditableChildListTemplate)()
		Me.CopyPropertiesTo(editableChildListTemplate)
		editableChildListTemplate.SourceTables = Me.EditableChildList
		editableChildListTemplate.Generate()
	End If
    
    
    
    'NameValueListTemplate
	If Me.NameValueList <> Nothing AndAlso Me.NameValueList.Count > 0 Then
		Dim nameValueListTemplate As NameValueListTemplate = Me.Create(Of NameValueListTemplate)()
		Me.CopyPropertiesTo(nameValueListTemplate)
		nameValueListTemplate.SourceTables = Me.NameValueList
		nameValueListTemplate.Generate()
	End If

	'ReadOnlyChildTemplate
	If Me.ReadOnlyChild <> Nothing AndAlso Me.ReadOnlyChild.Count > 0 Then
		Dim readOnlyChildTemplate As ReadOnlyChildTemplate = Me.Create(Of ReadOnlyChildTemplate)()
		Me.CopyPropertiesTo(readOnlyChildTemplate)
		readOnlyChildTemplate.SourceTables = Me.ReadOnlyChild
		readOnlyChildTemplate.Generate()
	End If

	'ReadOnlyChildListTemplate
	If Me.ReadOnlyChildList <> Nothing AndAlso Me.ReadOnlyChildList.Count > 0 Then
		Dim readOnlyChildListTemplate As ReadOnlyChildListTemplate = Me.Create(Of ReadOnlyChildListTemplate)()
		Me.CopyPropertiesTo(readOnlyChildListTemplate)
		readOnlyChildListTemplate.SourceTables = Me.ReadOnlyChildList
		readOnlyChildListTemplate.Generate()
	End If

	'ReadOnlyListTemplate
	If Me.ReadOnlyList <> Nothing AndAlso Me.ReadOnlyList.Count > 0 Then
		Dim readOnlyListTemplate As ReadOnlyListTemplate = Me.Create(Of ReadOnlyListTemplate)()
		Me.CopyPropertiesTo(readOnlyListTemplate)
		readOnlyListTemplate.SourceTables = Me.ReadOnlyList
		readOnlyListTemplate.Generate()
	End If

	'ReadOnlyRootTemplate
	If Me.ReadOnlyRoot <> Nothing AndAlso Me.ReadOnlyRoot.Count > 0 Then
		Dim readOnlyRootTemplate As ReadOnlyRootTemplate = Me.Create(Of ReadOnlyRootTemplate)()
		Me.CopyPropertiesTo(readOnlyRootTemplate)
		readOnlyRootTemplate.SourceTables = Me.ReadOnlyRoot
		readOnlyRootTemplate.Generate()
	End If

	'SwitchableObjectTemplate
	If Me.SwitchableObject <> Nothing AndAlso Me.SwitchableObject.Count > 0 Then
		Dim switchableObjectTemplate As SwitchableObjectTemplate = Me.Create(Of SwitchableObjectTemplate)()
		Me.CopyPropertiesTo(switchableObjectTemplate)
		switchableObjectTemplate.SourceTables = Me.SwitchableObject
		switchableObjectTemplate.Generate()
	End If
    
 --%>

<script runat="template">

Public Overrides Sub Generate()

	'EditableRootTemplate
	If Not Me.EditableRoot Is Nothing AndAlso Me.EditableRoot.Count > 0 Then
		Dim editableRootTemplate As EditableRootTemplate = Me.Create(Of EditableRootTemplate)()
		Me.CopyPropertiesTo(editableRootTemplate)
		editableRootTemplate.SourceTables = Me.EditableRoot
		editableRootTemplate.Generate()
	End If

	'EditableRootListTemplate
	If Not Me.EditableRootList Is Nothing AndAlso Me.EditableRootList.Count > 0 Then
		Dim editableRootListTemplate As EditableRootListTemplate = Me.Create(Of EditableRootListTemplate)()
		Me.CopyPropertiesTo(editableRootListTemplate)
		editableRootListTemplate.SourceTables = Me.EditableRootList
		editableRootListTemplate.Generate()
	End If

End Sub

</script>