<%@ CodeTemplate Language="VB" TargetLanguage="VB" Debug="True" 
    Description="Linq to Sql Entity Class." %>

<%@ Assembly Name="Dbml" %>
<%@ Import Namespace="LinqToSqlShared.DbmlObjectModel" %>

<%@ Property Category="1.Mapping" Name="Database" 
    Type="LinqToSqlShared.DbmlObjectModel.Database" Optional="False" 
    Description="Database schema instance. Must be set by parent template" %>

Imports System
Imports System.Linq
Imports System.Collections.Generic
Imports System.Text

Namespace <%= Database.ContextNamespace %>
    <%= Naming.GetModifier(Database.AccessModifier) %> Partial Class <%= Database.Class %>
        #Region "Extensibility Method Definitions"
        'TODO: Uncomment and implement partial method
        'partial void OnCreated()
        '{
        '    
        '}
        #End Region
        
    End Class
End Namespace