<configuration>
  <connectionStrings>
    <add name="TrackerContext" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Tracker;Integrated Security=True;Pooling=False" />
  </connectionStrings>
  
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="1" />
    </switches>
  </system.diagnostics>
</configuration>