<%@ CodeTemplate Language="C#" 
    TargetLanguage="Text" 
    CompilerVersion="v3.5"
    Debug="False" 
    Description="Sample using .net 3.5 syntax" %>


Sample using .net 3.5 Linq syntax.

Cities with length less then 5:

<% SampleMethod(); %>


<script runat="template">

public void SampleMethod()
{
    string [] cities = { "Auckland", "Oslo", "Sydney", "Seattle", "Paris", "Los Angeles" };

    var places = from city in cities
                 where city.Length > 5
                 orderby city descending
                 select city;
    
    foreach(string c in places)
        Response.WriteLine("City:" + c);
}
</script>