<%@ CodeTemplate Language="C#" TargetLanguage="Text" %>
<%@ Property Name="SolutionItems" Type="List<Generator.QuickStart.SolutionItem>" Optional="False" Category="1.Project" Description="" %>
<%@ Property Name="Language" Type="CodeSmith.SchemaHelper.Language" Default="CSharp" Optional="False" Category="1.Project" Description="Language the project will be in." %>
<%@ Property Name="IsLatestCSLA" Type="System.Boolean" Optional="False" Category="1.Project" Description="" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" %>
<%@ Assembly Name="Generator.QuickStart" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="System.Collections.Generic" %>
Microsoft Visual Studio Solution File, Format Version 11.00
# Visual Studio 2010
<% foreach(var solutionItem in SolutionItems) { 
    if(solutionItem.Website) { %>
Project("{<%= solutionItem.LanguageGuidString %>}") = "<%= solutionItem.Name %>", "<%= solutionItem.Name %>\", "{<%= solutionItem.GuidString %>}"
    ProjectSection(WebsiteProperties) = preProject
        TargetFramework = "<% if(IsLatestCSLA) { %>4.0<% } else { %>3.5<% } %>"
        <% foreach(var item in solutionItem.ProjectReferences) { %>
        ProjectReferences = "{<%=item.Guid.ToString()%>}|<%=item.Name%>.dll;"
        <% } %>
        Debug.AspNetCompiler.VirtualPath = "/<%= solutionItem.Name %>"
        Debug.AspNetCompiler.PhysicalPath = "<%= solutionItem.Name %>\"
        Debug.AspNetCompiler.TargetPath = "PrecompiledWeb\<%= solutionItem.Name %>\"
        Debug.AspNetCompiler.Updateable = "true"
        Debug.AspNetCompiler.ForceOverwrite = "true"
        Debug.AspNetCompiler.FixedNames = "false"
        Debug.AspNetCompiler.Debug = "True"
        Release.AspNetCompiler.VirtualPath = "/<%= solutionItem.Name %>"
        Release.AspNetCompiler.PhysicalPath = "<%= solutionItem.Name %>\"
        Release.AspNetCompiler.TargetPath = "PrecompiledWeb\<%= solutionItem.Name %>\"
        Release.AspNetCompiler.Updateable = "true"
        Release.AspNetCompiler.ForceOverwrite = "true"
        Release.AspNetCompiler.FixedNames = "false"
        Release.AspNetCompiler.Debug = "False"
        VWDPort = "33693"
        DefaultWebSiteLanguage = <%= solutionItem.Language == Language.CSharp ? "Visual C#" : "Visual Basic" %> 
    EndProjectSection
    <% } 
    else {%>
Project("{<%= solutionItem.LanguageGuidString %>}") = "<%= solutionItem.Name %>", "<%= solutionItem.Path %>", "{<%= solutionItem.GuidString %>}"
    <% } %>
EndProject
<% } %>
Global
    GlobalSection(SolutionConfigurationPlatforms) = preSolution
        Debug|Any CPU = Debug|Any CPU
        Release|Any CPU = Release|Any CPU
    EndGlobalSection
    GlobalSection(ProjectConfigurationPlatforms) = postSolution
<% foreach(var solutionItem in SolutionItems) { %>
        {<%= solutionItem.GuidString %>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
        {<%= solutionItem.GuidString %>}.Debug|Any CPU.Build.0 = Debug|Any CPU
        {<%= solutionItem.GuidString %>}.Release|Any CPU.ActiveCfg = Release|Any CPU
        {<%= solutionItem.GuidString %>}.Release|Any CPU.Build.0 = Release|Any CPU
<% } %>
    EndGlobalSection
    GlobalSection(SolutionProperties) = preSolution
        HideSolutionNode = FALSE
    EndGlobalSection
EndGlobal
