<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" OutputType="None" Inherits="QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA Criteria" %>

<%@ Register Name="Criteria" Template="Internal\Criteria.cst" %>
<%@ Register Name="CriteriaGenerated" Template="Internal\Criteria.Generated.cst" %>
<%@ Register Name="IGeneratedCriteriaTemplate" Template="Internal\IGeneratedCriteria.cst" %>

<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
<%@ Import Namespace="SchemaExplorer" %>

<script runat="template">

public override void Render(System.IO.TextWriter writer)
{
    RegisterReferences();

    #region Criteria
    
    Criteria criteria = this.Create<Criteria>();
    this.CopyPropertiesTo(criteria);
    criteria.BusinessClassName = string.Format("{0}Criteria", criteria.BusinessClassName);
    
    string parentFileName = System.IO.Path.Combine(this.Location, string.Format("Criteria\\{0}.cs", criteria.BusinessClassName));
    if (!System.IO.File.Exists(parentFileName))
    {
        criteria.RenderToFile(parentFileName, false);
    }
    
    #region Criteria.Generated
    
    string fileName = System.IO.Path.Combine(Location, string.Format("Criteria\\{0}.Generated.cs", criteria.BusinessClassName));
    
    CriteriaGenerated criteriaGenerated = this.Create<CriteriaGenerated>();
    this.CopyPropertiesTo(criteriaGenerated);
    criteriaGenerated.BusinessClassName = string.Format("{0}Criteria", criteriaGenerated.BusinessClassName);

    criteriaGenerated.RenderToFile(fileName, parentFileName, true);
    
    #endregion
    
    #endregion
    
    #region IGeneratedCriteriaTemplate

    IGeneratedCriteriaTemplate IGeneratedCriteria = this.Create<IGeneratedCriteriaTemplate>();
    this.CopyPropertiesTo(IGeneratedCriteria);
    IGeneratedCriteria.RenderToFile(System.IO.Path.Combine(this.Location, "Criteria\\Interfaces\\IGeneratedCriteria.cs"), true);

    #endregion
}

</script>