<%-- 
Name: Table Enum
Author: Paul Welter
Description: Create an enum of tables.
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" Description="Create an enum of tables." %>
<%@ Property Category="Database" Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Optional="False" Description="Database the table enums will come from." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
public enum <%= StringUtil.ToPascalCase(SourceDatabase.Name) %>Tables
{
<% for(int x = 0; x < SourceDatabase.Tables.Count; x++) 
{ 
	TableSchema table = SourceDatabase.Tables[x];
	if (x < SourceDatabase.Tables.Count -1)
		Response.WriteLine("\t{0},", StringUtil.ToPascalCase(table.Name));
	else
		Response.WriteLine("\t{0}", StringUtil.ToPascalCase(table.Name));

}
%>	
}