<%-- Author: Blake Niemyjski --%>
<%--         Joe McPherson   --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Inherits="CodeSmith.QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA 3.8.X EditableRoot" %>
<%@ Register Name="MapLinqToSQL" Template="..\..\Common\MapLinqToSQL.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="DataPortalCreate" Template="..\..\Common\DataPortalCreate.cst" MergeProperties="False" ExcludeProperties="" %>
<%-- LinqToSQL Modification --%>
<%@ Register Name="DataPortalFetch" Template="..\..\Common\DataPortalFetch.LinqToSQL.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="DataPortalInsert" Template="..\..\Common\DataPortalInsert.LinqToSQL.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="DataPortalUpdate" Template="..\..\Common\DataPortalUpdate.LinqToSQL.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="DataPortalDelete" Template="..\..\Common\DataPortalDelete.LinqToSQL.cst" MergeProperties="False" ExcludeProperties="" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.CSharpExtensions" Path="..\..\..\Common" %>
<%@ Assembly Name="CodeSmith.QuickStart" Path="..\..\..\Common" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="CodeSmith.QuickStart" %>
//------------------------------------------------------------------------------
// <autogenerated>
//     This code was generated using <%= VersionInfo %>.
//     Changes to this file will be lost after each regeneration.
//     To extend the functionality of this class, please modify the partial class '<%= BusinessClassName %>.cs'.
//
//     Template: <%= CodeTemplateInfo.FileName %>
//     Template website: http://code.google.com/p/codesmith/
// </autogenerated>
//------------------------------------------------------------------------------
<% if(IncludeSilverlightSupport) { %>
#if !SILVERLIGHT
<% } %>
#region Using declarations

using System;
using System.Data;
using System.Data.SqlClient;

using Csla;
using Csla.Data;

using <%=LinqToSQLContextNamespace%>;
using DAL=<%=LinqToSQLContextNamespace%>;

#endregion

namespace <%= BusinessProjectName %>
{
    public partial class <%= BusinessClassName %><%= Entity.GenericProperty %>
    {
		/// <summary>
        /// Instantiates a CSLA editable root business object of type <see cref="<%=BusinessClassName%><%= Entity.GenericProperty %>"/>. 
        /// </summary>
        /// <returns></returns>		
        [RunLocal]
        protected override void DataPortal_Create()
        {
<% RenderHelper(new DataPortalCreate()); %>
        }

        /// <summary>
        /// Retrieves data from the data base into a CSLA editable root business object of type <see cref="<%=BusinessClassName%><%= Entity.GenericProperty %>"/> 
		/// using the criteria provided. 
        /// </summary>
		/// <param name="criteria">Object of type <see cref="<%= CriteriaClassName %><%= Entity.GenericProperty %>"/></param>
        /// <returns></returns>
        protected void DataPortal_Fetch(<%= CriteriaClassName %><%= Entity.GenericProperty %> criteria)
        {
<% RenderHelper(new DataPortalFetch()); %>
        }

        /// <summary>
        /// Inserts data into the data base using the information in the current 
		///	CSLA editable root business object of type <see cref="<%=BusinessClassName%><%= Entity.GenericProperty %>"/> 
        /// </summary>
        /// <returns></returns>
        [Transactional(TransactionalTypes.TransactionScope)]
        protected override void DataPortal_Insert()
        {
<% RenderHelper(new DataPortalInsert()); %>
        }

        /// <summary>
        /// Updates the corresponding record in the data base with the information in the current 
		///	CSLA editable root business object of type <see cref="<%=BusinessClassName%><%= Entity.GenericProperty %>"/> 
        /// </summary>
        /// <returns></returns>
        [Transactional(TransactionalTypes.TransactionScope)]
        protected override void DataPortal_Update()
        {
<% RenderHelper(new DataPortalUpdate()); %>
        }

        /// <summary>
        /// Deletes the corresponding record in the data base with the information in the current 
		///	CSLA editable root business object of type <see cref="<%=BusinessClassName%><%= Entity.GenericProperty %>"/> 
        /// </summary>
        /// <returns></returns>
        [Transactional(TransactionalTypes.TransactionScope)]
        protected override void DataPortal_DeleteSelf()
        {
            bool cancel = false;
            OnSelfDeleting(ref cancel);
            if (cancel) return;
            
            DataPortal_Delete(new <%= CriteriaClassName %><%= Entity.GenericProperty %> (<% if(UseMemberVariables) { %><%= Entity.PrimaryKey.KeyMembers.BuildPrivateMemberVariableArguments() %><% } else { %><%= Entity.PrimaryKey.KeyMembers.BuildPropertyVariableArguments() %><% } %>));
        
            OnSelfDeleted();
        }

		/// <summary>
        /// Deletes data in the data base using the criteria specified in the <%= CriteriaClassName %><%= Entity.GenericProperty %> object.
		/// </summary>
		/// <param name="criteria">Object of type <see cref="<%= CriteriaClassName %><%= Entity.GenericProperty %>"/></param>
        /// <returns></returns>
        [Transactional(TransactionalTypes.TransactionScope)]
        protected void DataPortal_Delete(<%= CriteriaClassName %><%= Entity.GenericProperty %> criteria)
        {
<% RenderHelper(new DataPortalDelete()); %>
        }

		/// <summary>
        /// Maps data columns retrieved from the data base to the respective properties in the current 
		/// <see cref="<%= BusinessClassName %> CSLA editable root business object.
		/// </summary>
		/// <param name="criteria">Object of type <see cref="<%=LinqToSQLContextNamespace%>.<%=StringUtil.ToPascalCase(Entity.Table.Name)%> %>"/> containing the data retrieved from the data base.</param>
        /// <returns></returns>
        private void Map(DAL.<%=StringUtil.ToPascalCase(Entity.Table.Name)%> DataSource)
        {
<% RenderHelper(new MapLinqToSQL()); %>

            MarkOld();
        }
    }
}
<% if(IncludeSilverlightSupport) { %>
#endif
<% } %>