<%-- 
Name: ManagerFactory.cst
Author: Tom DuPont
Description: Generates a Manager Factory class for NHibernate.
--%>
<%@ CodeTemplate Language="C#" Src="NHibernateHelper.cs" Inherits="NHibernateHelper" TargetLanguage="C#" Debug="False" Description="Generates a Manager Factory class for NHibernate." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Optional="False" Category="1. Source Database" Description="The source database to generate from." %>
<%@ Property Name="ProjectNamespace" Type="System.String" Default="NHibernate.Generated" Optional="False" Category="2. Assemblies and Namespaces" Description="The default Namespace of the Project that will contain these objects." %>
<%@ Property Name="ManagerNamespace" Type="System.String" Default="NHibernate.Generated.ManagerObjects" Optional="False" Category="2. Assemblies and Namespaces" Description="The desired Namespace for the Manager Objects." %>
<%@ Property Name="BaseNamespace" Type="System.String" Default="NHibernate.Base" Optional="False" Category="2. Assemblies and Namespaces" Description="The Namespace where the Base classes (BusinessBase & ManagerBase) are located." %>
<%@ Property Name="ExcludedTables" Type="SchemaExplorer.TableSchemaCollection" Optional="True" Category="5. NEW" Description="A collection of tables to be excluded during generation." %>
<%@ Property Name="TablePrefix" Type="System.String" Default="" Optional="True" Category="5. NEW" Description="A prefix that will be stripped from table names when class names are generated." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<% this.tablePrefix = TablePrefix; %>
using System;
using System.Collections.Generic;
using System.Text;

using <%= BaseNamespace %>;
using <%= ManagerNamespace %>;

namespace <%= ProjectNamespace %>
{
    public interface IManagerFactory
    {
		// Get Methods
        <% foreach(TableSchema table in SourceDatabase.Tables) { %>
		<% if(!ExcludedTables.Contains(table) && !IsManyToMany(table)) { %>
		I<%= GetClassName(table.Name) %>Manager Get<%= GetClassName(table.Name) %>Manager();
		I<%= GetClassName(table.Name) %>Manager Get<%= GetClassName(table.Name) %>Manager(INHibernateSession session);
		<% } %>
		<% } %>
    }

    public class ManagerFactory : IManagerFactory
    {
        #region Constructors

        public ManagerFactory()
        {
        }

        #endregion

        #region Get Methods

 		<% foreach(TableSchema table in SourceDatabase.Tables) { %>
		<% if(!ExcludedTables.Contains(table) && !IsManyToMany(table)) { %>
		public I<%= GetClassName(table.Name) %>Manager Get<%= GetClassName(table.Name) %>Manager()
        {
            return new <%= GetClassName(table.Name) %>Manager();
        }
		public I<%= GetClassName(table.Name) %>Manager Get<%= GetClassName(table.Name) %>Manager(INHibernateSession session)
        {
            return new <%= GetClassName(table.Name) %>Manager(session);
        }
		<% } %>
		<% } %>
        
        #endregion
    }
}
