<%@ CodeTemplate Language="C#" TargetLanguage="HTML" Description="Generates HTML markup for a boostrap tabs." %>
<%@ Property Name="Tabs" Type="System.Collections.Generic.List<String>" Category="1. Required" Description="A comment delimited list of tabs to create." %>

<ul class="nav nav-tabs">
    <% foreach (var tab in Tabs.AsIndexedEnumerable()) { %>
    <li<% if (tab.IsFirst) {%> class="active"<% } %>><a href="#<%= tab.Value.ToLower().Replace(" ", "") %>"><%= tab.Value %></a></li>
    <% } %>
</ul>

<div class="tab-content">
<% foreach (var tab in Tabs.AsIndexedEnumerable()) { %>
    <div class="tab-pane<% if (tab.IsFirst) {%> active<% } %>" id="<%= tab.Value.ToLower().Replace(" ", "") %>">
      <p><%= tab.Value %> Content.</p>
    </div>
<% } %>
</div>