<%--
	Author: Chris Lasater
		
	
	Description: Runs project Build for Solution
		
	Remarks:
		
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="Utility/ProjectHelper.cs" Inherits="Utility.ProjectHelper" Description="Scripts Solution File" Debug="True" %>


<%@ Assembly Name="System.Design" %>
<%@ Import NameSpace="System.IO" %>
<%@ Import NameSpace="System.Text.RegularExpressions" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import NameSpace="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Import NameSpace="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import NameSpace="CodeSmith.CustomProperties" %>
<%@ Import NameSpace="Utility" %>
Microsoft Visual Studio Solution File, Format Version 9.00
# Visual Studio 2005
<%=	GenerateUserInterfaceProperties() %>
Project("{<%= SolutionProjectGuid.ToString().ToUpper() %>}") = "<%= CompanyNameSpace %>.<%= ProjectNameSpace %>.BusinessLayer", "BusinessLayer\<%= CompanyNameSpace %>.<%= ProjectNameSpace %>.BusinessLayer.csproj", "{<%= BusinessLayerProjectGuid.ToString().ToUpper() %>}"
EndProject
Project("{<%= SolutionProjectGuid.ToString().ToUpper() %>}") = "<%= CompanyNameSpace %>.<%= ProjectNameSpace %>.DataLayer", "DataLayer\<%= CompanyNameSpace %>.<%= ProjectNameSpace %>.DataLayer.csproj", "{<%= DataLayerProjectGuid.ToString().ToUpper() %>}"
EndProject
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution		
		{<%= BusinessLayerProjectGuid.ToString().ToUpper() %>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%= BusinessLayerProjectGuid.ToString().ToUpper() %>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%= BusinessLayerProjectGuid.ToString().ToUpper() %>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%= BusinessLayerProjectGuid.ToString().ToUpper() %>}.Release|Any CPU.Build.0 = Release|Any CPU
		{<%= DataLayerProjectGuid.ToString().ToUpper() %>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%= DataLayerProjectGuid.ToString().ToUpper() %>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%= DataLayerProjectGuid.ToString().ToUpper() %>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%= DataLayerProjectGuid.ToString().ToUpper() %>}.Release|Any CPU.Build.0 = Release|Any CPU	
		<% if(this.GenerateUI) { %>
		{<%= UserInterfaceProjectGuid.ToString().ToUpper() %>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%= UserInterfaceProjectGuid.ToString().ToUpper() %>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%= UserInterfaceProjectGuid.ToString().ToUpper() %>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%= UserInterfaceProjectGuid.ToString().ToUpper() %>}.Release|Any CPU.Build.0 = Release|Any CPU
		{<%= FormsUIComponentProjectGuid.ToString().ToUpper() %>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%= FormsUIComponentProjectGuid.ToString().ToUpper() %>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%= FormsUIComponentProjectGuid.ToString().ToUpper() %>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%= FormsUIComponentProjectGuid.ToString().ToUpper() %>}.Release|Any CPU.Build.0 = Release|Any CPU
		<% } %>
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
EndGlobal
<script runat="template">
private string GenerateUserInterfaceProperties()
{
	string retStr = string.Empty;
	if(this.GenerateUI)
	{
		switch(this.TypeOfUserInterface)
		{
			case Utility.UIType.Web:
				retStr = GenerateWebUI();
				break;
			case UIType.MDIForm: 
				retStr = GenerateMDIFormUI();	
				break;
			case UIType.WinForm: 
				retStr = GenerateWinFormUI();	
				break;
			default:
				break;
		}		
	}		
	return retStr;	
}
private string GenerateMDIFormUI()
{	
	System.Text.StringBuilder sb = new System.Text.StringBuilder();
	sb.Append("Project(\"{" + SolutionProjectGuid.ToString().ToUpper() + "}\") = \"MDIForms\", \"MDIForms\\"+ CompanyNameSpace + "." + ProjectNameSpace +".MDIForms.csproj\", \"{" + UserInterfaceProjectGuid.ToString().ToUpper() + "}\" \r\n");
	sb.Append("EndProject \r\n");
	sb.Append("Project(\"{" + SolutionProjectGuid.ToString().ToUpper() + "}\") = \"FormsUIComponent\", \"FormsUIComponent\\FormsUIComponent.csproj\", \"{" + FormsUIComponentProjectGuid.ToString().ToUpper() + "}\" \r\n");
	sb.Append("EndProject");
	return sb.ToString();	
}
private string GenerateWinFormUI()
{
	return string.Empty;	
}
private string GenerateWebUI()
{
	return string.Empty;	
}

</script>