<%-- 
Name: Gallery Generator
Author: Blake Niemyjski
Description: Generates a photo gallery.
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="html" Src="Common.cs" Inherits="CodeSmith.Samples.PhotoCodeTemplate" CompilerVersion="v3.5" Description="Tempalte that generates the main gallery page." %>
<%@ Property Name="GalleryName" Type="System.String" Default="My Photo Gallery" Optional="False" Category="1. Required" Description="Allows you to name your picture gallery."%>
<%@ Property Name="SourceDirectory" Type="System.String" Optional="False" Category="1. Required" Description="Directory where your pictures are located."%>
<%@ Property Name="CopyImagesToOutputDirectory" Type="System.Boolean" Default="True" Optional="True" Category="2. Optional" Description="If true the images will be copied to the local directory."%>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.IO" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        div h1
        {
            text-align:center;
        }
        
        div.container
        {
            float: left;
            margin-right: 20px;
            width: 100px;
            margin-bottom: 30px;
        }
        
        div.container p
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="margin: 20px;">
        <h1><%= GalleryName %></h1>
<% foreach(PhotoInformation image in GetPhotos(SourceDirectory, CopyImagesToOutputDirectory)){ %>
        <div class="container">
            <a href="<%= image.Name %>.html">
                <img src="<%= image.Path %>" width="100" height="100" border="0" /></a><br />
            <p><%= image.Description %></p>
        </div>
<% } %>
    </div>
</body>
</html>