<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Inherits="Generator.CSLA.EntityCodeTemplate" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\Common" %>
<%@ Assembly Name="Generator.CSLA" Path="..\..\Common" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>


        #region Exists Command
<% if(IncludeSilverlightSupport) { %>
#if !SILVERLIGHT
<% } %>

        /// <summary>
        /// Determines if a record exists in the <%= Entity.EntityKeyName %> table in the database for the specified criteria. 
        /// </summary>
        /// <param name="criteria">The criteria parameter is an <see cref="<%=BusinessClassName%><%= Entity.GenericProperty %>"/> object.</param>
        /// <returns>A boolean value of true is returned if a record is found.</returns>
        public static bool Exists(<%= CriteriaClassName %><%= Entity.GenericProperty %> criteria)
        {
            return <%= BusinessProjectName %>.ExistsCommand.Execute(criteria);
        }
<% if(IncludeSilverlightSupport) { %>

#endif
<% } %>

        /// <summary>
        /// Determines if a record exists in the <%= Entity.EntityKeyName %> table in the database for the specified criteria. 
        /// </summary>
        public static void Exists(<%= CriteriaClassName %><%= Entity.GenericProperty %> criteria, EventHandler<DataPortalResult<ExistsCommand>> handler)
        {
            <%= BusinessProjectName %>.ExistsCommand.Execute(criteria, handler);
        }

        #endregion

