<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Inherits="QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA Map" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
<% if(DataAccessImplementation == DataAccessMethod.ObjectFactoryNone || DataAccessImplementation == DataAccessMethod.ObjectFactoryParameterizedSQL || DataAccessImplementation == DataAccessMethod.ObjectFactoryStoredProcedures) { %>
        #region Overridden properties

        /// <summary>
        /// Returns true if the business object or any of its children properties are dirty.
        /// </summary>
        public override bool IsDirty
        {
            get
            {
                if (base.IsDirty) return true;
<%-- One-To-Zero-Or-One --%>
<% foreach(Association association in Entity.AssociatedOneToZeroOrOne) { %>
                if (FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property) && <%= association.PropertyName %>.IsDirty) return true;
<% } %>
<%-- Many-To-One --%>
<% foreach(Association association in Entity.AssociatedManyToOne) { %>
                if (FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property) && <%= association.PropertyName %>.IsDirty) return true;
<% } %>
<%-- One-To-Many & Many-To-Many --%>
<% foreach(Association association in Entity.AssociatedOneToMany) { %>
                if (FieldManager.FieldExists(<%= association.PrivateMemberVariableName %>Property) && <%= association.PropertyName %>.IsDirty) return true;
<% } %>

                return false;
            }
        }

        #endregion

<% } %>