<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Inherits="Generator.CSLA.EntityCodeTemplate" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="CodeSmith.SchemaHelper.Extensions" Path="..\..\Common" %>
<%@ Assembly Name="Generator.CSLA" Path="..\..\Common" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>

            bool cancel = false;
            OnMapping(reader, ref cancel);
            if (cancel) return;

            using(BypassPropertyChecks)
            {
<% if(Entity.ConcurrencyProperty != null) { %>
                <%= Entity.ConcurrencyProperty.Name %> = ADOHelper.GetBytes(reader, "<%= Entity.ConcurrencyProperty.KeyName %>");
<% } %>
<% foreach(IProperty property in Entity.GetProperties(PropertyType.NoConcurrency)) { if(UseMemberVariables) { %>
    <% if(property.IsNullable && property.SystemType != "System.String" && property.SystemType != "System.Byte[]") {%>
                <%= property.PrivateMemberVariableName %> = reader.IsDBNull("<%= property.KeyName %>") ? (<%= property.SystemType %>)null : <%if(!property.HasByteArrayColumn()) { %>reader.<%= property.GetReaderMethod() %>("<%= property.KeyName %>");<% } else { %>ADOHelper.GetBytes(reader);<% } %>
        <%if (property.IsType(PropertyType.Key) && !property.IsType(PropertyType.Identity)) { %>
                _original<%= property.Name %> = reader.IsDBNull("<%= property.KeyName %>") ? (<%= property.SystemType %>)null : <%if(!property.HasByteArrayColumn()) { %>reader.<%= property.GetReaderMethod() %>("<%= property.KeyName %>");<% } else { %>ADOHelper.GetBytes(reader);<% } %>
    <% } } else {%>
                <%= property.PrivateMemberVariableName %> = <%if(!property.HasByteArrayColumn()) { %>reader.<%= property.GetReaderMethod() %>("<%= property.KeyName %>");<% } else { %>ADOHelper.GetBytes(reader);<% } %>
<%if (property.IsType(PropertyType.Key) && !property.IsType(PropertyType.Identity)) { %>
                _original<%= property.Name %> = <%if(!property.HasByteArrayColumn()) { %>reader.<%= property.GetReaderMethod() %>("<%= property.KeyName %>");<% } else { %>ADOHelper.GetBytes(reader);<% } %>
<% } } } else { %>
                LoadProperty(<%= property.PrivateMemberVariableName %>Property, <%if(!property.HasByteArrayColumn()) { %>reader["<%= property.KeyName %>"]);<% } else { %>ADOHelper.GetBytes(reader, "<%= property.KeyName %>"));<% } %>
<%if (property.IsType(PropertyType.Key) && !property.IsType(PropertyType.Identity)) { %>
                LoadProperty(_original<%= property.Name %>Property, <%if(!property.HasByteArrayColumn()) { %>reader["<%= property.KeyName %>"]);<% } else { %>ADOHelper.GetBytes(reader, "<%= property.KeyName %>"));<% } %>
<% } } } %>
            }

            OnMapped();
