<%@ CodeTemplate Src="TemplateBase.cs" Inherits="CodeSmith.Csla.TemplateBase" Language="C#" TargetLanguage="C#" Description="Generates a CSLA Read Only Child Collection Object." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="ObjectName" Type="System.String" Optional="true" Category="1. Object" Description="Required - The Name of the Business Object Collection Class to Generate." %>
<%@ Property Name="ChildName" Type="System.String" Optional="true" Category="1. Object" Description="Required - The Name of the Business Object Element of the Collection." %>
<%@ Property Name="RootCommand" Type="CommandSchema" Optional="true" Category="2. Data Source" Description="Required - The stored procedure that the object is based on. Must select RootTable,  RootView, or RootCommand." %>
<%@ Property Name="RootTable" Type="TableSchema" Optional="true" Category="2. Data Source" Description="Required - The Root Table that the object is based on. Must select RootTable,  RootView, or RootCommand." %>
<%@ Property Name="RootView" Type="ViewSchema" Optional="true" Category="2. Data Source" Description="Required - The Root View that the object is based on. Must select RootTable,  RootView, or RootCommand." %>
<%@ Property Name="ResultSetIndex" Type="System.Int32" Default="1" Optional="true" Category="2. Data Source" Description="Result set index indicates which result set to use from the stored procedure. Required when using RootCommand." %>

<%-- Generic Variables for code to use  --%>
<% 
   int i = BaseIndentLevel; 
   ObjectInfo objInfo = new ObjectInfo(this);
%>
<!-- #INCLUDE FILE="AutoGenWarning.inc" -->
using System;
using System.Data;
using System.Data.SqlClient;
using Csla;
using Csla.Data;

<% if (objInfo.Namespace.Length > 0) { %>namespace <%= objInfo.Namespace %>
<%=Indent(i++)%>{ 
<% } %> 
<% if(!objInfo.IsUserPartial) {%>
<%=Indent(i)%>[Serializable()] 
<%}%>
<%=Indent(i)%><%= objInfo.Modifiers %> class <%=objInfo.NameAndSuffix%><%=objInfo.Inherits%>
<% if(objInfo.IsGeneratedBase) {%>
<%=GetConstraint(objInfo, i+1)%>
<%}%>
<%=Indent(i++)%>{
<!-- #INCLUDE FILE="ChildFactoryMethods.inc" -->

<% if(objInfo.IsGeneratedClass) {%>

<%=Indent(i)%>#region Data Access
<% if(objInfo.IsGeneratedBase) {%>
<%=Indent(i)%>[RunLocal]
<%=Indent(i)%>private void DataPortal_Create() { }

<%}%>
<%=Indent(i)%><%=objInfo.LocalMethodModifiers%> void Fetch(SafeDataReader dr)
<%=Indent(i++)%>{
<%=Indent(i)%>RaiseListChangedEvents = false;
<%=Indent(i)%>IsReadOnly = false;

<%=Indent(i)%>while(dr.Read())
<%=Indent(i+1)%>this.Add(<%=objInfo.Child%><%if(objInfo.IsGeneratedBase){%><<%=GenericTypeChildParameter%>><%}%>.<%=objInfo.GetChildMethodName%>(dr));

<%=Indent(i)%>IsReadOnly = true;
<%=Indent(i)%>RaiseListChangedEvents = true;
<%=Indent(--i)%>}
<%=Indent(i)%>#endregion //Data Access
<%}%>

<%=Indent(--i)%>}
<% if(objInfo.Namespace.Length > 0) {%>}<%}%>
