<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeSmith.Generator" version="8.0.0" targetFramework="net462" />
  <package id="CodeSmith.Generator.BaseTemplates" version="8.0.0" targetFramework="net462" />
  <package id="CodeSmith.Generator.CustomProperties" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.5" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="SchemaExplorer" version="8.0.0" targetFramework="net462" />
  <package id="SchemaExplorer.SqlSchemaProvider" version="8.0.0" targetFramework="net462" />
</packages>