<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LinqToSqlShared.DbmlObjectModel.Tests.Properties.Settings.LoreSoftConnectionString"
      connectionString="Data Source=zeus;Initial Catalog=LoreSoft;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LinqToSqlShared.DbmlObjectModel.Tests.Properties.Settings.SampleConnectionString"
      connectionString="Data Source=zeus;Initial Catalog=Sample;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
