<%-- 
Name: Interface DL Template
Author: Chris Lasater
Description: Allows generation of Concrete Public DL Interface from Update and Select stored procs
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="../Utility/ProjectHelper.cs" Inherits="Utility.ProjectHelper" Description="Single Record Interface Template" %>

<%@ XmlProperty Name="ProcedureMap" Schema="../ProceduresToMap.xsd" Default="../ProceduresToMap.xml" Category="Context" Description="The procedure map XML file." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import NameSpace="System.IO" %>
<%@ Import NameSpace="System.Text.RegularExpressions" %>
<%@ Import NameSpace="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Import NameSpace="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import NameSpace="CodeSmith.CustomProperties" %>

<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProductVersion>8.0.50727</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid>{<%= DataLayerProjectGuid.ToString().ToUpper() %>}</ProjectGuid>
    <OutputType>Library</OutputType>
    <AppDesignerFolder>Properties</AppDesignerFolder>
    <RootNamespace><%= CompanyNameSpace %>.<%= ProjectNameSpace %>.DataLayer</RootNamespace>
    <AssemblyName><%= CompanyNameSpace %>.<%= ProjectNameSpace %>.DataLayer</AssemblyName>
    <SccProjectName>
    </SccProjectName>
    <SccLocalPath>
    </SccLocalPath>
    <SccAuxPath>
    </SccAuxPath>
    <SccProvider>
    </SccProvider>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>false</Optimize>
    <OutputPath>bin\Debug\</OutputPath>
    <DefineConstants>DEBUG;TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>pdbonly</DebugType>
    <Optimize>true</Optimize>
    <OutputPath>bin\Release\</OutputPath>
    <DefineConstants>TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.configuration" />
    <Reference Include="System.Data" />
    <Reference Include="System.Xml" />
  </ItemGroup>
  <ItemGroup>
    <Compile Include="Base\SelectDBPropertyInfoAttribute.cs" />
    <Compile Include="Base\ModifyDBPropertyInfoAttribute.cs" />
    <Compile Include="Base\SelectStoredProcedureNameAttribute.cs" />
    <Compile Include="Base\DALBase.cs" />
    <Compile Include="Base\DBPropertyInfoAttribute.cs" />
    <Compile Include="Base\IDataTemplate.cs" />
    <Compile Include="Base\InsertStoredProcedureNameAttribute.cs" />
    <Compile Include="Base\TransactionType.cs" />
	<Compile Include="Properties\AssemblyInfo.cs" />
	<% for(int i = 0;i < ProcedureMap.RecordSets.Count; i++) { %>    
    <Compile Include="DL\I<%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>DL.cs" />
    <Compile Include="DL\I<%= GetPluralName(ProcedureMap.RecordSets[i].Name) %>DL.cs" />    
    <Compile Include="DL\Impl\<%= GetSingularName(ProcedureMap.RecordSets[i].Name) %>DL.cs" />
    <Compile Include="DL\Impl\<%= GetPluralName(ProcedureMap.RecordSets[i].Name) %>DL.cs" />
    <% } %>
  </ItemGroup>  
  <Import Project="$(MSBuildBinPath)\Microsoft.CSharp.targets" />
  <!-- To modify your build process, add your task inside one of the targets below and uncomment it. 
       Other similar extension points exist, see Microsoft.Common.targets.
  <Target Name="BeforeBuild">
  </Target>
  <Target Name="AfterBuild">
  </Target>
  -->
</Project>
