<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.;Integrated Security=SSPI;Database=aspnetdb" providerName="System.Data.SqlClient"/>
    <add name="TrackerConnectionString" connectionString="data source=.;Integrated Security=SSPI;Database=Tracker" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>