<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CodeSmith.Data.Caching.CacheManagerSection, CodeSmith.Data" />
  </configSections>

  <cacheManager defaultProfile="Short" defaultGroup="tests">
    <profiles>
      <add name="Short" description="Short cache" duration="0:5:0" />
      <add name="Long" description="Long cache" duration="1:0:0" />
    </profiles>
  </cacheManager>

  <connectionStrings>
    <add name="TrackerConnectionString" 
         connectionString="data source=.;Integrated Security=SSPI;Database=Tracker;Application Name=Tracker;MultipleActiveResultSets=true;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>