<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="VB" 
    TargetLanguage="Text" 
    CompilerVersion="v3.5"
    Debug="False" 
    Description="Sample using .net 3.5 syntax" %>


Sample using .net 3.5 Linq syntax.

Cities with length less then 5:

<% SampleMethod() %>


<script runat="template">

Public Sub SampleMethod()
    Dim cities As String() = {"Auckland", "Oslo", "Sydney", "Seattle", "Paris", "Los Angeles"}
    
    Dim places = From city In cities _
        Where city.Length > 5 _
        Order By city Descending _
        Select city
   
     For Each c As String In places
       Response.WriteLine("City:" & c)
    Next
 End Sub

</script>