<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" OutputType="None" Inherits="QuickStart.EntityCodeTemplate" Debug="False" CompilerVersion="v3.5" Encoding="UTF-8" Description="CSLA 3.8.X Criteria" %>

<%@ Register Name="Criteria" Template="Internal\Criteria.cst" %>
<%@ Register Name="CriteriaGenerated" Template="Internal\Criteria.Generated.cst" %>
<%@ Register Name="IGeneratedCriteriaTemplate" Template="Internal\IGeneratedCriteria.cst" %>

<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="QuickStart" %>
<%@ Import Namespace="SchemaExplorer" %>

<script runat="template">

Public Overloads Overrides Sub Render(writer As System.IO.TextWriter)

    RegisterReferences()

    'Criteria
    Dim criteria As Criteria = Me.Create(Of Criteria)()
    Me.CopyPropertiesTo(criteria)
    criteria.BusinessClassName = String.Format("{0}Criteria", criteria.BusinessClassName)

    Dim parentFileName As String = System.IO.Path.Combine(Me.Location, String.Format("Criteria\{0}.vb", criteria.BusinessClassName))
    

    If Not System.IO.File.Exists(parentFileName) Then
        criteria.RenderToFile(parentFileName, False)
    End If

    'Criteria.Generated
    Dim fileName As String = System.IO.Path.Combine(Location, String.Format("Criteria\{0}.Generated.vb", criteria.BusinessClassName))

    Dim criteriaGenerated As CriteriaGenerated = Me.Create(Of CriteriaGenerated)()
    Me.CopyPropertiesTo(criteriaGenerated)
    criteriaGenerated.BusinessClassName = String.Format("{0}Criteria", criteriaGenerated.BusinessClassName)

    criteriaGenerated.RenderToFile(fileName, parentFileName, True)
    
    Dim IGeneratedCriteria As IGeneratedCriteriaTemplate = Me.Create(Of IGeneratedCriteriaTemplate)()
    Me.CopyPropertiesTo(IGeneratedCriteria)
    IGeneratedCriteria.RenderToFile(System.IO.Path.Combine(Me.Location, "Criteria\Interfaces\IGeneratedCriteria.vb"), True)

End Sub

</script>