<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" OutputType="None" Inherits="Generator.CSLA.EntityCodeTemplate" %>
<%@ Register Name="DynamicRoot" Template="Internal\DynamicRoot.cst" %>
<%@ Register Name="DynamicRootDataAccess" Template="Internal\DynamicRoot.DataAccess.cst" %>
<%@ Register Name="DynamicRootDataAccessParameterized" Template="Internal\DynamicRoot.DataAccess.ParameterizedSQL.cst" %>
<%@ Register Name="DynamicRootDataAccessStoredProcedures" Template="Internal\DynamicRoot.DataAccess.StoredProcedures.cst" %>
<%@ Register Name="DynamicRootGenerated" Template="Internal\DynamicRoot.Generated.cst" %>
<%@ Register Name="SqlStoredProcedures" Template="..\DataAccessLayer\Internal\SQLStoredProcedures.cst" %>

<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="Generator.CSLA" Path="..\..\Common" %>

<script runat="template">

Public Overloads Overrides Sub Render(writer As System.IO.TextWriter)

    RegisterReferences()

Dim parentFileName As String = System.IO.Path.Combine(Me.Location, String.Format("Entities\{0}.vb", BusinessClassName))
Dim fileName As String = System.IO.Path.Combine(Location, String.Format("Entities\{0}.Generated.vb", BusinessClassName))
RenderToFileHelper(Of DynamicRoot)(parentFileName)
RenderToFileHelper(Of DynamicRootGenerated)(fileName, parentFileName, True)

fileName = System.IO.Path.Combine(Location, String.Format("Entities\{0}.DataAccess.vb", BusinessClassName))
If DataAccessImplementation = DataAccessMethod.None Then
    RenderToFileHelper(Of DynamicRootDataAccess)(fileName, parentFileName, True)
ElseIf DataAccessImplementation = DataAccessMethod.ParameterizedSQL Then
    RenderToFileHelper(Of DynamicRootDataAccessParameterized)(fileName, parentFileName, True)
ElseIf DataAccessImplementation = DataAccessMethod.StoredProcedures Then
    RenderToFileHelper(Of DynamicRootDataAccessStoredProcedures)(fileName, parentFileName, True)

    'StoredProcedures
    fileName = System.IO.Path.Combine(Location, String.Format("Entities\{0}.StoredProcedures.sql", BusinessClassName))
    Dim sqlStoredProcedures As SqlStoredProcedures = Me.Create(Of SqlStoredProcedures)()
    Me.CopyPropertiesTo(sqlStoredProcedures, True)
    sqlStoredProcedures.DataProjectName = "Not needed for sql stored procedures."

    sqlStoredProcedures.RenderToFile(fileName, parentFileName, True)
End If

End Sub

</script>