<%-- Author: Blake Niemyjski --%>
<%@ CodeTemplate Language="VB" TargetLanguage="VB" OutputType="None" Inherits="Generator.CSLA.EntityCodeTemplate" %>
<%@ Register Name="DynamicRootList" Template="Internal\DynamicRootList.cst" %>
<%@ Register Name="DynamicRootListDataAccess" Template="Internal\DynamicRootList.DataAccess.cst" %>
<%@ Register Name="DynamicRootListDataAccessParameterized" Template="Internal\DynamicRootList.DataAccess.ParameterizedSQL.cst" %>
<%@ Register Name="DynamicRootListDataAccessStoredProcedures" Template="Internal\DynamicRootList.DataAccess.StoredProcedures.cst" %>
<%@ Register Name="DynamicRootListGenerated" Template="Internal\DynamicRootList.Generated.cst" %>
<%@ Register Name="SqlStoredProcedures" Template="..\DataAccessLayer\Internal\SQLStoredProcedures.cst" %>

<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="Generator.CSLA" Path="..\..\Common" %>

<script runat="template">

Public Overloads Overrides Sub Render(writer As System.IO.TextWriter)

    RegisterReferences()
Dim parentFileName As String = System.IO.Path.Combine(Me.Location, String.Format("Collections\{0}.vb", BusinessClassName))
Dim fileName As String = System.IO.Path.Combine(Location, String.Format("Collections\{0}.Generated.vb", BusinessClassName))
RenderToFileHelper(Of DynamicRootList)(parentFileName)
RenderToFileHelper(Of DynamicRootListGenerated)(fileName, parentFileName, True)

fileName = System.IO.Path.Combine(Location, String.Format("Collections\{0}.DataAccess.vb", BusinessClassName))
If DataAccessImplementation = DataAccessMethod.None Then
    RenderToFileHelper(Of DynamicRootListDataAccess)(fileName, parentFileName, True)
ElseIf DataAccessImplementation = DataAccessMethod.ParameterizedSQL Then
    RenderToFileHelper(Of DynamicRootListDataAccessParameterized)(fileName, parentFileName, True)
ElseIf DataAccessImplementation = DataAccessMethod.StoredProcedures Then
    RenderToFileHelper(Of DynamicRootListDataAccessStoredProcedures)(fileName, parentFileName, True)

	If Not(Entity.HasKey) Then
		Exit Sub
	End If

    fileName = System.IO.Path.Combine(Location, String.Format("Collections\{0}.StoredProcedures.sql", BusinessClassName))
    RenderProceduresToFileHelper(Of SqlStoredProcedures)(fileName, parentFileName, True, False, True)
End If

End Sub

Public Overrides Function OnEntityChanging() As Boolean
    If String.IsNullOrEmpty(BusinessClassName) Then
        BusinessClassName = String.Concat(Entity.Name, "List")
        ChildBusinessClassName = Entity.Name
    End If

    If String.IsNullOrEmpty(CriteriaClassName) OrElse CriteriaClassName.Equals("Criteria", StringComparison.InvariantCultureIgnoreCase) Then
        CriteriaClassName = String.Concat(Entity.Name, "Criteria")
    End If

    Return False
End Function

</script>