<%@ CodeTemplate Language="C#" TargetLanguage="Text" Debug="True" Description="Outputs all extended properties from a database." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="Database to get the extended properties from." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<% OuputAllExtendedProperties(); %>
<script runat="template">
public void OuputAllExtendedProperties()
{
	this.OutputExtendedPropertyCollection(String.Format("DB={0}", SourceDatabase.Name), SourceDatabase.ExtendedProperties);
	this.Response.WriteLine("");
	
	for (int i = 0; i < SourceDatabase.Tables.Count; i++)
	{
		this.Response.IndentLevel = 1;
		this.OutputExtendedPropertyCollection(String.Format("TBL={0}", SourceDatabase.Tables[i].Name), SourceDatabase.Tables[i].ExtendedProperties);
		this.Response.WriteLine("");
		
		this.Response.IndentLevel = 2;
		for (int x = 0; x < SourceDatabase.Tables[i].Columns.Count; x++)
		{
			this.OutputExtendedPropertyCollection(String.Format("COL={0}", SourceDatabase.Tables[i].Columns[x].Name), SourceDatabase.Tables[i].Columns[x].ExtendedProperties);
			this.Response.WriteLine("");
		}
		if (SourceDatabase.Tables[i].HasPrimaryKey)
		{
			this.OutputExtendedPropertyCollection(String.Format("PK={0}", SourceDatabase.Tables[i].PrimaryKey.Name), SourceDatabase.Tables[i].PrimaryKey.ExtendedProperties);
			this.Response.WriteLine("");
		}
		for (int x = 0; x < SourceDatabase.Tables[i].Indexes.Count; x++)
		{
			this.OutputExtendedPropertyCollection(String.Format("IDX={0}", SourceDatabase.Tables[i].Indexes[x].Name), SourceDatabase.Tables[i].Indexes[x].ExtendedProperties);
			this.Response.WriteLine("");
		}
		for (int x = 0; x < SourceDatabase.Tables[i].Keys.Count; x++)
		{
			this.OutputExtendedPropertyCollection(String.Format("KEY={0}", SourceDatabase.Tables[i].Keys[x].Name), SourceDatabase.Tables[i].Keys[x].ExtendedProperties);
			this.Response.WriteLine("");
		}
	}
	
	for (int i = 0; i < SourceDatabase.Views.Count; i++)
	{
		this.Response.IndentLevel = 1;
		this.OutputExtendedPropertyCollection(String.Format("VW={0}", SourceDatabase.Views[i].Name), SourceDatabase.Views[i].ExtendedProperties);
		this.Response.WriteLine("");
		
		this.Response.IndentLevel = 2;
		for (int x = 0; x < SourceDatabase.Views[i].Columns.Count; x++)
		{
			this.OutputExtendedPropertyCollection(String.Format("COL={0}", SourceDatabase.Views[i].Columns[x].Name), SourceDatabase.Views[i].Columns[x].ExtendedProperties);
			this.Response.WriteLine("");
		}
	}
	
	for (int i = 0; i < SourceDatabase.Commands.Count; i++)
	{
		this.Response.IndentLevel = 1;
		this.OutputExtendedPropertyCollection(String.Format("CMD={0}", SourceDatabase.Commands[i].Name), SourceDatabase.Commands[i].ExtendedProperties);
		this.Response.WriteLine("");
		
		this.Response.IndentLevel = 2;
		for (int x = 0; x < SourceDatabase.Commands[i].Parameters.Count; x++)
		{
			this.OutputExtendedPropertyCollection(String.Format("PRM={0}", SourceDatabase.Commands[i].Parameters[x].Name), SourceDatabase.Commands[i].Parameters[x].ExtendedProperties);
			this.Response.WriteLine("");
		}
	}
}

public void OutputExtendedPropertyCollection(string title, ExtendedPropertyCollection extendedProperties)
{
	for (int i = 0; i < extendedProperties.Count; i++)
	{
		try
		{
			Response.WriteLine(title + ": KEY=" + extendedProperties[i].Name + ", VAL=" + (extendedProperties[i].Value != null ? extendedProperties[i].Value.ToString() : ""));
		}
		catch (Exception e)
		{
			Response.WriteLine(title + ": ERROR=" + e.ToString());
		}
	}
}
</script>
