<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8"
    Description="Linq to Sql Entity Class." %>

<%@ Property Category="2.Class" Name="ClassName" 
    Type="System.String" Default="" Optional="False" 
    Description="The name of the class."%>

<%@ Property Category="2.Class" Name="ClassNamespace" 
    Type="System.String" Default="" Optional="False" 
    Description="The namespace to use for the generated class files."%>

using System;
using System.Collections.Generic;
using System.Data.Linq;
using System.Linq;
using System.Text;
using CodeSmith.Data.Rules;
using CodeSmith.Data.Rules.Validation;

namespace <%= ClassNamespace %>
{
    public partial class <%= ClassName %>
    {
        #region Extensibility Method Definitions
        //static partial void AddRules()
        //{
        //    // Add shared rules here
        //}
        #endregion
        
        #region Query
        // A private class for lazy loading static compiled queries.
        private static partial class Query
        {
            // Add your compiled queries here. 
        } 
        #endregion
    }
}