<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8"
    Description="Linq to Sql Entity Class." %>

<%@ Property Category="2.Class" Name="ClassName" 
    Type="System.String" Default="" Optional="False" 
    Description="The name of the class."%>
<%@ Assembly Name="Dbml" Path="..\..\Common" %>
<%@ Import Namespace="LinqToSqlShared.DbmlObjectModel" %>

<%@ Property Category="2.Class" Name="ClassNamespace" 
    Type="System.String" Default="" Optional="False" 
    Description="The namespace to use for the generated class files."%>

<%@ Property Category="2.Class" Name="Table" 
    Type="LinqToSqlShared.DbmlObjectModel.Table" Optional="False" 
    Description="Must be set by parent template" %>

using System;
using System.Collections.Generic;
using System.Data.Linq;
using System.Linq;
using System.Text;
using CodeSmith.Data.Rules;
using CodeSmith.Data.Rules.Validation;

namespace <%= ClassNamespace %>
{
    <%= Naming.GetModifier(Table.Type.AccessModifier, Table.Type.Modifier) %> partial class <%= ClassName %>
    {       
        #region Query
        // A private class for lazy loading static compiled queries.
        private static partial class Query
        {
            // Add your compiled queries here. 
        } 
        #endregion
    }
}