<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates a strongly typed Stack collection." %>
<%@ Property Name="Accessibility" Type="AccessibilityEnum" Category="Options" Description="The accessibility of the collection class." %>
<%@ Property Name="TargetNamespace" Type="System.String" Optional="True" Category="Namespaces" Description="The namespace of the collection class." %>
<%@ Property Name="ClassName" Type="System.String" Optional="True" Category="Context" Description="The name of the collection class." %>
<%@ Property Name="ItemType" Type="System.String" Category="Context" Description="The element type of the collection." %>
<%@ Property Name="ItemNamespace" Type="System.String" Optional="True" Category="Namespaces" Description="The namespace of the element type." %>
<%@ Property Name="ItemValueType" Type="System.Boolean" Category="Context" Default="false" Description="Indicates whether ItemType is a value type." %>
<%@ Property Name="ItemCustomSearch" Type="System.Boolean" Category="Options" Default="false" Description="Use custom search routines for ItemType." %>
<%@ Property Name="DeepCopy" Type="System.Boolean" Optional="True" Category="Deep Copy" Default="false" Description="Generate deep copy method for the collection." %>
<%@ Property Name="DeepCopyItem" Type="System.String" Optional="True" Category="Deep Copy" Default="Clone" Description="The ItemType method that creates a deep copy." %>
<%@ Property Name="IncludeInterfaces" Type="System.Boolean" Optional="True" Category="Options" Default="true" Description="Generate required interface definitions." %>
<%@ Property Name="IncludeNamespaces" Type="System.Boolean" Optional="True" Category="Namespaces" Default="true" Description="Generate using and namespace statements." %>
<script runat="template">
<!-- #include file="CommonScript.cs" -->

public override string GetFileName() {
    ValidateClassName("Stack");
    return ClassName + ".cs";
}

public void ValidateClassName(string suffix) {
    if (ClassName == null || ClassName.Length == 0)
        ClassName = ItemType + suffix;
}

</script>
<% ValidateClassName("Stack"); %>
<% UsingNamespace("System"); %>
<% UsingNamespace("System.Collections"); %>
<% UsingNamespace(ItemNamespace); %>
<% StartNamespace(TargetNamespace); %>
    <% if (IncludeInterfaces) GenerateInterfaces("IList.cst"); %>
    #region Class <%= ClassName %>

    /// <summary>
    /// Implements a strongly typed stack of <see cref="<%= ItemType %>"/> elements.
    /// </summary>
    /// <remarks>
    /// <b><%= ClassName %></b> provides a <see cref="Stack"/>
    /// that is strongly typed for <see cref="<%= ItemType %>"/> elements.
    /// </remarks>

    [Serializable]
    <%= GetAccessModifier(Accessibility) %> class <%= ClassName %>:
        I<%= ItemType %>Collection, ICollection, ICloneable {
        #region Private Fields

        private const int _defaultCapacity = 10;

        private <%= ItemType %>[] _array = null;
        private int _count = 0;

        [NonSerialized]
        private int _version = 0;

        #endregion
        #region Private Constructors

        // helper type to identify private ctor
        private enum Tag { Default }

        private <%= ClassName %>(Tag tag) { }

        #endregion
        #region Public Constructors
        #region <%= ClassName %>()

        /// <overloads>
        /// Initializes a new instance of the <see cref="<%= ClassName %>"/> class.
        /// </overloads>
        /// <summary>
        /// Initializes a new instance of the <see cref="<%= ClassName %>"/> class
        /// that is empty and has the default initial capacity.
        /// </summary>
        /// <remarks>Please refer to <see cref="Stack()"/> for details.</remarks>

        public <%= ClassName %>() {
            this._array = new <%= ItemType %>[_defaultCapacity];
        }

        #endregion
        #region <%= ClassName %>(Int32)

        /// <summary>
        /// Initializes a new instance of the <see cref="<%= ClassName %>"/> class
        /// that is empty and has the specified initial capacity or the default initial
        /// capacity, whichever is greater.
        /// </summary>
        /// <param name="capacity">The number of elements that the new
        /// <see cref="<%= ClassName %>"/> is initially capable of storing.</param>
        /// <exception cref="ArgumentOutOfRangeException">
        /// <paramref name="capacity"/> is less than zero.</exception>
        /// <remarks>Please refer to <see cref="Stack(Int32)"/> for details.</remarks>

        public <%= ClassName %>(int capacity) {
            if (capacity < 0)
                throw new ArgumentOutOfRangeException("capacity",
                    capacity, "Argument cannot be negative.");

            if (capacity < _defaultCapacity)
                capacity = _defaultCapacity;

            this._array = new <%= ItemType %>[capacity];
        }

        #endregion
        #region <%= ClassName %>(I<%= ItemType %>Collection)

        /// <summary>
        /// Initializes a new instance of the <see cref="<%= ClassName %>"/> class
        /// that contains elements copied from the specified collection and
        /// that has the same initial capacity as the number of elements copied.
        /// </summary>
        /// <param name="collection">The <see cref="I<%= ItemType %>Collection"/>
        /// whose elements are copied to the new collection.</param>
        /// <exception cref="ArgumentNullException">
        /// <paramref name="collection"/> is a null reference.</exception>
        /// <remarks>Please refer to <see cref="Stack(ICollection)"/> for details.</remarks>

        public <%= ClassName %>(I<%= ItemType %>Collection collection) {
            if (collection == null)
                throw new ArgumentNullException("collection");

            this._array = new <%= ItemType %>[collection.Count];
            foreach (<%= ItemType %> item in collection)
                Push(item);
        }

        #endregion
        #region <%= ClassName %>(<%= ItemType %>[])

        /// <summary>
        /// Initializes a new instance of the <see cref="<%= ClassName %>"/> class
        /// that contains elements copied from the specified <see cref="<%= ItemType %>"/>
        /// array and that has the same initial capacity as the number of elements copied.
        /// </summary>
        /// <param name="array">An <see cref="Array"/> of <see cref="<%= ItemType %>"/>
        /// elements that are copied to the new collection.</param>
        /// <exception cref="ArgumentNullException">
        /// <paramref name="array"/> is a null reference.</exception>
        /// <remarks>Please refer to <see cref="Stack(ICollection)"/> for details.</remarks>

        public <%= ClassName %>(<%= ItemType %>[] array) {
            if (array == null)
                throw new ArgumentNullException("array");

            this._array = new <%= ItemType %>[array.Length];
            foreach (<%= ItemType %> item in array)
                Push(item);
        }

        #endregion
        #endregion
        #region Public Properties
        #region Count

        /// <summary>
        /// Gets the number of elements contained in the <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <value>
        /// The number of elements contained in the <see cref="<%= ClassName %>"/>.
        /// </value>
        /// <remarks>Please refer to <see cref="Stack.Count"/> for details.</remarks>

        public virtual int Count {
            get { return this._count; }
        }

        #endregion
        #region IsSynchronized

        /// <summary>
        /// Gets a value indicating whether access to the <see cref="<%= ClassName %>"/>
        /// is synchronized (thread-safe).
        /// </summary>
        /// <value><c>true</c> if access to the <see cref="<%= ClassName %>"/> is
        /// synchronized (thread-safe); otherwise, <c>false</c>. The default is <c>false</c>.</value>
        /// <remarks>Please refer to <see cref="Stack.IsSynchronized"/> for details.</remarks>

        public virtual bool IsSynchronized {
            get { return false; }
        }

        #endregion
        #region SyncRoot

        /// <summary>
        /// Gets an object that can be used to synchronize
        /// access to the <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <value>An object that can be used to synchronize
        /// access to the <see cref="<%= ClassName %>"/>.
        /// </value>
        /// <remarks>Please refer to <see cref="Stack.SyncRoot"/> for details.</remarks>

        public virtual object SyncRoot {
            get { return this; }
        }

        #endregion
        #endregion
        #region Public Methods
        #region Clear

        /// <summary>
        /// Removes all elements from the <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <remarks>Please refer to <see cref="Stack.Clear"/> for details.</remarks>

        public virtual void Clear() {
            if (this._count == 0) return;

            ++this._version;
            Array.Clear(this._array, 0, this._count);
            this._count = 0;
        }

        #endregion
        #region Clone

        /// <summary>
        /// Creates a shallow copy of the <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <returns>A shallow copy of the <see cref="<%= ClassName %>"/>.</returns>
        /// <remarks>Please refer to <see cref="Stack.Clone"/> for details.</remarks>

        public virtual object Clone() {
            <%= ClassName %> collection = new <%= ClassName %>(this._count);

            Array.Copy(this._array, 0, collection._array, 0, this._count);
            collection._count = this._count;
            collection._version = this._version;

            return collection;
        }

        #endregion
        #region Contains

        /// <summary>
        /// Determines whether the <see cref="<%= ClassName %>"/>
        /// contains the specified <see cref="<%= ItemType %>"/> element.
        /// </summary>
        /// <param name="value">The <see cref="<%= ItemType %>"/> object
        /// to locate in the <see cref="<%= ClassName %>"/>.
        <% if (!ItemValueType) { %>
        /// This argument can be a null reference.
        <% } %>
        /// </param>
        /// <returns><c>true</c> if <paramref name="value"/> is found in the
        /// <see cref="<%= ClassName %>"/>; otherwise, <c>false</c>.</returns>
        /// <remarks>Please refer to <see cref="Stack.Contains"/> for details.</remarks>

        public virtual bool Contains(<%= ItemType %> value) {
        <% if (ItemCustomSearch) { %>

        <% if (!ItemValueType) { %>
            if ((object) value == null) {
                for (int i = 0; i < this._count; i++)
                    if ((object) this._array[i] == null)
                        return true;

                return false;
            }
        <% } %>

            for (int i = 0; i < this._count; i++)
                if (value.Equals(this._array[i]))
                    return true;

            return false;
        <% } else { %>
            return (Array.IndexOf(this._array, value, 0, this._count) >= 0);
        <% } %>
        }

        #endregion
        <% if (DeepCopy) { %>
        #region Copy
        
        /// <summary>
        /// Creates a deep copy of the <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <returns>A deep copy of the <see cref="<%= ClassName %>"/>.</returns>
        /// <remarks><para>
        <% if (ItemValueType) { %>
        /// <b>Copy</b> has the same effect as <see cref="Clone"/> 
        /// because <see cref="<%= ItemType %>"/> is a value type.
        <% } else if (IsString(ItemType)) { %>
        /// <b>Copy</b> has the same effect as <see cref="Clone"/> 
        /// because strings are immutable in the .NET Framework.
        <% } else { %>
        /// <b>Copy</b> is similar to <see cref="Clone"/> but creates a deep copy of
        /// every <see cref="<%= ItemType %>"/> element in the <see cref="<%= ClassName %>"/>
        /// by invoking its <see cref="<%= ItemType %>.<%= DeepCopyItem %>"/> method.
        <% } %>
        /// </para><para>
        /// <b>Copy</b> never returns a <b><%= ClassName %></b> with a synchronized
        /// wrapper whereas <b>Clone</b> preserves any present wrapper around this 
        /// <b><%= ClassName %></b>.
        /// </para></remarks>

        public virtual <%= ClassName %> Copy() {
            <%= ClassName %> collection = new <%= ClassName %>(this._count);

        <% if (ItemValueType || IsString(ItemType)) { %>
            Array.Copy(this._array, 0, collection._array, 0, this._count);
        <% } else { %>
            for (int i = 0; i < this._count; i++)
                if ((object) this._array[i] != null)
                    collection._array[i] = (<%= ItemType %>) this._array[i].<%= DeepCopyItem %>();

        <% } %>
            collection._count = this._count;
            collection._version = this._version;

            return collection;
        }
        
        #endregion
        <% } %>
        #region CopyTo(<%= ItemType %>[])

        /// <overloads>
        /// Copies the <see cref="<%= ClassName %>"/> or a portion of it to a one-dimensional array.
        /// </overloads>
        /// <summary>
        /// Copies the entire <see cref="<%= ClassName %>"/> to a one-dimensional <see cref="Array"/>
        /// of <see cref="<%= ItemType %>"/> elements, starting at the beginning of the target array.
        /// </summary>
        /// <param name="array">The one-dimensional <see cref="Array"/> that is the destination of the
        /// <see cref="<%= ItemType %>"/> elements copied from the <see cref="<%= ClassName %>"/>.
        /// The <b>Array</b> must have zero-based indexing.</param>
        /// <exception cref="ArgumentNullException">
        /// <paramref name="array"/> is a null reference.</exception>
        /// <exception cref="ArgumentException">
        /// The number of elements in the source <see cref="<%= ClassName %>"/> is greater
        /// than the available space in the destination <paramref name="array"/>.</exception>
        /// <remarks>Please refer to <see cref="Stack.CopyTo"/> for details.</remarks>

        public virtual void CopyTo(<%= ItemType %>[] array) {
            CheckTargetArray(array, 0);
            Array.Copy(this._array, array, this._count);
            Array.Reverse(array, 0, this._count);
        }

        #endregion
        #region CopyTo(<%= ItemType %>[], Int32)

        /// <summary>
        /// Copies the entire <see cref="<%= ClassName %>"/> to a one-dimensional <see cref="Array"/>
        /// of <see cref="<%= ItemType %>"/> elements, starting at the specified index of the target array.
        /// </summary>
        /// <param name="array">The one-dimensional <see cref="Array"/> that is the destination of the
        /// <see cref="<%= ItemType %>"/> elements copied from the <see cref="<%= ClassName %>"/>.
        /// The <b>Array</b> must have zero-based indexing.</param>
        /// <param name="arrayIndex">The zero-based index in <paramref name="array"/>
        /// at which copying begins.</param>
        /// <exception cref="ArgumentNullException">
        /// <paramref name="array"/> is a null reference.</exception>
        /// <exception cref="ArgumentOutOfRangeException">
        /// <paramref name="arrayIndex"/> is less than zero.</exception>
        /// <exception cref="ArgumentException"><para>
        /// <paramref name="arrayIndex"/> is equal to or greater than the length of <paramref name="array"/>.
        /// </para><para>-or-</para><para>
        /// The number of elements in the source <see cref="<%= ClassName %>"/> is greater than the
        /// available space from <paramref name="arrayIndex"/> to the end of the destination
        /// <paramref name="array"/>.</para></exception>
        /// <remarks>Please refer to <see cref="Stack.CopyTo"/> for details.</remarks>

        public virtual void CopyTo(<%= ItemType %>[] array, int arrayIndex) {
            CheckTargetArray(array, arrayIndex);
            Array.Copy(this._array, 0, array, arrayIndex, this._count);
            Array.Reverse(array, arrayIndex, this._count);
        }

        #endregion
        #region ICollection.CopyTo(Array, Int32)

        /// <summary>
        /// Copies the entire <see cref="<%= ClassName %>"/> to a one-dimensional <see cref="Array"/>,
        /// starting at the specified index of the target array.
        /// </summary>
        /// <param name="array">The one-dimensional <see cref="Array"/> that is the destination of the
        /// <see cref="<%= ItemType %>"/> elements copied from the <see cref="<%= ClassName %>"/>.
        /// The <b>Array</b> must have zero-based indexing.</param>
        /// <param name="arrayIndex">The zero-based index in <paramref name="array"/>
        /// at which copying begins.</param>
        /// <exception cref="ArgumentNullException">
        /// <paramref name="array"/> is a null reference.</exception>
        /// <exception cref="ArgumentOutOfRangeException">
        /// <paramref name="arrayIndex"/> is less than zero.</exception>
        /// <exception cref="ArgumentException"><para>
        /// <paramref name="array"/> is multidimensional.
        /// </para><para>-or-</para><para>
        /// <paramref name="arrayIndex"/> is equal to or greater than the length of <paramref name="array"/>.
        /// </para><para>-or-</para><para>
        /// The number of elements in the source <see cref="<%= ClassName %>"/> is greater than the
        /// available space from <paramref name="arrayIndex"/> to the end of the destination
        /// <paramref name="array"/>.</para></exception>
        /// <exception cref="InvalidCastException">
        /// The <see cref="<%= ItemType %>"/> type cannot be cast automatically
        /// to the type of the destination <paramref name="array"/>.</exception>
        /// <remarks>Please refer to <see cref="Stack.CopyTo"/> for details.</remarks>

        void ICollection.CopyTo(Array array, int arrayIndex) {
            CheckTargetArray(array, arrayIndex);
            CopyTo((<%= ItemType %>[]) array, arrayIndex);
        }

        #endregion
        #region GetEnumerator: I<%= ItemType %>Enumerator

        /// <summary>
        /// Returns an <see cref="I<%= ItemType %>Enumerator"/> that can
        /// iterate through the <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <returns>An <see cref="I<%= ItemType %>Enumerator"/>
        /// for the entire <see cref="<%= ClassName %>"/>.</returns>
        /// <remarks>Please refer to <see cref="Stack.GetEnumerator"/> for details.</remarks>

        public virtual I<%= ItemType %>Enumerator GetEnumerator() {
            return new Enumerator(this);
        }

        #endregion
        #region IEnumerable.GetEnumerator: IEnumerator

        /// <summary>
        /// Returns an <see cref="IEnumerator"/> that can
        /// iterate through the <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <returns>An <see cref="IEnumerator"/>
        /// for the entire <see cref="<%= ClassName %>"/>.</returns>
        /// <remarks>Please refer to <see cref="Stack.GetEnumerator"/> for details.</remarks>

        IEnumerator IEnumerable.GetEnumerator() {
            return (IEnumerator) GetEnumerator();
        }

        #endregion
        #region Peek

        /// <summary>
        /// Returns the <see cref="<%= ItemType %>"/> element at the top
        /// of the <see cref="<%= ClassName %>"/> without removing it.
        /// </summary>
        /// <returns>The <see cref="<%= ItemType %>"/> object
        /// at the top of the <see cref="<%= ClassName %>"/>.</returns>
        /// <exception cref="InvalidOperationException">
        /// The <see cref="<%= ClassName %>"/> is empty.</exception>
        /// <remarks>Please refer to <see cref="Stack.Peek"/> for details.</remarks>

        public virtual <%= ItemType %> Peek() {
            if (this._count == 0)
                throw new InvalidOperationException("Collection is empty.");

            return this._array[this._count - 1];
        }

        #endregion
        #region Pop

        /// <summary>
        /// Removes and returns the <see cref="<%= ItemType %>"/> element
        /// at the top of the <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <returns>The <see cref="<%= ItemType %>"/> object removed
        /// from the top of the <see cref="<%= ClassName %>"/>.</returns>
        /// <exception cref="InvalidOperationException">
        /// The <see cref="<%= ClassName %>"/> is empty.</exception>
        /// <remarks>Please refer to <see cref="Stack.Pop"/> for details.</remarks>

        public virtual <%= ItemType %> Pop() {
            if (this._count == 0)
                throw new InvalidOperationException("Collection is empty.");

            ++this._version;
            <%= ItemType %> item = this._array[--this._count];
        <% if (ItemValueType) { %>
            this._array[this._count] = new <%= ItemType %>();
        <% } else { %>
            this._array[this._count] = null;
        <% } %>
            return item;
        }

        #endregion
        #region Push

        /// <summary>
        /// Inserts a <see cref="<%= ItemType %>"/> at the top of the <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <param name="value">The <see cref="<%= ItemType %>"/> object
        /// to push onto the <see cref="<%= ClassName %>"/>.
        <% if (!ItemValueType) { %>
        /// This argument can be a null reference.
        <% } %>
        /// </param>
        /// <remarks>Please refer to <see cref="Stack.Push"/> for details.</remarks>

        public virtual void Push(<%= ItemType %> value) {

            if (this._count == this._array.Length) {
                <%= ItemType %>[] newArray = new <%= ItemType %>[2 * this._array.Length];
                Array.Copy(this._array, newArray, this._count);
                this._array = newArray;
            }

            ++this._version;
            this._array[this._count++] = value;
        }

        #endregion
        #region Synchronized

        /// <summary>
        /// Returns a synchronized (thread-safe) wrapper
        /// for the specified <see cref="<%= ClassName %>"/>.
        /// </summary>
        /// <param name="collection">The <see cref="<%= ClassName %>"/> to synchronize.</param>
        /// <returns>
        /// A synchronized (thread-safe) wrapper around <paramref name="collection"/>.
        /// </returns>
        /// <exception cref="ArgumentNullException">
        /// <paramref name="collection"/> is a null reference.</exception>
        /// <remarks>Please refer to <see cref="Stack.Synchronized"/> for details.</remarks>

        public static <%= ClassName %> Synchronized(<%= ClassName %> collection) {
            if (collection == null)
                throw new ArgumentNullException("collection");

            return new SyncStack(collection);
        }

        #endregion
        #region ToArray

        /// <summary>
        /// Copies the elements of the <see cref="<%= ClassName %>"/> to a new
        /// <see cref="Array"/> of <see cref="<%= ItemType %>"/> elements.
        /// </summary>
        /// <returns>A one-dimensional <see cref="Array"/> of <see cref="<%= ItemType %>"/>
        /// elements containing copies of the elements of the <see cref="<%= ClassName %>"/>.</returns>
        /// <remarks>Please refer to <see cref="Stack.ToArray"/> for details.</remarks>

        public virtual <%= ItemType %>[] ToArray() {
            <%= ItemType %>[] array = new <%= ItemType %>[this._count];
            Array.Copy(this._array, array, this._count);
            Array.Reverse(array);
            return array;
        }

        #endregion
        #endregion
        #region Private Methods
        #region CheckEnumIndex

        private void CheckEnumIndex(int index) {
            if (index < 0 || index >= this._count)
                throw new InvalidOperationException(
                    "Enumerator is not on a collection element.");
        }

        #endregion
        #region CheckEnumVersion

        private void CheckEnumVersion(int version) {
            if (version != this._version)
                throw new InvalidOperationException(
                    "Enumerator invalidated by modification to collection.");
        }

        #endregion
        #region CheckTargetArray

        private void CheckTargetArray(Array array, int arrayIndex) {
            if (array == null)
                throw new ArgumentNullException("array");
            if (array.Rank > 1)
                throw new ArgumentException(
                    "Argument cannot be multidimensional.", "array");

            if (arrayIndex < 0)
                throw new ArgumentOutOfRangeException("arrayIndex",
                    arrayIndex, "Argument cannot be negative.");
            if (arrayIndex >= array.Length)
                throw new ArgumentException(
                    "Argument must be less than array length.", "arrayIndex");

            if (this._count > array.Length - arrayIndex)
                throw new ArgumentException(
                    "Argument section must be large enough for collection.", "array");
        }

        #endregion
        #endregion
        #region Class Enumerator

        [Serializable]
        private sealed class Enumerator:
            I<%= ItemType %>Enumerator, IEnumerator {
            #region Private Fields

            private readonly <%= ClassName %> _collection;
            private readonly int _version;
            private int _index;

            #endregion
            #region Internal Constructors

            internal Enumerator(<%= ClassName %> collection) {
                this._collection = collection;
                this._version = collection._version;
                this._index = collection.Count;
            }

            #endregion
            #region Public Properties

            public <%= ItemType %> Current {
                get {
                    this._collection.CheckEnumIndex(this._index);
                    this._collection.CheckEnumVersion(this._version);
                    return this._collection._array[this._index];
                }
            }

            object IEnumerator.Current {
                get { return Current; }
            }

            #endregion
            #region Public Methods

            public bool MoveNext() {
                this._collection.CheckEnumVersion(this._version);
                return (--this._index >= 0);
            }

            public void Reset() {
                this._collection.CheckEnumVersion(this._version);
                this._index = this._collection.Count;
            }

            #endregion
        }

        #endregion
        #region Class SyncStack

        [Serializable]
        private sealed class SyncStack: <%= ClassName %> {
            #region Private Fields

            private <%= ClassName %> _collection;
            private object _root;

            #endregion
            #region Internal Constructors

            internal SyncStack(<%= ClassName %> collection):
                base(Tag.Default) {

                this._root = collection.SyncRoot;
                this._collection = collection;
            }

            #endregion
            #region Public Properties

            public override int Count {
                get { lock (this._root) return this._collection.Count; }
            }

            public override bool IsSynchronized {
                get { return true; }
            }

            public override object SyncRoot {
                get { return this._root; }
            }

            #endregion
            #region Public Methods

            public override void Clear() {
                lock (this._root) this._collection.Clear();
            }

            public override object Clone() {
                lock (this._root)
                    return new SyncStack((<%= ClassName %>) this._collection.Clone());
            }

            public override bool Contains(<%= ItemType %> value) {
                lock (this._root) return this._collection.Contains(value);
            }
            <% if (DeepCopy) { %>

            public override <%= ClassName %> Copy() {
                lock (this._root) return this._collection.Copy();
            }
            <% } %>

            public override void CopyTo(<%= ItemType %>[] array) {
                lock (this._root) this._collection.CopyTo(array);
            }

            public override void CopyTo(<%= ItemType %>[] array, int arrayIndex) {
                lock (this._root) this._collection.CopyTo(array, arrayIndex);
            }

            public override I<%= ItemType %>Enumerator GetEnumerator() {
                lock (this._root) return this._collection.GetEnumerator();
            }

            public override <%= ItemType %> Peek() {
                lock (this._root) return this._collection.Peek();
            }

            public override <%= ItemType %> Pop() {
                lock (this._root) return this._collection.Pop();
            }

            public override void Push(<%= ItemType %> value) {
                lock (this._root) this._collection.Push(value);
            }

            public override <%= ItemType %>[] ToArray() {
                lock (this._root) return this._collection.ToArray();
            }

            #endregion
        }

        #endregion
    }

    #endregion
<% EndNamespace(TargetNamespace); %>
